[2015-04-27 08:49] albertmhanda opened #1 "Generic function for navigating in a dataset for any form"
As a developer, I have a generic function that I can use on any form that I create to navigate through a dataset

[2015-04-27 09:20] smachua opened #2 "Linking of Help button on the forms to the correct help page"
Investigate using HelpMaker software to create help pages

[2015-04-28 10:50] albertmhanda opened #3 "Dialogue for input parameters for plotting related time series of climate variables for QC"

[2015-04-30 09:53] isedwards opened #4 "Ensure multi-lingual support is built into version 4 from the outset"
As a user, I can use a language chooser to easily change the display language at any time.
As a developer, when I create new capabilities they _always_ work with the language chooser.
As a translator, I have an easy way to get involved and contribute translations for each part of the CLIMSOFT software.

[2015-04-30 18:55] isedwards opened #7 "Table 'mysql_climsoft_db_v4.data_forms' doesn't exist"
Need to add an example of the new `data_forms` table to the initial sql `/Climsoft_V4_dbase/mysql_climsoft_db_v4.sql`

[2015-04-30 18:59] isedwards opened #8 "'HelpProvider1' conflicts with variable 'HelpProvider1' in the base class 'frmGeneralForm'"
`frmMainMenu.vb` inherits from `frmGeneralForm.vb` and should inherit HelpProvider1 (but instead it currently trys to override it)

[2015-05-01 10:28] #7 closed, assigned to nobody

[2015-05-01 11:53] isedwards opened #11 "Enter and Esc buttons do not work on forms"
Add listeners to form templates and to specific forms (e.g. frmLaunchPad.vb) to take the correct action when enter and escape buttons are pressed.

[2015-05-04 09:18] isedwards opened #13 "Update sample data"
Ensure that the sample database folder `Climsoft_V4_dbase` always contains
a) sql to create an empty database
b) sql to add sample data if required

Todo:
- [x] Update `mysql_climsoft_db_v4.sql` with the new data_forms tables AND the required data that it contains (@smachua)
- [x] Create new `mysql_climsoft_db_sample_date_v4.sql` to add data for `station`, `obsElement` and `observationFinal` table

[2015-05-04 14:43] #13 closed, assigned to nobody

[2015-05-04 14:46] #8 closed, assigned to nobody

[2015-05-04 15:46] isedwards opened #18 "Sample data import fails"
- [ ] `USE mysql_main_climsoft_db_v4;` in all sql files does not match database's `mysql_climsoft_db_v4`
- [ ] **`elementId`** in `import_v4_elements.sql` does not match the current version of the CLIMSOFT 4 database in `mysql_climsoft_db_v4.sql` which uses **`code`**
- [ ] Name of csv (`climsoft_v4_elements.csv`) in `import_v4_elements.sql` does not match name of csv file in git repository: `clim

[2015-05-07 14:51] jensriede opened #21 "Sampel penman"
We are working on the Climsoft Products. Currently I try to implement the Penman-Monteith into the climobject.
For this function different information are mandatory to use this function these are:
Metadata information:

Latitude, Elevation

Montly values of

Tmax, Tmin, Windspeed

AND one of these optional variables
Monthly values of:

Daily external radiation OR Sunshine hours  OR Cloud cover

I

[2015-05-07 14:52] jensriede opened #22 "Handing of R packages"
For the products in R several packages and obviously has to be installed.
Could it be one option to deliver climsoft including binaries for R and the required R-packages?

[2015-05-07 15:59] #18 closed, assigned to nobody

[2015-05-07 16:00] #1 closed, assigned to albertmhanda

[2015-06-17 14:24] rposn opened #37 "Creating Graphics in Climsoft with R"
Dear all,
I wanted to test the connection between Climsoft and R to create plots. Following the example given in the VB:Net code, I used daily precipitation data and only the option "histogram". Climsoft seems to interact pretty well with R (it reads the "SourceString.R" file and creates dataframes). However, before getting any products I get the following error:
"Error in strptime(x,format,ty = "

[2015-07-09 14:10] #37 closed, assigned to nobody

[2015-08-28 08:16] isedwards opened #65 "Remove redundant files"
There are a number of redundant files in the project that should be removed, for example see: https://github.com/opencdms/Climsoft/pull/64/files#r38178743

The first step is to identify potentially redundant files and discuss here.

[2015-11-12 09:53] jensriede opened #97 "QC methods"
As result of the discussion with Fortunate there is some suggestion how to improve the QC in Climsoft.
There might be three different Level for QC:
First level VB code methods should be Limits check, Rate check. performed at the key entry
Second level will be in R, methods should be limits check seasonality, neighbouring station check, time series consitency check (graphic product histogramm, time

[2016-02-22 10:55] mhabimana opened #163 "Missing tables in database file"
This new version of the initial database has extra tables that are required for the software to work

[2016-02-22 11:29] isedwards commented on #163
@mhabimana 's pull request #164 fixes this issue.

[2016-02-22 11:29] #163 closed

[2016-02-25 11:05] mhabimana opened #176 "R products bug"
Users must have R and its libraries installed to their systems to be able to view R products in Climsoftv4 otherwise there will be an error message while opening R products in climsoftv4.

[2016-02-25 16:27] isedwards opened #177 "Testing Data Migration"
The new Data Migration form (to migrate data from Climsoft version 3.2 databases to version 4) is working, but it requires the user to have first created an empty Climsoft v4 schema to load data into.

e.g. the destination database name that the user provides must exist on the server that Climsoft is currently connected to, and must have empty tables with the correct columns to receive the data.

[2016-03-08 07:24] rposn opened #178 "Unable to log in"
I have seen that the alpha version of Climsoft is ready for testing. I am willing to test it, but I am not able to log in. The MySQL database has been succesfully installed, but when I enter my credentials (with "root" as username) a "Login failure" window pops-up (see screenshot below).
However, in previous stages of Climsoft, I was able to connect to the database (e.g. commit 8ea038b440134dab742

[2016-03-08 07:40] mhabimana commented on #178
Thanks Very much for your e-mail,
You are right,the Alpha is out and the database has changed,now we are using mariadb_climsoft_db_v4 configured at  port: 3308.So you will need to change the database.The latest changes will be pushed to GitHub very soon.Hope this will help.
Marcellin

[2016-03-08 08:17] mhabimana commented on #178
Dear Raphael,
This is the new configuration of the database (config.inf),After synchronization you should get the latest copy of the climsoft version 4 on GitHub which has the new database configuration below :server=127.0.0.1;database=mariadb_climsoft_db_v4;port=3308; instead  of : server=127.0.0.1;database=mysql_climsoft_db_v4;port=3306;
Many thanks

[2016-03-08 08:26] rposn commented on #178
Dear Marcellin,
Thanks for your quick answer. When I installed MariaDB I had to give a port number different from the default one (3306). At that time I chose 3307 as port, which seems to be the problem here. Since Climsoft was expecting port = 3308, it was not able to connect to the Maria database. I have changed the port number in the “config.inf” file to be 3307 and now I am able to log in!
Tha

[2016-03-08 08:27] #178 closed

[2016-03-08 08:36] mhabimana commented on #178
Thanks to hear that.However,the latest changes are not yet on the GitHub but will be pushed there very soon,will send you the link to the alpha setup as well very soon.
Thanks

[2016-11-11 13:05] isedwards opened #181 "Remove old message alert boxes"
In metadata management, clicking anywhere in the area shown hatched in red causes a message box to be displayed with the message "Station"

Also, on any tab, clicking in the area shown hatched in blue causes a message box to be displayed containing an integer between 0 and 8.

![metadata_hatched](https://cloud.githubusercontent.com/assets/2097922/20215712/1029aa96-a80e-11e6-8e03-f958a91c4d8e.png)

[2016-11-11 13:45] mhabimana commented on #181
Thanks,
You are right,I can see message boxes displayed exactly as you said.

[2016-11-16 11:38] isedwards opened #183 "Record selection in Metadata Management"
When viewing/editing metadata records, if you go to the final record it is currently then possible to keep going (the image below shows record 68 of 66).

The data shown to the user is not always the data corresponding to the record number shown in the scroll bar.

![metadata_1](https://cloud.githubusercontent.com/assets/2097922/20345732/6a308952-abf0-11e6-821e-37a400372d54.png)

The record count

[2016-11-16 12:23] mhabimana commented on #183
Dear Ian,Samuel,
The first observation is true on  climsoftV4 running on my PC,i.e: you can exceed the number of records and add additional 2 numbers (Eg: 281of 279).
![image](https://cloud.githubusercontent.com/assets/10340170/20346995/115bd9a6-ac10-11e6-9f8d-42fa84f86c2e.png)
Regards,
Marcellin

[2016-11-24 09:48] rposn opened #185 "Import from MS-Access to Mariadb"
Dear all,
great to see that there is still further development!
I am working in an R tool to easy import data from the MS-Access intermediate dbase into the Mariadb and I have noticed a few differences between both databases:
1) "stationlocationhistory"´: has an INDEX called "history" which links "stationId" and "FirstDate". Is this INDEX necessary?
2) "stationidalias": the attribute "belongsTo" i

[2016-12-31 08:09] #2 closed

[2016-12-31 08:10] #3 closed

[2016-12-31 08:10] #4 closed

[2016-12-31 08:27] isedwards commented on #181
Fixed via discussion https://github.com/opencdms/Climsoft/pull/182

[2016-12-31 08:27] #181 closed

[2016-12-31 08:28] isedwards commented on #183
@smachua has fixed this issue on the latest branch (not yet uploaded)

[2016-12-31 08:28] #183 closed

[2017-01-23 06:57] mhabimana commented on #97
Thanks Jens,
As of now the first level VB code methods  of the QC at the key entry level and the post key entry(global limit check and inter-element comparison) were tested and working in Climsoft V4 under development. Let me know the progress on the R QC as well.The more QC products the better.

[2017-02-10 11:01] isedwards opened #192 ".NET Framework version"
Climsoft is currently targeting .NET 4.5.1.

Support for .NET Framework 4.5.1 on all operating systems [ended on January 12, 2016](https://support.microsoft.com/en-us/gp/framework_faq/en-us).

We should switch to 4.5.2 which has long term support, or 4.6.x

[2017-05-15 09:18] Steve-Palmer opened #193 "Revert to MySQL rather than using MariaDB"
Can we revert to using MySQL instead of MariaDB?
Advantages: this will reduce the perceived complexity of installing the new software and will allow database administrators to use their existing MySQL installations. Sites with existing medium Climsoft V3.2 installations currently use MySQL for the background database. It may simplify the transition of data from V3.2 to V4.x installations. The road

[2017-05-15 12:54] mhabimana commented on #193
Thanks Steve to raise this issue.
Following the above article about both MariaDB and MySQL Pros and Cons: https://www.quora.com/What-are-the-pros-and-cons-of-MariaDB-versus-MySQL-database, which shows that the future of MariaDB is uncertain. It is developed mainly by a small company that may not have as strong a future as Oracle. I support your idea of revert back to MySQL because of the sustainab

[2017-05-15 12:56] smachua commented on #193
Hi All,
Although reverting to Mysql may make thing looks simpler there are some other factors to consider. We found MariaDB having more improved functionalities on security. CLIMSOFT V4 code heavily uses those functions. In V3.2 security functionalities were handled through the ACCESS workgroup file that was found a bit troublesome. I therefore need first to test whether the implemented V4 code on

[2017-05-16 08:15] isedwards commented on #193
_MariaDB advantages_
- I think the MariaDB software is here to stay and that it may start to replace MySQL in the future [1]
- MariaDB is currently a slightly better fit for Climsoft technically, although most of the Climsoft code will work perfectly with MySQL instead

_MariaDB disadvantages_
- I agree that MariaDB's position is still a bit uncertain (MySQL still has the web-database niche, and P

[2017-05-16 10:19] isedwards commented on #193
At this time, MariaDB has several new features over MySQL [1]

Of these, I believe we are only dependent on the new "ROLES" capability.

    A role bundles a number of privileges together. It assists larger organizations where,
    typically, a number of users would have the same privileges, and, previously, the only
    way to change the privileges for a group of users was by changing each user's

[2017-05-16 12:54] isedwards commented on #193
**Suggested implementation**

The [MariaDB ROLE statement](https://mariadb.com/kb/en/mariadb/set-default-role/) is [repeated twice](https://en.wikipedia.org/wiki/Don%27t_repeat_yourself), occuring in two places in the code:
1. [frmUserManagement.vb#L74-L78](https://github.com/opencdms/Climsoft/blob/7f44a09da5985ca2da0d95c901c266074ceb2d1d/ClimsoftVer4/ClimsoftVer4/frmUserManagement.vb#L74-L78)
2.

[2017-05-16 12:54] isedwards opened #194 "SQL Injection risk"
Current database calls are vulnerable to SQL Injection, e.g. [frmUsers.vb#L56-L60](https://github.com/opencdms/Climsoft/blob/7f44a09da5985ca2da0d95c901c266074ceb2d1d/ClimsoftVer4/ClimsoftVer4/frmUsers.vb#L56-L60) does not [filter escape characters](https://en.wikipedia.org/wiki/SQL_injection#Incorrectly_filtered_escape_characters) (see [SQL injection examples](https://www.w3schools.com/sql/sql_inj

[2017-05-17 08:38] mhabimana commented on #193
Most of the code in Climsoft uses the mariadb_climsoft_db_v4 database (that is specified in the config.inf file).  However, the code in frmUserManagement.vb all references a different database:
    Sql = "GRANT SELECT ON mariadb_climsoft_test_db_v4.observationfinal TO '" & txtUserName.Text & "';"

[2017-05-22 08:58] isedwards commented on #193
@mhabimana's changes look good to me. The `mariadb_climsoft_db_v4` and `mariadb_climsoft_test_db_v4` MariaDB databases can also be successfully imported into MySQL.

[2017-05-22 08:58] #193 closed

[2017-05-22 10:45] isedwards opened #196 "Help > About window"
CLIMSOFT 4 doesn't yet have an about window. We need something like the example below:

![about](https://cloud.githubusercontent.com/assets/2097922/26304437/41806adc-3ee3-11e7-89b0-ede3d17c32c6.png)

The main menu should also be updated so that when a user clicks `Help > About` the new window appears.

[2017-05-22 10:49] isedwards opened #197 "Updating licence information"
The vb source code files in the Climsoft project contain a licence notice at the top of the file, e.g. [formElement.vb#L1-L15](https://github.com/opencdms/Climsoft/blob/master/ClimsoftVer4/ClimsoftVer4/formElement.vb#L1-L15)

This is missing from some of the files:
- [ ] Identify which vb files are missing the licence information
- [ ] Update these files
- [ ] Decide whether to update all vb files

[2017-05-24 09:47] isedwards opened #198 "Integration of R products"
We agreed that the initial version of Climsoft 4 (4.0) would not contain any R products, but that version from 4.1 onwards could.  Is it a good time to get started on this for Climsoft 4.1?

A lot of work has been done on the [R-Instat project](https://github.com/africanmathsinitiative/R-Instat) to develop climatic products in R and make them accessible through VB.NET.

[2017-05-24 10:03] mhabimana commented on #198
Thanks Ian,
I think if the climatic component of R -Instat is available,it is a good time to start the integration process with ClimsoftV4.0 to make sure we are in line with the time set for climsoft version 4.1,which is July/August 2017.

[2017-05-24 10:28] isedwards commented on #198
@smachua are you happy that we proceed?
There should still be a 4.0 version of the software that does not include this.
If we're going to get this done for August then it does make sense to get started.

[2017-05-24 13:06] smachua commented on #198
Am also on the opinion that V4.0 should not contain R-products. It is necessary that the team working on R products discuss with the Climsoft developers and agree on how the integration will be done. Then a decision can be made on when to start V4.1 and who plays which role.

[2017-05-24 13:06] smachua commented on #198
Am also on the opinion that V4.0 should not contain R-products. It is necessary that the team working on R products discuss with the Climsoft developers and agree on how the integration will be done. Then a decision can be made on when to start V4.1 and who plays which role.

On Wednesday, May 24, 2017, 1:28:44 PM GMT+3, Ian Edwards <notifications@github.com> wrote:
@smachua are you happy that we

[2017-05-24 14:23] isedwards commented on #198
@stevekogo, @dannyparsons - can you help us understand what we need to do to get your RLink working (without worrying about the climatic products yet)...?

The R-Instat code [imports ReoGrid](https://github.com/dannyparsons/Instat/blob/a4f897f4ab8c52b05fb8cd5552d9c0e414b15704/instat/clsRLink.vb#L18) (which we currently don't have as a dependency in Climsoft), it also references both the ClimateObj

[2017-05-24 14:53] mhabimana commented on #198
Hi! I am not sure @stevekogo, https://github.com/dannyparsons will be able to see this message.Are their accounts set in climsoft project repo on GitHub? Please let me know because,I asked Steve Kogo this morning if he is able to follow our discussions on /opencdms/climsof but he said not.Regards, Mr.Marcellin HABIMANA | Climsoft Project Coordinator | World Meteorological Organization, Eastern and

[2017-05-24 15:21] dannyparsons commented on #198
@isedwards We have been conscious to make the RLink code generic so that it should be fairly straightforward to compile it into its own assembly.

There might be some tweaks needed to make it completely independent and usable for Climsoft (e.g. allowing specification of the R code location) but I don't expect that to need major code changes.

ReoGrid is used only to display data in R-Instat and so

[2017-05-24 15:37] isedwards commented on #198
@dannyparsons - I agree the timing is not great for you. I think this could wait until late July/early August and we could look at it after your release. In the meantime, we can experiment with a copy of the existing code so that we're ready to contribute.

[2017-05-24 15:44] dannyparsons commented on #198
That sounds great. If it can wait until after our release then I'm sure we can put some effort into it at that point. If you can make some progress before then, perfect.

[2017-05-24 19:11] isedwards opened #199 "Update resources for Climsoft developers"
- [ ] Record a screencast video to show the entire setup process for developers, from installing Visual Studio 2017 through to getting the latest copy of Climsoft from GitHub and making changes to the code
- [ ] Update the [developer's guide](https://github.com/opencdms/Climsoft/wiki/Developer's-Guide)

[2017-05-28 15:14] isedwards opened #200 "Language translation"
Microsoft provides a free tool for Visual Studio developers called the [Multilingual App Toolkit](https://marketplace.visualstudio.com/items?itemName=MultilingualAppToolkit.MultilingualAppToolkitv40) (MAT) to make language translation very simple.

When we originally tried using the tool we had a problem with the way it automatically changed lots of resource files each time the project was loaded.

[2017-05-29 07:07] mhabimana opened #201 "Implementation of additional Advanced Quality Control Checks"
So far in Climsoft version 4 under development, below Quality control checks was implemented:
1. Quality control at the level of data entry through key entry forms (the software is able to check data which don’t meet the criteria defined in the software (E.g.: Minimum Temperature should be always less that Maximum temperature, etc.)
2. Global limit checks (values below or above the limits set in t

[2017-05-29 08:00] mhabimana opened #202 "Contribution on Inventory"
Reports of data availability in the system (multiple stations, single station, etc.) in different formats (spreadsheet,text and Graphic).This area needs further contributions to make sure detailed and meaningful reports information can be produced from the data in the database. Contribution to this area of development will be highly appreciated.

[2017-05-29 09:56] mhabimana commented on #200
Thanks Ian,
That would be great. I support the idea.

[2017-05-29 10:01] isedwards commented on #200
Hi @smachua, are you happy that we go ahead with this? The `language_translation` table currently only contains 9 translations, it would be a lot of work to add all of the `TagID`s and translations for everything in Climsoft - The Multilingual App Toolkit takes care of recording what needs translating automatically, so we don't need to manually enter all of the tags. Microsoft has put a lot of wor

[2017-05-30 07:53] mhabimana opened #203 "Development of climsoft version 4 user's manuals,guides and videos"
Climsoft version 4 user's manuals,guides and videos are under development to support the online and face to face training in Climsoft Data Management System. The draft user climsoft version 4 user's manual released with the Beta version Climsoft version 4 and the inline help documentation in the software will be used as reference to produce climsoft version 4 Manuals (operation and administrator's

[2017-05-30 10:04] isedwards commented on #196
@mhabimana pointed out that the about window for Climsoft 3.2 lists the names of the developers:

![about_3 2](https://cloud.githubusercontent.com/assets/2097922/26578304/313f4c3e-4527-11e7-8ae3-abfb33e2277d.png)

This is quite common in open source projects, especially where people are volunteering their time. Here are a couple of examples from large open source projects (in both cases you click

[2017-05-31 09:44] mhabimana opened #204 "Implementation of date picker in metadata information"
Is it possible to change the current settings of station opening and closing date in the metadata from automatic to manual or to leave this empty(blank) for climsoft administrator to define this instead of  giving this the default to the current date? I think this can lead to wrong information in the database. Your though on this please.

[2017-05-31 09:59] mhabimana opened #205 "Coordinates conversion features"
In version 3.2 there is a conversion feature  whereby if the user only knew the GPS coordinates in terms of Degrees, Minutes, Seconds they could enter those and the system would automatically convert them to decimal degrees.To me this is a powerful feature climsoft version 4 cannot miss since there are many National Meteorological Services(NMSs) which are still using these and are having their met

[2017-06-01 07:42] isedwards commented on #204
@mhabimana I agree that ideally the date should not default to today's date, and this is something we should change.

From a technical perspective, the DateTimePicker included with WinForms must always contain a valid date (it is not possible to leave it blank - so this is why it has a default date).

A couple of possible suggestions:
- When the user clicks save we could give them a warning if the

[2017-06-01 07:44] isedwards commented on #205
@mhabimana - I agree that this is useful, and it would be easy to add.

I've added the `new developer` label as this is potentially something any of us could implement.

[2017-06-01 07:58] mhabimana commented on #205
@smachua - Since we have source codes for this in earlier version (V3.2), I think this can be used as basis to add this feature in V4 instead of reinventing the wheel.

[2017-06-01 08:04] mhabimana commented on #204
@isedwards - Thanks for the suggestions. It makes sense.

[2017-06-01 08:10] isedwards commented on #205
@mhabimana, the maths for this is actually fairly straight forward. When using degrees, minutes and seconds, there are 60 minutes in 1 degree (and 60 seconds in 1 minute).  So the value in decimal degrees is:

`DD = degrees + minutes/60 + (seconds/60)/60`

Note that the seconds are divided by 60 twice to get the equivalent value in degrees and not just in minutes (which is what we would get it we

[2017-06-01 09:06] mhabimana opened #206 "Import external data of different structure into climsoft version 4"
Currently,the import of external data  from CLICOM daily data, manual ingestion of Automatic Weather Station (AWS) data, Data from the National Oceanic Atmospheric Administration - Global Telecommunication System (NOAA-GTS) and the migration of data from previous versions of climsoft were implemented into climsoft version 4 under development. A routine to enable easy import of climate data with di

[2017-06-02 05:47] mhabimana commented on #204
@smachua - Are you happy to work and improve on the station metadata open and closing date feature? If yes,kindly assign this task to yourself (under assignee):
![image](https://cloud.githubusercontent.com/assets/10340170/26712533/f40370b6-476f-11e7-8fa7-c65c11874315.png)

[2017-06-02 13:24] isedwards commented on #205
@mhabimana - In the example that you've shown from version 3.2, it's not very clear when the latitude and longitude will be updated with the values that a user enters into the Degrees, Minutes and Seconds boxes.

In our new version, will the values be updated after every change (so if I enter 52 degrees first then the latitude becomes 52, then I enter 30 minutes and the latitude becomes 52.5 degre

[2017-06-02 14:30] mhabimana commented on #205
In version 3.2 the way it works is that once you finish to type in Degree,Minutes,Seconds and select latitude(North(N) or South(S),the system convert automatically latitude to decimal and fill or update the Latitude text box, the same apply to the longitude,once you finish type in Degree,Minutes,Seconds and select longitude(East(E) or West(W),the system convert automatically longitude into decimal

[2017-06-02 15:00] isedwards commented on #205
It sounds like the value is updated when the N/S select box is changed.

What would happen if you typed in 9 degrees, 30 minutes, 12 seconds south (which would update the value) and then you changed your mind and changed 30 minutes to 32 minutes (how would you get the value to update?)

[2017-06-08 13:16] isedwards commented on #202
I think we should implement this as soon as possible

[2017-06-08 13:19] isedwards commented on #199
Please add any other tutorials that you would like to see

[2017-06-08 13:33] isedwards commented on #199
New task: Add a video showing the sections of the GitHub website: Issues, Projects and Wiki

[2017-06-12 09:21] mhabimana opened #207 "The link to the Contributor License Agreement (CLA) on GitHub Read Me file is pointing to the wrong site."
I realized  that the Contributor License Agreement (CLA) link under ReadMe file on GitHub is pointing to the old climsoft project on met-elearning. Here is the correct one pointing to the climsoft project on met-elearning site:
http://www.met-elearning.org/moodle_v2/mod/assign/view.php?id=3153

[2017-06-12 09:51] isedwards commented on #207
@mhabimana - when a visitor is not logged into met-elearning, they see a summary page that says `Now enter this assignment and upload the file through the "Upload a file" link below.`

Do you think this is this okay, as most visitors won't have a login, or does the page also need some instructions on how to get a login for the site?

[2017-06-12 10:21] mhabimana commented on #207
@isedwards - Thanks, you are right,the page needs  extra instructions (including the link) on how to get a login for the site. I need to update the page by adding these.

[2017-06-12 14:48] mhabimana commented on #207
@isedwards - Additional instructions were added on how to get a login for the site and submit the CLA.

[2017-06-12 16:48] smachua commented on #206
Coding completed. Awaiting merging on GitHub and testing by contributors

[2017-06-13 06:03] mhabimana commented on #206
@smachua - Well done! Can you push now the task to the next level? (from the progress to review and testing).This is under project,code development.

[2017-06-13 08:32] vralenkoane commented on #202
Find below my suggested approach to Data Inventory.

The system provides details of missing data by

    Show of missing days in a month over all stations per element, the display is graphical and also provides an option to download the missing data in text format.
    Show of missing days in a year per station per element, the display is graphical and also provides an option to download the missi

[2017-06-13 08:42] mhabimana commented on #202
@vralenkoane - Well done and noted. This is a new way of working or communicating. Other contributors/Developers will be able to comment on your post and not replying via email. For any correspondance/progress/etc. on this task,please use this plate form and not your email. Note that this issue number is opened and will be closed when you have done with the task.

[2017-06-13 08:45] vralenkoane commented on #202
Can i start coding?

[2017-06-13 08:46] mhabimana commented on #202
Sure,please go ahead.

[2017-06-13 08:49] mhabimana commented on #202
@smachua,@isedwards - Do you have any suggestion to Victor?

[2017-06-13 08:52] vralenkoane commented on #202
Lets hear a comment from the lead developers.

[2017-06-13 08:53] mhabimana commented on #202
@vralenkoane - Are you able to receive notifications of the discussion in your email box?(e.g:the discussion we are doing should be received in your email box if the "Watching"button is ticked as shown below:
![image](https://user-images.githubusercontent.com/10340170/27074159-f362234c-502e-11e7-8fe6-e9e3e948d721.png)

[2017-06-13 09:01] vralenkoane commented on #202
I have registered with another email and i can not receive emails on that account while connected to office internet due to firewall policy in place. i will confirm later

[2017-06-13 09:03] mhabimana commented on #202
@vralenkoane -Thanks well noted.

[2017-06-13 09:14] mhabimana commented on #202
@vralenkoane - I suggest you go to project/code development and move your task to the next level (drag and drop your task) to In Progress since you are going to embark on this task:
![image](https://user-images.githubusercontent.com/10340170/27075108-ad5574c8-5031-11e7-85c3-df5f2526bc34.png)

[2017-06-13 09:21] vralenkoane commented on #202
how do i change status ?

[2017-06-13 09:24] mhabimana commented on #202
@vralenkoane - Just drag and drop your task (From not started to in progress.

[2017-06-13 09:25] isedwards commented on #202
@vralenkoane - it looks like only the lead developers can move the issues into other columns. The lead developer group is currently smachua, mhabimana and myself.

The difference is that the lead developers have write access to every part of the repository, whereas for everyone else it should be limited to individual branches initially (we're still testing this).

@mhabimana could you drag this ac

[2017-06-13 09:27] mhabimana commented on #202
@isedwards -Well noted

[2017-06-13 10:14] isedwards commented on #202
It would be good to approach this as two distinctly separate parts:
1. New code to create inventory plots for data extracted from the database
2. Modify the existing Climsoft code so that users can select the required data for the plot using the `Data Selection` form (accessed under `Climate Products` > `Inventory`).

Since the outputs will be created entirely using VB.NET I would suggest that Vic

[2017-06-13 11:15] stevekogo opened #208 "Slow data transfer from obsinitial to obsfinal"
I tried loading about 500,000 observations from obsinitial to obsfinal table and it took me 11 hours to load all the data. I think this process needs to be made more efficient.

[2017-06-13 11:19] mhabimana commented on #208
@stevekogo - Thanks for this issue,I think it should be quick since it is just a transfer of data between two tables in the same database. Further checks need to be done on the root cause of this issue.

[2017-06-13 12:01] vralenkoane commented on #202
I am lost. Please explain

[2017-06-13 12:41] isedwards commented on #202
With fairly large pieces of work, I suggest breaking them down into a number of smaller pieces...

In this case, the first piece of work could be submitting a change that:
a) Adds a new form to the project with a chart component and the methods for updating the chart with the data
b) Demonstrate adding data from the Climsoft database to the chart (but the user would not be able to select what data

[2017-06-13 13:07] isedwards commented on #208
Thanks @stevekogo - this is really useful testing feedback.

The first step for us is to recreate this problem with test data so that we can see how much faster the code runs after any change we make  (benchmarking).

The test database contains 73,000 observations.  We could start by placing 1,000 records in an empty Climsoft 4 database and then record the time taken to transfer the records.  If t

[2017-06-13 15:24] mhabimana opened #211 "Implementation of the Rate of Change QC Checks at Data entry form level"
From the last Skype meeting with Climsoft Contributors,Ms Fortunata requested to work on the Rate of Change QC Checks feature at Data entry form level.

[2017-06-13 19:45] isedwards commented on #206
@mhabimana I've completed the review to accept Samuel's code.
When he has merged his pull request would you like to do some tests with Climsoft 3.2 data?  The new importer is accessible from the `Data Transfer` section under `External Data` > `Text Files`.  When you are happy (as the person who raised the issue) then you can close this issue.

[2017-06-13 20:02] smachua commented on #202
The suggested contributions by Victor are impressive. I agree with Ian that this development can be implemented in version 4.0 and especially if it can be completed in June or early July. To start with, Victor can give us a design of his proposed interface for input requirements then we can give comments and suggestions before starting the coding. The design may be in a picture form just like the

[2017-06-14 06:10] mhabimana commented on #206
@isedwards - Well noted.

[2017-06-20 06:45] mhabimana commented on #207
@isedwards - The CLA link  on GitHub is still pointing to the wrong site.This need to be updated.

[2017-06-20 06:58] Fortunata commented on #211
I will implement temperature rates of change on the form

[2017-06-20 09:56] vralenkoane commented on #202
Apologies for late response, I am recovering from flue. My implementation strategy is that at the database level, i will have a table that holds missing data and procedure that finds missing days per station per element. The procedure will clear the contents of the missing table before inserting records each time before it runs. The application will be calling the procedure and so to refresh the d

[2017-06-20 10:05] vralenkoane commented on #202
i however don't fully understand 'Design'

[2017-06-20 11:20] mhabimana commented on #202
@vralenkoane - Well noted

[2017-06-20 11:51] mhabimana commented on #202
@vralenkoane - I think the design here means the design view of the interface and not the code view.

[2017-06-20 12:03] vralenkoane commented on #202
I will draw it and upload

[2017-06-21 09:26] mhabimana opened #212 "Deleting a station"
**1.Stations with no data in the database**
If you delete the last station record in the metadata(station), the screen will not refresh and you will still see the deleted record on the screen.  In this case you should use the navigation buttons to go to the previous record. If you click on Delete a second time the system will tell you that “There is no row at position.  Need a screen refresh at th

[2017-06-21 10:11] mhabimana opened #213 "Updating existing elements records"
Before you make changes to existing element records, bear in mind that these changes will apply to ALL stations in your database.  For example, let’s assume you have two stations: Station_A and Station_B; at Station_A let’s assume the maximum daily temperature never goes below 13oC but can get as high as 46oC. Station_B, on the other hand, is located at a higher altitude so temperatures tend to be

[2017-06-21 12:36] smachua commented on #202
The kind of design I was  simple graphics indicate how the input for the inventory processing will be provided. The input include stations selection, elements and the period (start yr, end yr, months etc). If found appropriate then the designs can be implemented as VB.Net forms.
On the other hand  you can use the already implemented products input interface shown below. If you're comfortable with

[2017-06-27 08:30] mhabimana opened #215 "Table Driven Code Forms(TDCFs)"
Table Driven Code Forms (TDCFs) is one of the great features of climsoft. It working well with the current climsoft v3.2 and It is being used by NMHSs to encode and  exchange climate data at national,regional and global level (GTS). It has not yet being implemented in climsoft version 4.
![image](https://user-images.githubusercontent.com/10340170/27581584-bc8a007a-5b36-11e7-8443-b159abfb6369.png)

[2017-06-27 08:41] mhabimana opened #216 "Double Key Entry Feature"
Double Key Entry Feature is important as it ensures that during the key-entry process, every data item from a paper form is entered twice by two different key entry operators. This assists in finding errors that arise from entering incorrect data while reading from a paper form. This feature is working well into v3.2 but it is not yet implemented into climsoft V4 under development.

[2017-06-27 08:53] mhabimana opened #217 "Accessories Menu"
Climsoft v3.2 accessories menu has two sub menus (calculation of Dew Point and RH  and Generate XML output). Calculation of Dew Point and RH feature is very used by observers at the Met stations to compute in few seconds the Dew Point and RH given the Dry and Wet Bulb temperatures. Any contributor can try to contribute to this feature in the new climsoft version 4 under development.
![image](https

[2017-06-27 09:19] mhabimana commented on #207
@isedwards - How far have you gone with fixing this issue?

[2017-06-27 09:32] mhabimana commented on #213
@Steve-Palmer  - What is your view on the above issue raised by Cathy?

[2017-06-27 14:53] vralenkoane commented on #202
This is what i had in mind.
![capture](https://user-images.githubusercontent.com/15684269/27594057-1c5984b8-5b59-11e7-9eb0-949660e61c7a.JPG)

[2017-06-27 14:55] vralenkoane commented on #202
i can also should just adapt the old code to the new environment only

[2017-06-27 15:31] mhabimana commented on #202
@vralenkoane - Sounds great,let hear from Samuel

[2017-06-28 16:46] Steve-Palmer commented on #213
The issue is about the limits for an element, which are part of the QC rules for automated checking of inputs. Certainly, the limits for most elements should be specific to the station, and therefore stored in the station-element table (or another table linked to this). However, for new stations, there is a need for a default. The database rule could ensure that a new station has the defaults whic

[2017-06-28 17:02] Steve-Palmer commented on #212
For stations with data in the database, deletion of the station should not be possible. If a station has been created in error, and had data assigned to it, then the process must be to delete the data, and then to delete the station. This should only be possible by a manager with sufficient authority. Hence the error message should say something like "This station has observation data, therefore i

[2017-06-28 17:09] Steve-Palmer commented on #217
Need to be careful to use the right formula. The full calculation is very complex. There are a variety of simplified versions, but need to be careful to use the right one, because the formula is pressure dependent, so a calculation which works at Standard Pressure does not necessarily give the right answer at lower pressures typical of high-level stations or sondes. I will check.

[2017-06-28 17:20] Steve-Palmer commented on #211
We might need to think about generalising this check, so the limits range can be tuned for stations in other locations. This is looking forward to OpenCDMS, where one of the aims is to offer best-practice QC checks which can be used or adapted anywhere. Perhaps for the moment, a simple subroutine is appropriate, but include in the comments that in future versions there should be more generalisatio

[2017-06-29 05:51] mhabimana commented on #217
@Steve-Palmer -Thanks Steve,I remember Jean Claude, from Cote d'Ivoire contributor) raised an issue some times back because this calculation using the climsoft program (V3.2) was giving values of Dew point and RH which are totally different from the program he is using in this Country ato calculate the same and he was wondering why this and which one is right or wrong? (the one in climsoft or his)

[2017-06-29 05:57] mhabimana commented on #213
@Steve-Palmer - Sounds great.

[2017-06-29 06:39] mhabimana commented on #212
@Steve-Palmer -Sounds great.

[2017-06-29 06:48] isedwards commented on #217
I also received a message from @claudedeki a few weeks ago relating to this:

We don't currently have details of the software/formula he is using.

[2017-06-29 07:01] mhabimana commented on #217
@isedwards - I think he is mentioning in V3.x because this feature has not yet been implemented in V4.

[2017-06-29 08:46] Fortunata commented on #211
Dear Team members,
This is great if we can share ideas before implementing the actual coding. It is always better to understand the real concept of the function and its implication before its put into a code. Samuel advised that I  come up with structured statements then they are discussed and developers can select them for coding.Kindly find attached the proposed Functional requirements\statement

[2017-06-29 14:32] Fortunata commented on #217
GLOBAL LIMIT CODING ISSUE
This issue has been raised even in the CDMC specification document.Giventhe different weather / climate characteristics of the area, each of thestation requires its own set limits. This work is specifically for data managers in each country NMHS who arefamiliar or have the statistic of each station and they can get them set foreach station. However 2 things have to be don

[2017-06-29 14:42] mhabimana commented on #217
Hi Fortunata,This comment was posted on the wrong issue#217 it is suppose to go under issue#213. Can you please post it under the below link? which is about updating element records.? I will delete the message under issue#217 once you are done.https://github.com/opencdms/Climsoft/issues/213

Regards,
Mr.Marcellin HABIMANA | Climsoft Project Coordinator | World Meteorological Organization, Eastern

[2017-06-30 09:22] mhabimana commented on #207
@isedwards - Thanks to resolve this issue.

[2017-06-30 09:22] #207 closed

[2017-06-30 17:03] Fortunata commented on #213
GLOBAL LIMIT CODING ISSUE
This issue has been raised even in the CDMC specification document.Given the different weather / climate characteristics of the area, each of the station requires its own set limits.  This work is specifically for data managers in each country NMHS who are familiar or have the statistic of each station and they can get them set for each station. However 2 things have to b

[2017-07-03 06:36] mhabimana commented on #213
@Fortunata - Thanks

[2017-07-03 06:48] mhabimana commented on #213
@smachua - Can you please advise on the possibility of having this specific QC limit check set at station level in addition to what is currently available for all the stations at once? Is it possible to set this on the same element form as suggested by @Fortunata or at station element form?

[2017-07-04 13:45] tmundoga commented on #197
I have updated all the forms now ready for review

[2017-07-04 13:49] mhabimana commented on #197
@tmundoga - Well done and noted. @isedwards will be back to you.

[2017-07-04 13:56] mhabimana commented on #197
@tmundoga - I moved your task at another level (Issue Ready for Review),once approved ,I will move it to the final level (issue completed).

[2017-07-04 14:20] mhabimana commented on #206
@smachua - I am currently testing this feature before it is pushed to the last level of completion.Below is the error message I got for your advise:
![image](https://user-images.githubusercontent.com/10340170/27833801-f79d784e-60dc-11e7-9b72-1420920478a6.png)

[2017-07-04 22:21] claudedeki commented on #217
Hello Ian,
I would like to apologize for the delay in responding to your mail. I was on a mission.
Our computers give: for T ° = 31.8 and T ° w = 27.8 the following values Td = 26.4 Humidity = 73 Vapor pressure = 34.2
Climsoft gives: for the same values of T and Tw the values Td = 22.0 and Humidity = 94
Upon returning from the mission, I will send you the script that we use for the calculation of

[2017-07-05 06:33] mhabimana commented on #217
@claudedeki - Thanks very much for your contribution.I am happy to see that you managed to login to GitHub and immediately you joined the discussion. However,I just test the values you mentioned above with climsoft and below see the result (note that the values of T at Tw are entered without comma into climsoft otherwise they give you wrong results.See below:
1)
![image](https://user-images.github

[2017-07-05 14:00] mhabimana commented on #205
The GPS conversion feature program is ready for review. I tested it and it seems to provides good results though I realised that the coordinates (Lat/Long) was set to two decimal points in climsoft version 4 (e.g: Lat:-1.95/Lon:29.05). I set the data type to Double, so no limitation of decimal points. Any idea on how I can limit this as well to 2 decimal points?

[2017-07-05 14:18] isedwards commented on #205
Although the Climsoft example database shows most station's lat/lon locations to the nearest two decimal places, I'm not sure that this will usually be the case.

When using [degrees of latitude and longitude](https://gis.stackexchange.com/a/8674/55042):

In this case, when we are converting coordinates from Degrees Minutes Seconds (DNS) to Decimal Degrees (DD), the precision of the output should

[2017-07-05 14:29] mhabimana commented on #205
@isedwards - Great thanks,let me try this.

[2017-07-05 14:56] mhabimana commented on #205
@isedwards  - In this case the value is not fixed but variable????? How can I proceed?

[2017-07-06 06:20] mhabimana commented on #205
@isedwards - Thanks it works

[2017-07-09 11:06] claudedeki commented on #217
Hello Marcellin
I will very happy to work on this features for climsoft version 4. My job take me time but i will do my best.
See you later sincerely.

[2017-07-10 05:29] mhabimana commented on #217
@claudedeki - Thanks well noted

[2017-07-11 08:12] vralenkoane commented on #202
Can I have someone to test the speed for the attached procedures.
[script 1.txt](https://github.com/opencdms/Climsoft/files/1138127/script.1.txt)
[script 2.txt](https://github.com/opencdms/Climsoft/files/1138126/script.2.txt)

[2017-07-11 08:43] mhabimana commented on #202
@vralenkoane - Thanks for the scripts. I am happy to test this by I really need some guidance on the best way to test this. Is it via visual studio or another package? @smachua and @isedwards  can advise as well.

[2017-07-11 09:21] isedwards commented on #202
@mhabimana If you execute SQL in something like HeidiSQL or MySQL workbench then the software will report the query execution time, so this may be the best first step rather than timing the execution from within VB.NET. **vralenkoane** is probably executing the query against the small test database, so it would be really good if you could also test in on larger production databases from one or mor

[2017-07-11 09:28] vralenkoane commented on #202
Marcellin, Please change the last line of the script such that you call it with you station id. i.e. CALL Station_Missing_Data ('STATION_ID',STARTDATE','ENDDATE',ELEMENT_ID);

[2017-07-11 09:33] mhabimana commented on #202
@vralenkoane - Well noted.

[2017-07-11 10:47] vralenkoane commented on #202
Note not to execute the two scripts concurrently.

[2017-07-11 11:25] mhabimana commented on #202
@vralenkoane - noted. I can see script 2 is pointing to obsinitial

[2017-07-11 12:10] mhabimana commented on #202
@vralenkoane -Result-script1:
![image](https://user-images.githubusercontent.com/10340170/28067698-0591399a-664b-11e7-949c-c801596e43c3.png)

[2017-07-11 12:12] vralenkoane commented on #202
how long did it take to complete?

[2017-07-11 12:15] mhabimana commented on #202
@vralenkoane - Data for 1 year, element 5: around 21 secs.

[2017-07-11 12:27] vralenkoane commented on #202
hmm, that super fast, script 1 or 2? Test them both?

[2017-07-11 12:28] mhabimana commented on #202
@vralenkoane - Data for 1 year, element 5: script1: around 21 secs and script2: around 22 secs

[2017-07-11 12:35] vralenkoane commented on #202
eish they look the same. Another important observation is that there are records were read value is null, is such a value missing?

[2017-07-11 12:40] mhabimana commented on #202
@vralenkoane -How will it suppose to work? because I can see it has created a table of missing data in the data base. How was it suppose to work?

[2017-07-11 12:55] vralenkoane commented on #202
my interest was on the time it takes to complete, the one with a shorter time is preferred. Script 1 creates table missing_data and populates it with all expected dates for data. Then checks observationinitial for missing days. finally the missing days are selected as out.

The other does a continuous date check for a data record and if there is no record returned, that record is locked into missi

[2017-07-11 13:00] mhabimana commented on #202
@vralenkoane -Noted Do you mean "Then checks observationinitial for missing days." or observationfinal?

[2017-07-11 13:07] vralenkoane commented on #202
i think it should be final?

From Samuel, i needed to understand how he did it in v3

[2017-07-11 13:08] mhabimana commented on #202
@vralenkoane - sounds great.

[2017-07-12 12:52] vralenkoane commented on #202
I have realized that during data entry, the missing element are flagged 'M'. Do I have to concentrate only on Values flagged 'M' in the DB for Missing Data or records that are not in the DB ?

[2017-07-12 13:01] mhabimana commented on #202
@vralenkoane -Thanks, yes missing data are flagged "M" in climsoft @smachua will be able to advise on this.

[2017-07-13 05:39] mhabimana commented on #200
@isedwards - Any progress on this? @smachua has not yet react on this.
@smachua  - Can you let us know your view on this?

[2017-07-14 10:23] isedwards opened #223 "Encrypted connections - MITM attack vulnerability"
Climsoft 4 uses an unencrypted connection to the MySQL database. All queries and responses are [sent in plain-text](https://forums.mysql.com/read.php?30,372341,374096), with the exception of the user's password which is sent as an [SHA1 Hash](https://en.wikipedia.org/wiki/SHA-1).

This leaves us vulnerable to data hijacking and man-in-the-middle (MITM) attacks.

The issue can be fixed using [MySQL

[2017-07-14 10:41] isedwards opened #224 "frmUsers is no longer used"
When investigating issue #194 it became clear that all the code in `frmUsers.vb` is redundant.  The code has all been copied and updated in `frmUserManagement.vb`.

`frmUsers.vb` is no longer used and should be removed.

[2017-07-14 11:27] isedwards commented on #194
**NOTE:** The code in `frmUsers.vb` is no longer used, this issue applies instead to `frmUserManagement.vb` (and other places). See #224 for details.

[2017-07-14 11:43] isedwards commented on #194
Any place in Climsoft 4 that has accepts a string, and passed it directly to the database, is vulnerable to SQL injection.

**Example**

_(make sure you back up your database before trying this)_

When creating a new user, if I enter the following as the new user's new password:
`newpassword';DROP TABLE observationfinal;CREATE USER 'abc'@'%' IDENTIFIED BY 'mypassword`
(note that their is no single

[2017-07-14 11:58] mhabimana commented on #194
@isedwards -This is interesting. Any advise on how to avoid this risk ?

[2017-07-19 14:40] mhabimana commented on #223
@isedwards - Thanks for this observation.

[2017-08-23 07:52] rdstern opened #229 "Installing CLIMSOFT"
[Installation of CLIMSOFT v4_Cathy Garlick.docx](https://github.com/opencdms/Climsoft/files/1244588/Installation.of.CLIMSOFT.v4_Cathy.Garlick.docx)

The latest version of CLIMSOFT was supplied and the Word report (attached) describes Cathy's problems with the installation.  She wrote:
"See attached the results of my attempts at installing the software!!  If I can’t get beyond the installation then

[2017-08-23 07:58] rdstern commented on #229
Marcellin replied - see below - and also attached an installation guide:
[Readme_Climsoft_V4.txt](https://github.com/opencdms/Climsoft/files/1244603/Readme_Climsoft_V4.txt)

He writes:
"The installation is not straight forward but there is a readme file attached to this email which explain steps by steps how to install climsoftV4. From the attachment sent by Cathy,I realised that:
1. She did not r

[2017-08-23 08:12] rdstern commented on #229
I am not sure whether the instructions were supplied originally.  However installing software (at least by experienced users) is usually done now just by getting on - and reading instructions only if desperate. So I am happy with Marcellin's last comment above that the installation process will be made easy.

My question is what should we do now as the next step.  I would like to suggest another g

[2017-08-23 08:20] rdstern opened #230 "Using CLIMSOFT in Lesotho"
I hope this is an appropriate place to collect the experience and future of this installation.  Samuel visited for 2 weeks in May 2017.  He then wrote as follows:
"My visit to Maseru concluded well. The training was successful and I left the data processing staff using the acquired knowledge very well. All the data previously digitised through CLICOM and CLIMSOFT was integrated into the CLIMSOFT d

[2017-08-23 08:49] rdstern commented on #230
Since then, in August, we started trying to use the data for the PICSA workshops.  It was clear:
a) The data for the workshops were not yet well quality controlled.  I was supplied with the data (I think from CLIMSOFT).
b) From CLIMSOFT the data when supplied "by day" contained duplicate values and Kabelo did not know how to avoid this.  By month (CLICOM "by element" was OK.
c) They have been comp

[2017-08-23 09:48] mhabimana commented on #229
Thanks @rdstern . Great if the group at Maseno will try as well the software and provide us with feedback to improve on this.

[2017-08-23 10:17] isedwards commented on #229
@smachua, @mhabimana  - do either of you know why elevated administrator permissions are needed during the setup?

[2017-08-23 11:06] rdstern opened #231 "Missing values and quality control"
One issue for the future is to be able to get reports on missing values in the climatic data.  This could come through the R link or be programmed directly.

In R-Instat our inventory graphs are an attempt to be able to report on missing values in climatic data, currently particularly in daily data.  They look quite good.

This has been particularly important in our general data checking, where we

[2017-08-23 12:18] isedwards commented on #231
@rdstern - we could benefit from your advice on this.  We have discussed making using of the R-Instat missing values plot when we successfully link the two pieces of software, and could happily add the capabilites from narnia as well if they are successfully built into R-Instat.

In the meantime, for version 4.0, missing values plots are currently being tackled outside of VB using SQL scripts dire

[2017-08-23 12:19] smachua commented on #229
While installing and configuring Climsoft V4, use of the provided guidelines (manual or readme file) is necessary. The installation wizard will take you through Climsoft user interface installation and MariaDB (if the option is chosen). The rest that includes running sql scripts to create climsoft database and setting of permissions in the Windows are accomplished by following the guidelines. This

[2017-08-23 13:16] mhabimana commented on #229
@isedwards - I think elevated administrator permissionis needed during the installation because it is set  for climsoft that the installation can not be done by any users on the PC without the administrator privilege; to install properly you need to be the administrator or member of the administrators and not a simple user. @smachua can elaborate more on this.

[2017-08-23 14:10] isedwards commented on #229
The CLIMSOFT application executes SQL commands all the time.

The easy way to improve the installation is simply to get CLIMSOFT to execute the initial setup script the first time it runs if the database has not yet been set up.  This would remove the manual step and make sure that everything is set up correctly without requiring the user to take manual steps.  Why not? What is the advantage of ma

[2017-08-23 14:23] isedwards commented on #229
Didn't we agree in https://github.com/opencdms/Climsoft/issues/193 to **"Revert to MySQL rather than using MariaDB"**?  Can we update the installer to reflect this, or do we need to reopen https://github.com/opencdms/Climsoft/issues/193 and discuss this more?

[2017-08-23 14:25] mhabimana commented on #229
Thanks @isedwards, Are you happy to create an installer using this idea for us to compare with the current?I think this will be the best way to move forward.

[2017-08-23 14:27] rdstern commented on #229
This seems to be a useful discussion.  I assume we should wait for a new installer before asking the Maseno team to try the software?

[2017-08-23 15:11] isedwards commented on #229
I'm happy to create an alternative installer if we all agree on the way forward.  This would ensure that a wider group of people could successfully test the current version without running into problems at the installation stage.

The steps would be:
1. Fix the minor issues in https://github.com/opencdms/Climsoft/pull/228 and merge Samuel's latest work into master
2. Switch to using [Advanced Inst

[2017-08-23 16:50] isedwards commented on #229
@smachua @mhabimana - could you both vote on whether to proceed (or comment instead if there is anything you disagree with and want to discuss more)?

    +1 agree, -1 disagree, 0 abstain

My vote: 👍 +1 for me

[2017-08-24 06:29] mhabimana commented on #229
@isedwards - I have a chat with @smachua on the above this afternoon and will be back to you.

[2017-08-24 14:24] mhabimana commented on #229
- @smachua - We have agreed with @smachua that number 1 above should be done first before number 2 in this regards @smachua is working to fix the conflicts and then he will then push a new PR to GitHub for merging with the master;
- Re - whether to use MySQL or MariaDB we agreed that we should leave this optional to users since both were tested and are working very well( in short we leave the choi

[2017-08-24 15:13] isedwards commented on #229
Sounds good

[2017-08-25 10:29] mhabimana commented on #205
@isedwards - this PR was completed it is ready for review and merging.

[2017-08-29 10:13] mhabimana commented on #202
@vralenkoane - How is your progress on the inventory work? Though @smachua  has not yet replied on your question about missing data, I thing the best way is to concentrate on records that are not in the DB.
@smachua - Can you advise on this please?

[2017-08-29 14:17] mhabimana opened #233 "Quality Check Range Specification"
The current QC Global Limits and Inter Element Comparison Checks implemented in Climsoft version 4 does not give room to users to specific station(s) to check but rather they prompt users to do QC for the entire stations in the database. Since users may be interested to do QC for a particular station(s) it would be great to give her/him an option for this(Below I highlighted additional element whi

[2017-08-31 05:34] mhabimana commented on #231
@rdstern - I remember during my visit at the University of Reading I had a chat with you on the possibility to downscale the inventory graph in near future by adding the options of inventory per station,per year etc... I wonder if this is already implemented or is still in the pipe.

[2017-08-31 05:39] mhabimana opened #234 "Creation of the Installer using the Advanced Installer Open Source tool"
Ian is working on the climsoft installer using the Advanced Installer Open Source tool ,this will be then compared to the one created using Inno-Setup.

[2017-08-31 06:46] rdstern commented on #231
@mhabimana this is working quite well.  Here is an example of the dialogue for data from 2 stations from Ghana where we have many elements.  You can see there are many options for the display of the information
![climatic inventory](https://user-images.githubusercontent.com/11226469/29909988-22d36fd0-8e20-11e7-9046-6bee7bff3ad5.jpg)

And here is the result with the default display:
![image](https:

[2017-08-31 07:06] mhabimana commented on #231
@rdstern -Thanks Roger, Can you please send through a similar inventory graph for only RR,One station for just one year? I want to see how this look like

[2017-08-31 07:23] rdstern commented on #231
For a single element for one year, we wouldn't do an inventory.  We are just finalising the dialogue called Display Daily, which gives a tabular and/or graphical display of the values for one (or more) years.

That should be completed before the visit to Lesotho in a week, so I'll show what it looks like then.

[2017-08-31 07:29] mhabimana commented on #231
@rdstern -Thanks for your quick feedback.

[2017-08-31 09:16] Fortunata commented on #234
It will be good if the installer shortens the process of security configuration but remember such security controls are required in the database management systems

[2017-08-31 09:27] Fortunata commented on #231
This is very much desired if it can be implemented in Climsoft and if it can be scaled down to a single station.
If the graph can also  show data series  for all years which can be implemented by counting the number of stations reporting pr having data each year. It can be shown to administrator or station Networks section to solicit for reopening of more stations.

[2017-08-31 10:35] mhabimana commented on #217
@claudedeki - How are you progressing with the  above?

[2017-09-02 18:06] rdstern opened #236 "Avoiding duplicate records in output - sometimes"
This is one of a series of issues that I am raising as we work with the Lesotho Met Service.  They are not necessarily bugs.  Some are feature requests.  And the version used is the one left by Samuel in May, which may have been 3.2 or a hybrid.  So some of these points may be out of date.

In providing daily rainfall and temperature data for me to check there were a number of issues.
1. Some data

[2017-09-02 18:12] rdstern opened #237 "Correcting misplaced data in CLIMSOFT"
A number of years of data were "one-day-out".  The rainfall is recorded in the morning and then should be entered onto the sheets (and the database) for the previous day.  This was not done in some of the stations, and for a period of several (consecutive) years.
I wonder how this could be corrected in CLIMSOFT in a reasonably efficient manner.  It is easy, but risky, to export and then make the c

[2017-09-02 18:19] rdstern opened #238 "Keeping records of manuscript data in CLIMSOFT"
I understand, and am looking forward to the facility in CLIMSOFT 4 where the scanned or photographed data is also part of the database.
Sometimes the manuscript data cannot be found.  This is happening quite a lot in Lesotho.  One station in Lesotho has rainfall from 1899, but the (monthly) records prior to 1966 are apparently unreadable.  How can this be recorded in the database?  I am keen to pr

[2017-09-04 09:04] mhabimana commented on #238
@rdstern -This functionality is already implemented in Climsoft version 4,it was tested and everything looks great.This will support the DARE activities for many NMHSs once the software is released.

[2017-09-04 09:11] mhabimana commented on #237
@rdstern - Sounds great. Well noted

[2017-09-04 11:47] rdstern commented on #238
Great.  Just checking.  I know that the manuscript data can be linked to the CLIMSOFT database data and am looking forward to seeing this feature in action.
My request above is also to have **information in the database for situations where the manuscript data cannot be found**.  Are you saying this is also already there?  Great if it is.

[2017-09-04 11:53] mhabimana commented on #238
@rdstern -Information in the database for situations where the manuscript data cannot be found is not there,I think this is a new idea which will be looked at and discussed for implementation in climsoft version 4.

[2017-09-05 02:28] rdstern opened #239 "Sri Lanka using CLIMSOFT soon?"
I am currently in Colombo and took the opportunity to visit the Department of Meteorology.  I met with:
A. L. K Wijemannage
Deputy Director
Data Processing and Archival Division
Department of Meteorology
Bauddhaluka Mawatha
Colombo 7, Sri Lanka
e-mail ajithlkw@gmail.com

He informs me that they used to use CLICOM and now use CLIMSOFT for their data processing.  He is waiting for Version 4.  I quer

[2017-09-05 09:19] mhabimana commented on #239
@rdstern -Thanks,this is well noted.

[2017-09-06 11:14] Steve-Palmer commented on #238
Interesting. I think this raises a wider question about recording the provenance of the data, which would include the route by which the data reaches the database, including any duplicate routes. In particular, a particular datum could be acquired from a METAR (e.g. as whole deg C) or a SYNOP (as degrees and tenths) or keying of paper forms or direct keying by the observer. I think we already have

[2017-09-06 11:31] Steve-Palmer commented on #237
This correction was done in the Met Office as part of the bulk loading of data from the previous Rainmaster database to MIDAS. The policy for daily rainfall and max temperature (but not min temperature) was that on daily paper records, the reading was "cast back" to the day before the date when the reading was made, and Rainmaster held rainfalls by the start of the period, but this leads to anomal

[2017-09-06 11:52] Steve-Palmer commented on #236
By default, it would make sense to extract only the latest QC'd value. THis means there would be no duplicates. However, the database should contain both the "original received" and "latest QC'd" values where QC changes have been made. There are circumstances where extracting both is necessary - especially if the data is part of evidence in legal proceedings, where QC changes may be challenged in

[2017-09-06 15:01] mhabimana commented on #236
@Steve-Palmer - Thanks, will get back to you once discussed with Samuel on this.

[2017-09-06 15:01] diallo2017 opened #240 "Additional Advanced Daily Data Quality Control : Spacial Analysis"
The highest level of the control is the comparison between neighbouring values. This part of the Climsoft application uses ArcView (GIS) software. The colour points representing different values are displayed on the map. These points are located exactly where the stations measuring the controlled values are located. If the colour of some station is markedly different from neighbours, the user can

[2017-09-06 15:14] mhabimana commented on #240
@diallo2017 -Thanks, This type of QC is not yet implemented into climsoft version 4 what is available and working now in climsoft version 4 is the Absolute Limit checks and the inter-element comparison checks. We will be more happy to have the spatial check as well.Contribution on this is highly appreciated.

[2017-09-06 17:35] Steve-Palmer commented on #230
To take the last point first, the data model has not changed significantly between Climsoft V3.2 and the various iterations of Climsoft V4. The differences are in the code and the tools to manipulate the data. Hence changing versions should not affect the data, though the handling of the data should be better with later versions. In V3.2, some aspects of the metadata were in the data model but not

[2017-09-07 11:03] CathyGarlick opened #242 "Testing Version 4"
I've now gone through the installation and attempted to enter some station data and some daily rainfall data.  See the attached document for my findings.
[CLIMSOFT issues.docx](https://github.com/opencdms/Climsoft/files/1284436/CLIMSOFT.issues.docx)

[2017-09-07 11:34] mhabimana commented on #242
@CathyGarlick -Thanks for the testing results,It is well received, we will try to address and fix the issues raised.

[2017-09-11 05:41] Fortunata commented on #238
The Climsoft has the function of capturing paper images known as Paper archive it makes it possible to view the image on the screen enabling the capture of image indexes. However images cannot be stored in the Climsoft database because of their big size they could slow down the database operations. What is stored in the data base are ''File links or path of the images sitting probably in a server"

[2017-09-11 08:18] Fortunata commented on #233
True  as we practiced on the V4 , there was no room for the user to select a one station to perform quality control. More often than not User tend to work on one station cleaning their data but for a specified period . It is  good Marcellino to start on this interface providing users with an option to select one station.

[2017-09-11 22:06] vralenkoane commented on #202
[Background Scripts.txt](https://github.com/opencdms/Climsoft/files/1294194/Background.Scripts.txt)

[2017-09-12 05:48] mhabimana commented on #202
@vralenkoane -Thanks for the script.

[2017-09-13 09:00] mhabimana commented on #234
@isedwards - Any progress on this?

[2017-09-13 19:23] isedwards commented on #234
I've completed a proof of concept. It's currently online here: https://github.com/opencdms/climsoft-installer.

The demonstration application shows that it is possible to automate the install of the initial Climsoft database and test database from within VB.NET (instead of the user having to undertake the steps manually).  I'll get on with adding this to Climsoft over the next week.

[2017-09-14 07:47] mhabimana commented on #234
@isedwards -Thanks for the update

[2017-09-26 09:01] mhabimana opened #244 "Graphics Products"
There is a provision for graphs in the products list of climsoft version 4 below. VB codes contributions  on this is welcomed:
![image](https://user-images.githubusercontent.com/10340170/30851906-bd3c1788-a2b2-11e7-9c9a-b882c706a0d3.png)

[2017-10-10 07:29] jensriede opened #247 "Update Finalobservation"
If you try to update from observationintial to observationfinal table you will receive an error messages if there are any character values like 'NA', 'NAN' or something like this in the observationinitial database.
No data will be transfered to the observationfinal table.

This problem has been observered at the Department of Meteorological Services Botswana.

[2017-10-10 08:47] jensriede opened #248 "Stable version"
Dear all,
in the SASSCAL project we have installed CLIMSOFT  in Angola, Zambia and Botswana. When we started in 2014 our idea was to install first Climsoft version 3.2 in Angola and Zambia, while Climsoft version 4.0 has been installed in Botswana for testing. During the Climsoft Workshop in November 2015 it was discussed to have a stable beta version until August 2016.

Now our SASSCAL project is

[2017-10-10 09:01] mhabimana commented on #248
@jensriede - Thanks very much for your concern about a stable version of climsoft version 4. Note that we are working hard to have a stable version of climsoft version 4 before the end of this year 2017. A lots have been improved on the software since we left Kisumu,including fixing the bugs (see the project at GitHub). Hopefully we will have a stable climsoft version 4 very soon.

[2017-11-14 07:23] Fortunata opened #253 "CLimsoft V4 Hourly wind"
Issues encountered when working with hourly wind form (issue raised in the attached document) for consideration
[CLIMSOFT V4 Hourly Wind.docx](https://github.com/opencdms/Climsoft/files/1469865/CLIMSOFT.V4.Hourly.Wind.docx)

[2017-11-14 07:44] mhabimana commented on #253
@Fortunata -Thank you for the above issue.For the point issue raised on point1,the reason why the text box on the form is not active is because this can not be changed by any user unless the user with the right permission and this is set under tool/General settings as shown the interface below.The rest of the points raised @smachua  will be able to respond:
![image](https://user-images.githubuserc

[2017-11-14 08:30] Fortunata commented on #253
Thanks am going to try it and see

[2017-11-27 15:51] rdstern opened #258 "Export of data from CLIMSOFT"
This may be a redundant aspect, because the issue is on Version 3.2, so it may be different already in Version 4.

We were exporting data from CLIMSOFT in lesotho.  We repeatedly ran into the limit of 1 million records, because Version 3.2 only exports to Excel.  Perhaps there are other possibilities, (even in Version 3.2) but we couldn't find them.

In addition it doesn't inform you about the lim

[2017-11-28 08:06] mhabimana commented on #258
@rdstern - Thanks for raising this issue. However, Climsoft version 3.2 and 4 export data in CSV (Comma Separated Value) by default but you can decide to save the file as Excel or leave it in csv and I think the best way is to leave the file in csv to avoid row limitation,I am not sure if csv file has got a number of row limit.  I totally agree with you that we need to explore the option of includ

[2017-11-28 17:08] smachua commented on #258
@rdstern - Climsoft v 3.2 and even v 4 exports data in text (csv) files but not in excel. Although csv file can be opened through many applications by default it will be open in excel. We have not experienced a limit in number of records that Climsoft can output into a text(csv) file. It is worth finding out whether the limitation in records displayed was due to the version of excel used.

[2017-11-28 20:15] isedwards commented on #258
I agree that this certainly sounds like the Excel row limit issue (see [here](https://support.office.com/en-gb/article/Excel-specifications-and-limits-1672b34d-7043-467e-8e27-269d656771c3)). The old Excel versions used to just throw away the data silently. The new versions should give you a warning that the data will be lost the first time you save as an Excel file instead of CSV file.

@rdstern -

[2017-12-08 11:20] rdstern opened #259 "Attaching the scanned database"
This is one of the new, and very attractive features of CLIMSOFT 4.  There are 2 aspects that could usefully be added.
1. The main one is the issue of the filenames.  They appear to assume the scanned files are on the same local machine as CLIMSOFT.  This could usefully be more general, so it is general references that are stored in the main CLIMSOFT database.  This should allow the scanned data t

[2017-12-08 11:27] rdstern opened #260 "Metadata products to be provided?"
The facilities for exporting data have improved considerably since Version 3.2.
There also needs to be similar facilities to export the meta-data.  This is the station information, in particular.  Also element information, and possibly instrument information.

Further possibilities include "inventory"-type information, i.e. the element information for specified stations, including the length of th

[2017-12-08 11:32] rdstern opened #261 "Products from hourly and automatic station data"
CLIMSOFT is strict in demanding that daily data includes the time of observation of the data.

It also stores data on a within-day basis, either from synoptic stations or from automatic stations.

Currently there are products to calculate monthly (and annual?) summaries from the daily data.  It would also be very useful if daily data could be calculated from the within-day data.  In most "systems"

[2017-12-08 11:40] rdstern opened #262 "Missing values and current products"
This may already be done, so this issue is for clarification.

Existing products from CLIMSOFT include the calculation of monthly summaries, from daily data, etc.  I was not clear what is currently done when some values in the month are missing.  In general there may be options on this.  The extreme options are as follows:
1) If any day is missing then the summary is made missing.
2) Missing value

[2017-12-08 11:59] mhabimana commented on #262
@rdstern - Thanks,It makes sense. I will check with @smachua which ones are applied.

[2017-12-08 12:42] mhabimana commented on #261
@rdstern - Summaries from hourly/minutes data are very accurate that summary from daily data (e.g daily mean temperature from hourly/minutes data compared to daily mean from Minimum and Maximum temperature). The issue is that most of the time hourly data are not available for many NMSs,instead they have got daily but with the increasing of AWSs,this should be very possible to generates summaries b

[2017-12-08 12:55] rdstern opened #263 "Keeping track of station information throughout the CLIMSOFT software"
The current version is much better than CLIMSOFT 3.2 in limiting, for example, the elements for a station to those collected within that country.
It would be good to take this further.  For example once a station is entered into the data entry form that only collects rainfall, then this element could be filled-in automatically.
On products, if for example wind speed and wind direction are to be us

[2017-12-08 13:16] mhabimana commented on #260
@rdstern - Yes, I agree with you this is very important.

[2017-12-08 13:56] mhabimana commented on #259
@rdstern - Thanks, this is a good idea of exploring the batch editing.

[2017-12-08 16:59] rdstern opened #264 "Double entry"
I thought double entry in some form was in an earlier version of CLIMSOFT?  It is an important feature to add.

[2017-12-08 17:10] rdstern opened #265 "Updating/correcting data in the database"
Sometimes data in the final database will later be found to be incorrect. Examples include:
1) Individual values that satisfied the initial quality control and are subsequently found to be wrong.
2) Sequences of 2 or 3 days that are found  to be wrong, e.g. rainfall eneters on one day then found it should have been the previous day.
3) Sequences up to a month that are later found to be wrong, e.g.

[2017-12-08 17:16] rdstern opened #266 "Updating/correcting metadata"
I assume this is simpler, because the volume of data entry is smaller.  But examples I have seen have slight changes in spelling of station names, that are then considered as another station.

I assume the improved reporting of the metadata should allow these instances to be corrected.  It would be useful for this to be made possible, e.g. deleting extra station records without needing to understa

[2017-12-08 17:23] rdstern opened #267 "ACMAD worl on the use of scanned images"
We heard that ACMAD have been using an earlier version of CLIMSOFT and adding a facility to expand the data entry screen to allow data entry using the scanned image.

Apparently this is on a single screen.  It could be useful to extend their system to permit an option for users with 2 screens to have data entry on one and the scanned image on another.

However, another aspect of this issue is that

[2017-12-08 17:38] rdstern opened #268 "Tutorial database"
Samuel confirmed that CLIMSOFT, when installed, is automatically provided with an empty database plus a tutorial-style database that can be used for training purposes.

If useful we also have data from 54 rainfall stations and 6 stations that measure other variables.  If needed they providers have given permission that these data can be shared.  Hence they could be made available within the tutori

[2017-12-09 06:36] Fortunata commented on #260
This what WMO refereed to as Discovery Metadata ,it helps users or customers to know the kind of records existing in the NMSs if it is posted on the website and it is free information

[2017-12-09 07:25] rdstern commented on #260
Hi @Fortunata good to hear from you again.  Just to add that, through Samuels' presentation on Tuesday, we saw that there were quite a large number of enhancements that it would be good to include in CLIMSOFT, before the release in March/April next year.

But there isn't much time, so we will have to work efficiently and prioritise, both what is essential before the release and also where it is do

[2017-12-09 08:56] rdstern opened #269 "Commits on CLIMSOFT to GitHub"
Commits must become more regular and smaller in the sense they involve changes to only a well-defined section of the code.  This is to avoid conflicts.  Otherwise it will become impossible to involve more active contributors as is planned a bit before the first release in April and more afterwards, as others are invited to join.
Perhaps Marcellin could construct a set of instructions, and David/Da

[2017-12-09 22:16] rdstern opened #270 "Numbers in CLIMSOFT for elements"
I am trying to organise the data from Western Kenya.  I am unclear about some of the elements corresponding to different numbers.  I have element 17 as humidity and also 105?  Then 56 is wind-speed and also 111.  What's the difference?  Is it the units of measurement?  For humidity the means are similar at 64 and 60.  But for wind-speed they are very different with mean of 2.8 for element 56 and 1

[2017-12-11 20:52] rdstern commented on #268
[WesternKenya.zip](https://github.com/opencdms/Climsoft/files/1549353/WesternKenya.zip)

Please could we swap the possible tutorial files for CLIMSOFT?  Here are the files for Western Kenya.  There are 3 files, one with the station information, the second with the rainfall data (600,000 records) for the 52 stations and the third with the information from the 6 stations that had multiple elements.

[2017-12-12 06:58] mhabimana commented on #268
@rdstern - Thanks for sharing the data. Can you please describe the column of the file  "All_data1.scv" by their element name?(e.g.what stands for column x2,x3,x4,........).

[2017-12-12 07:16] mhabimana commented on #270
[climsoft_elts.xlsx](https://github.com/opencdms/Climsoft/files/1550587/climsoft_elts.xlsx)
@rdstern -Thanks attached is the elements description in climsoft. Hope you will find it useful.

[2017-12-12 08:27] mhabimana commented on #264
@rdstern -Thanks to  suggest this important feature in climsoft version 4.This was already raised previously as issue and assigned to @smachua (#216) for consideration.

[2017-12-12 08:31] mhabimana commented on #263
This can be implemented if all the metadata are filled by users.

[2017-12-12 08:38] rdstern commented on #268
@mhabimana I would be happy to do that when I have the response to my earlier query on the meaning of the different elements.  Meanwhile X2 is element 2 in CLIMSOFT i.e. Tmax etc.  That was the only safe way I could see of doing this.

[2017-12-12 08:42] mhabimana commented on #265
Corrections can be uploaded to observationinitial as external data the QC and finally uploaded to observationfinal by updating existing records. I discussed this with @smachua and he is going to improve on this by adding the updating existing records options on the data transfer from osbInitial to obsFinal interface .

[2017-12-12 08:47] mhabimana commented on #268
@rdstern - Kindly check my reply at #270 (I attached the observation element list including their descriptions)

[2017-12-12 08:49] mhabimana commented on #266
Metadata can be updated as one wishes in climsoft version 4 so long as the change does not cause duplicate records e.g the same station id or element code.

[2017-12-12 08:54] rdstern commented on #268
OK, now I see you have provided the useful list of elements.  I am still a bit unsure of the difference between element 17 relative humidity and 105, in stations that measure just once a day.  Is it a different instrument that is used?

Wind speed 56 and 111 is simply the units, i.e. metres/sec and knots.  I see that now.  But the mean of the data in element 56 is just 2.8 metres per second, while

[2017-12-12 08:55] mhabimana commented on #267
@rdstern - I am working with @gmainassara on the GitHub process to make sure he is conversant with the GitHub process. Once he is Ok with GitHub,he will be able to to move to the next level including collaboration and share the work with the team.

[2017-12-12 09:00] mhabimana commented on #268
@rdstern - It makes sense to combine the attached data with the existing sample data so that wide range of data is available for practice.

[2017-12-12 09:04] mhabimana commented on #269
@rdstern - This sounds great and noted.Though we are still having few active contributors for Climsoft.

[2017-12-12 12:24] smachua commented on #268
@rdstern - In simple terms, Climsoft metadata defines element code 17 as the daily RH for values likely* computed from hourly observations that are described by element code 105. Similarly element 56 is the daily wind speed average likely* from hourly wind speed described by element code 111.
I have not seen the data you're referring to neither its source, so I may not comment on the values descri

[2017-12-12 13:00] mhabimana commented on #268
@rdstern -Most of the case 111 is estimated in knots using beaufaurt scale and the lower limit in climsoft is 0knots and the upper limit is 30 knots(for QC purpose i.e values above 30 knots need much attention. In your case ,I am not sure if the values you have under element 56 were converted from 111 or were measured or calculated by another means.

[2017-12-12 13:23] mhabimana commented on #268
@smachua - The metadata information  shared by @rdstern has got only the start year and end year (there is no Day and Month). The import metadata open and closing date in V4 is using a calendar and will need the Day and Month to be able to import the metadata.This issue was raised by Cathy some times back,we need to see how to address such format in climsoft V4 metadata.

[2017-12-14 10:56] Fortunata commented on #268
We need to be carefull when defining element codes which require scrutiny especially with the staff of the any particular NMHS . Through training or clear explanation is required in the tutorials to avoid confusion on the  elements being captured by the met service. For example in the elements list all elements 1-100 were attributed to daily time lines; then from 100 to 200 were attributed to hour

[2017-12-15 08:03] mhabimana commented on #268
@Fortunata - Thanks for for your good recommendation. Could you please share with us the documentation, if available, on how to categorise the elements codes and stations codes inherited from CLICOM as you mentioned? This document can be very helpful as a reference to us and to future generations.

[2017-12-19 07:00] mhabimana opened #273 "Importing Summarised data into Climsoft V4 (Dekadal and Monthly)"
Climsoft version 4 can import different type of data( including minutes data from AWSs,hourly and daily data in different formats).
However,many NMHSs and Regional Climate Centres (RCCs) have got historical Dekadal data ( 3 values per month) and Monthly values ( 12 values per year) in excel spreadsheet/Access format.  It would be great to see how these data can be imported and stored in Climsoft v

[2017-12-19 07:53] mhabimana commented on #247
@jensriede - Thanks and sorry for my late feedback.
observationfinal table only takes numerics or blanks as observational values. Therefore the text file to be imported should be edited to remove non numerical characters so that they are treated as missing data.

[2017-12-20 07:24] Fortunata commented on #268
Still on this issue Rogers element 17 for RH is a daily value mean if at all the daily values from the available hours are averaged that is elem 17 but cation must be taken if only few hrs are available however its appropriate to average the two hours of 0600Z and 1200Z most available in the NMHS,
The elem 105 simply refers to the hour at which the RH was recorded and some users may want to know t

[2017-12-21 08:45] Fortunata commented on #273
In Climsoft 3.2, there was a form capturing monthly data and with an option to import through both the daily and monthly data but the form for capturing dekadal data was not there and I had raised this issue with Mr Machua. No monthly  or dekad form is available in V4 ; it would be more appropriate to import data directly into obsinitial and subject the data to  post key entry QC. however if the d

[2018-01-29 15:16] rdstern opened #280 "Export of Data from CLIMSOFT for R-Instat"
I und is erstand that this is a feature that could be added to the latest CLIMSOFT.  That would be great if it is not already available with the existing formats that can be exported.

R-Instat can import data in various formats including csv files.
The "shape" of the data that is used for analyses is to have the data in what might be called date/time format.  It is the shape that was called "by o

[2018-03-16 07:08] mhabimana opened #286 "Implementation of Delete Cell and Insert Cell Buttons on Data Key Entry Forms in Climsoft V4"
The two commands are working very well in Climsoft V3.2 whereby **Delete Cell** shift all the data at once in the cells upward in the previous cells and **Insert Cell** shift all the data at once in the cells downward. This is still very important and need to be implement in climsoft V4  to save time during data key entry process ;
![image](https://user-images.githubusercontent.com/10340170/375080

[2018-05-22 11:45] mhabimana opened #292 "Climsoft Application Running in the background"
More than one climsoft application can run in the background at the same time.This can be a source of error when some tasks are being done in climsoftV4. To stop this,someone need to open the task manager and stop manually previous climsoftv4 application which were running E.g.Data transfer,QC,etc. I am not sure how we can allow just one climsoft application to run at a time.

[2018-06-20 03:15] rdstern commented on #265
I am currently in Malawi using R-Instat with DCCMS.  We are finding problems (of course) in the data.  They have been supplied in Excel, but are now getting all their data into CLIMSOFT 3.2 ready for CLIMSOFT 4.

This brings me back to this issue of how corrections in the final database will be made and also how the source and details of the corrections will also be recorded.  You mention above th

[2018-06-20 05:59] mhabimana commented on #265
@rdstern Thanks, this feature was added and is called"update observations" under administration tab. Under update observations dialogue,you can be able to select a particular station and element either in the observationinitial table or observationfinal table then you can decide to delete records with issues  and load the corrected data again or updates the records with issues with corrected value

[2018-06-23 12:28] rdstern commented on #268
At the start of this discussion we noted "Samuel confirmed that CLIMSOFT, when installed, is automatically provided with an empty database **plus a tutorial-style database that can be used for training purposes**."

With the new CLIMSOFT I would like to use the tutorial-style database to test the current facilities.  Maxwell says he doesn't have it yet.  Could you send it or add it here, so it is

[2018-06-24 07:02] maxwellfundi commented on #268
@isedwards  yeah I have both of these. Will try run the test one from an older file that had the data which i think will be useful for @rdstern . The test database we have is empty because we cleared the data while we were testing the data entry forms.

[2018-06-26 07:38] mhabimana opened #298 "Update Observations Dialog"
To solve the issues of lack of skills of many users in using the back end, which need advanced skills in scripting languages (e.g. Structure Query Language (SQL)), a new dialog called “Update Observations” was created in CLIMSOFT to enable users to view and updates data in the intermediate and final stages of archive.

[2018-06-26 07:51] mhabimana opened #299 "Operations Monitoring"
This is to be used by the administrator to monitor the operations on climsoft. The administrator may wish to know how much data were keying in by specifics data entry clerks (users records), monitor the performance of users (e.g how much data were entered  for a specific period of time),verify data that passed through the double key entry process.

[2018-06-26 13:43] maxwellfundi commented on #268
@mhabimana @isedwards I have ran the older sql file, and I still got the two databases mariadb_climsoft_db_v4 and mariadb_climsoft_test_db_v4 and none seems to have the data into it. the test one has a few rows in the monthly table but nothing more. @smachua Could you possibly send us a copy of the test database that contains some substantial set of test data?

[2018-06-26 13:53] mhabimana commented on #268
@maxwellfundi: As you can see below,the observationfinal database table for the mariadb_test_db has got data:
![image](https://user-images.githubusercontent.com/10340170/41916803-7c7d4880-7961-11e8-9328-7783b8dd9b8c.png)

[2018-06-26 14:01] maxwellfundi commented on #268
@mhabimana  thanks alot, I got it!

[2018-06-26 18:07] smachua commented on #268
@mhabimana @isedwards I attached script for the test database
[mariadb_climsoft_test_db_v4.txt](https://github.com/opencdms/Climsoft/files/2138352/mariadb_climsoft_test_db_v4.txt)

[2018-06-27 12:50] Patowhiz commented on #286
@mhabimana in the insert cell scenario, you mean the value of day 01 to go to day 02, the value of day 02 to go to day 03 and so on? If so then what happens to the value of day 30 if it happens to be there? Is it discarded?

[2018-06-27 13:17] mhabimana commented on #286
@Patowhiz: Exactly,you get the point. Most of the time,Data entry clerks realise this mistakes  at the middle of typing or before reaching very far in typing on the form,and instead of re-typing,this methods is used. I think if the value exist already,the system can just overwrite this with the new values.Hope this makes sense.

[2018-06-27 13:30] mhabimana commented on #286
@Patowhiz: I think,we can maintain these like this,unless you want to suggest new names.

[2018-06-27 14:35] Patowhiz commented on #286
Should they be able to shift the values from a specific day (either upwards or downwards) or we limit them to shifting from just the first day that has a value to the last day that has a value?

[2018-06-27 14:42] mhabimana commented on #286
@Patowhiz : The first option would be great; shift the values from a specific day (either upwards:Delete Cell) or Insert Cell:downwards).

[2018-07-04 06:50] Patowhiz commented on #286
@mhabimana I'm thinking of having this as a **right click menu** on the **individual** text boxes to shift from. For  instance if you want to shift from day 09 upwards, you right click on the day 09 textbox, which will show a context menu with 2 options ,
  shift values upwards
  shift values downwards
Depending on the clicked option, the values will be shifted based on that text box ...

What do

[2018-07-04 08:10] mhabimana commented on #286
@Patowhiz : Sounds very great. no problem. Go ahead.so longer us this work well as desired.

[2018-07-05 08:42] Fortunata commented on #286
This kind of  shift up or down was there in CLICOM and if added to Climsoft it will improve performance of the software.This also need to be put in user manual once implemented.

[2018-07-22 18:30] isedwards opened #304 "Dynamically updating the database schema"
In a few places in the code, the database schema is currenlty altered dynamically at run time
(e.g. [frmDataForms](https://github.com/opencdms/Climsoft/blob/98e2c644c1e16c0642269419be85b5dac982b589/ClimsoftVer4/ClimsoftVer4/frmDataForms.vb#L19-L24))

[code]

@smachua - Do you think this code should be moved to the splash screen instead (so that it is attempted immediately when the user first logs

[2018-07-23 07:34] mhabimana commented on #304
@isedwards : Good to see that the merging. I am now able to clone and run the project without errors. However, victor's contribution is still missing.

[2018-07-23 07:53] iedwards commented on #304
Do you think @vralenkoane will submit his latest version as a pull request so that it can be merged automatically, or should we use the version that you both have?

[2018-07-23 08:01] mhabimana commented on #304
@isedwards : If you replace the current files for frmPlotter and formProductsSelectCriteria  with the one in the PR Samuel sent earlier,his contribution will be part of the project.

[2018-07-24 21:33] smachua commented on #304
Now that we have a merged code in Github wouldn't be better to start making commits to a single repository rather the separate two? That is my thinking. What do others think?

[2018-07-25 07:18] mhabimana commented on #304
@smachua : I think it would be great if you elaborate more on some of the issues you shared with us  yesterday which may affect the climsoft cdms if the auto increment new field Id added in the database schema tabled by @isedwards are not removed. If I remember well, one of the things you mentioned is that this will affects the speed of data processing of climsoft CDMS .

[2018-07-25 08:42] isedwards commented on #304
It would be good to know more. The technologies (like MariaDB) are a lot more advanced now than the original database that was used in the first Climsoft version.

Most of the modern frameworks make the assumption that there will be a single-column primary key in order to increase the speed and efficiency.  I'd be surprised if adding an auto incrementing field to a modern database caused any decre

[2018-07-25 08:57] isedwards commented on #304
The composite key prevents duplicates from being created, but we can achieve the same restriction by having a UNIQUE constraint on the columns that formed the composite key.

[2018-07-25 09:03] maxwellfundi commented on #304
@smachua @mhabimana I can confirm now that we will be working on the openCDMS repository @Patowhiz  this is now discussed and decided so we need to start working from there now.

@isedwards  From what i got from @smachua yesterday was that adding this new column too added issues to his existing code which now does not work properly. (not sure of the finer details of this)

[2018-07-25 09:07] mhabimana commented on #304
@maxwellfundi : well noted.

[2018-07-25 09:08] isedwards commented on #304
If Samuel's code references the fields by column number, instead of by name, then it would cause a problem. @smachua is this the case, or is there another issue?

If this is the problem then it could be avoided by adding `id` as the final column, then everyone's code would work.

[2018-07-25 13:06] smachua commented on #304
The composite key not only prevents duplicates but useful in many functions such as referencing a record for retrieval and updating using input values. Values in the id fields will be auto generated and  not simply used in such functions. Yes, some operations have been affected such as AWS realtime, TDCF encoding and paperarchiving. The affected tables can be modified but with no much benefits.

F

[2018-07-26 10:32] Steve-Palmer commented on #304
@smachua is correct on the reasons for using a composite primary key, especially on the main observations table. We need to be absolutely sure that there are no duplicate records for an observation. Also the observations table will be huge, with many very small records. So adding an id attribute to each of these records would add significantly to the storage requirements.

It would be possible to

[2018-07-26 11:45] isedwards commented on #304
Good, this all sounds sensible.

@Steve-Palmer, @smachua are you happy with having single-column primary keys in all of the tables except for the large open tables (`observationinitial` and `observationfinal`)?  We can then create workarounds for accessing the observation tables, but continue to use all of the code that AMI have written in recent months.

I see other benefits to having the single-

[2018-07-27 18:33] isedwards commented on #304
Ok, agreed.

@maxwellfundi, @Patowhiz - can you make sure that you have the latest version of the database from @smachua with all of his changes (and can you let us know [which tables you lose access to](https://github.com/africanmathsinitiative/Climsoft/issues/75) - is it just `form_monthly`, `observationschedule` and `observationinitial`)?

@volloholic, @dannyparsons - we'll need to workaround a

[2018-07-27 19:43] maxwellfundi commented on #304
@smachua Kindly l attach here the latest database version so that we can do a check over the weekend. We should do this quickly @patowhiz to make sure we give feedback fast for good progress to happen

[2018-07-28 03:18] isedwards commented on #304
Also - I need to create a branch with an updated version of the entity model for testing with

[2018-07-30 07:11] mhabimana commented on #304
@maxwellfundi : re-your message above,which database are you refer to? may be you forgot to add the link.

[2018-07-30 08:33] brasmus opened #305 "Accessing data in Climsoft through R"
Hi, I'm planning to build an R-shiny-app that reads data  from Climsoft. Is it feasible to access the Climsoft database through R?

[2018-07-30 09:31] isedwards commented on #305
Yes, it's certainly possible. Some work has been done on this in the past as part of the first phase of the [SASSCAL](http://www.sasscal.org/) project. They used R/Shiny to connect to a Climsoft 3.1 or 4 database using ODBC.
The code is not currently being developed/maintained, but it would be good to take it forward.  See the code on [GitHub](https://github.com/sasscal-dwd-apps/) and documentatio

[2018-07-30 10:06] maxwellfundi commented on #304
@mhabimana  I was suggesting that @smachua to send us his latest updated database.

[2018-07-30 12:16] Fortunata commented on #304
Any meteorological variable is identified at a point or station from which it was observed and also which was the time of  its observation which makes these variables known as (values in entity tables) unique hence the composite keys. In the case of the station tables, the station_ids were made the primary keys but they are instances when those numbers are not sequential hence the need of the auto

[2018-07-30 12:36] mhabimana commented on #304
@smachua kindly share with the team the latest climsoft database schema.

[2018-07-30 14:06] smachua commented on #304
@mhabimana , @maxwellfundi , @iedwards , @Patowhiz find in the attachment the script file for both the current test and operational database schemas. Let me know if anything fails to work as expected.
[mariadb_climsoft_db_v4_all.txt](https://github.com/opencdms/Climsoft/files/2241419/mariadb_climsoft_db_v4_all.txt)

[2018-07-31 11:41] maxwellfundi commented on #304
Thank you @smachua

[2018-07-31 18:55] Patowhiz commented on #286
I now have this in a right click menu

[2018-08-01 06:48] #286 closed

[2018-08-01 10:34] Patowhiz commented on #304
@smachua according to the screenshot, I expected element 185 (Evaporation) to have a corresponding Val_Elem185 column in the database table. Currently we only have its corresponding Flag185. Even after running the script you attached above. Have a look at it.

![downloaded](https://user-images.githubusercontent.com/21179007/43516887-90e2634c-958f-11e8-8801-d0ddc41a3ff3.png)

[2018-08-01 10:38] Patowhiz commented on #304
Even column for **element 99 (Grass Min Temp)** is missing. I think this will be **Val_Elem099**. We currently only have **Flag099**

[2018-08-01 10:41] Patowhiz commented on #304
Sorry I have seen them. They are all there

[2018-08-01 10:52] Patowhiz commented on #304
@mhabimana  @smachua in the above screenshot Geopotential is labelled as **element 185**. That means **Evaporation** and **Geopotential** have the same element code? Should this be **196**?

[2018-08-01 11:24] Patowhiz commented on #304
@smachua @isedwards @maxwellfundi @mhabimana  for form synoptic to work, we need the columns  Flag169, Flag170, Flag171 both in the database and the EF model . Their corresponding Val_Elem169, Val_Elem170, Val_Elem171 are already there.

I have fixed the form, when the above is fixed then the form can be tested.

[2018-08-01 13:58] mhabimana commented on #304
@Patowhiz @smachua @isedwards @maxwellfundi Attached is the updated form_synoptic_2_ra1: I have added the above mentioned 3 flags:
[form_synoptic_2_ra1.txt](https://github.com/opencdms/Climsoft/files/2249702/form_synoptic_2_ra1.txt)

[2018-08-01 14:35] Patowhiz commented on #304
@mhabimana thank you. @isedwards I hope we can have the updated model soon, as we conclude the upload functionality.

[2018-08-01 14:36] mhabimana commented on #304
@Patowhiz @smachua @isedwards @maxwellfundi: the reverted EF is now working well.What is remaining is the upload button on all the data entry forms,update the EF model with the above form_synoptic_2_ra1. Unless I forgot some thing. However,I am able to switch the database connection at login (from operation database to the test database), but not internally.Here I mean under Administration menu,da

[2018-08-01 15:08] isedwards commented on #304
@mhabimana - `form_synoptic_2_ra1.txt` currently defines a table that does not have a primary key (only a composite index).  I will change this to a composite primary key, like we did with `form_monthly` and then update the model.  I will also attach a new version of the `form_synoptic_2_ra1.txt` script.

[2018-08-01 15:18] mhabimana commented on #304
@isedwards Thanks I can see in the reverted database schema the PK is applied at stationid,year(yyyy),month(mm) and hour(hh)
![image](https://user-images.githubusercontent.com/10340170/43530853-38f735cc-95b7-11e8-8129-afea1334398c.png)

[2018-08-01 15:35] isedwards commented on #304
[code]

[2018-08-01 15:37] mhabimana commented on #304
@isedwards Thanks

[2018-08-01 16:18] smachua commented on #304
@isedwards you're right. Any composite key in any table can be made Primary key. I may have omitted some.

[2018-08-02 13:58] mhabimana commented on #304
@Patowhiz @smachua : Grass Min box(formSynop_2_ra1 is not active on all the hours.I was expecting this cell to be active at least at 0600 UTC. I am not sure if this is an omission or the way this was programme.

[2018-08-02 16:54] smachua commented on #304
@mhabimana and @Patowhiz Grass min and Min temp entries should be enabled once daily according to the time set in General Settings.

[2018-08-02 17:17] Patowhiz commented on #304
@mhabimana have you checked on the settings? As outlined by @smachua

[2018-08-03 05:52] mhabimana commented on #304
@Patowhiz  @smachua Yes,I am now OK.Grass Min is active from April to September only ,this is set in the general settings.

[2018-08-03 06:03] Patowhiz commented on #304
I'm working on the progress bar for the upload. In the meantime I'm to add any improvement that is urgent

[2018-08-03 06:10] mhabimana commented on #304
@Patowhiz  Thanks, Not sure if there is any remaining task as of now apart the progress bar @isedwards  and @smachua  can let us know.

[2018-08-03 06:47] mhabimana opened #311 "Merging Codes ,Installer for Climsoft V4.1 and Testing"
Dear Team members
Happy to see that both codes are merged and working well. Here are the remaining tasks:
1.Finalise the upload data transfer progress dialog;
2. Adding codes for Victor on "Data Gaps" and "Double Key Entry" by Samuel;
3.Create the Installer for Climsoft V4.1;
4. Avail the Installer for testing in Western Kenya and  to Climsoft Contributors.
@maxwellfundi @Patowhiz let us know when

[2018-08-03 09:17] smachua commented on #311
@mhabimana, @Patowhiz and @maxwellfundi I will be able to implement 2 if you're the forms are working as expected. I just need a day or 2 to accomplish that.

[2018-08-03 12:12] mhabimana commented on #311
@smachua Thanks and noted.

[2018-08-03 12:22] Patowhiz commented on #311
@smachua @mhabimana   I'm working on the progress bar. It should be ready by this weekend

[2018-08-03 12:24] mhabimana commented on #311
@Patowhiz Thanks,well noted.

[2018-08-06 09:46] mhabimana commented on #304
@Patowhiz @maxwellfundi @smachua form_synoptic_2_ra1 is not active from September to December for all hours,not sure if this is they way it was set.

[2018-08-06 10:28] mhabimana commented on #304
@Patowhiz @maxwellfundi @smachua Add New Button on the Form Monthly is not giving an empty form.

[2018-08-07 09:42] mhabimana opened #312 "Populate required elements in the list box"
@Patowhiz @maxwellfundi @isedwards : We are moving slowly and yet the testing of the entire system should start next week. Can you please finalise the remaining issues on the data entry forms this week so that the testing start next week? These are: the upload data progress dialog on all the data entry forms,the issue of the AddNew button on form Monthly,the form Synoptic_2_ra1 ( the following mon

[2018-08-07 09:55] Patowhiz commented on #312
@mhabimana I was not aware of the selection option. I'll add this in the new pull request

[2018-08-07 10:55] mhabimana commented on #312
@Patowhiz Thanks and noted. I see,you are right,the form synop_2_ra1 is OK, I did not change the year.Future dates should not be active.

[2018-08-07 11:14] mhabimana commented on #292
@smachua @isedwards I have not received any feedback from you on this issue. I think to solve this issue, the close(x) button on the Main Menu interface can be removed because if the closed command  button is used,climsoft program is closed everywhere,even in the backgroung but if the close(x) is clicked,the program close but continues to run in the background. Is there any other solution to stop

[2018-08-08 08:31] Patowhiz commented on #312
@mhabimana for clarity. My interpretation is, the element selector will load only the elements that have been indicated as selectable. That means when someone fails to see the element he is looking for he will have to go back to the metadata and set it as selected. And this will happen for the forms that have this control.

[2018-08-08 08:34] mhabimana commented on #312
Thanks, you are right

[2018-08-08 08:55] Patowhiz commented on #312
@mhabimana the issue of formMonthly not going to a new record when you click on button add new is because of the sequencer. frmMonthly uses table seq_year for sequencing. That means it only tries to go to the next year since its the only column used. With our new implementation of not allowing future date entry it cannot go to 2019.

However this does not limit the user from entering new records.

[2018-08-08 10:03] mhabimana commented on #312
@Patowhiz Thanks I get your point. But I am not sure if the year sequencer is working well since AddNew  is not creating the empty form with the next year as it is supposed to do.

[2018-08-08 10:09] mhabimana commented on #312
@Patowhiz @maxwellfundi @isedwards @smachua Now we have the new data entry forms ready. Well done. I would suggest now that @smachua clone the latest copy of the project and add the remaining features (Double Key Entry and Data Gaps).

[2018-08-17 10:26] isedwards opened #321 "4.1 release"
We currently don't have an estimate for the time it will take to review, test and merge the new functionality in #302 before it goes out for formal testing.

We have the option to delay 4.1 until this is added and tested, or release 4.1 and add this to 4.2 (for release before the end of the year).

This kind of situation is very common in all software projects and it would be normal to not shake t

[2018-08-17 11:03] Steve-Palmer commented on #321
I suggest we park the double-key-entry work unitl after the testing in Western Kenya, then installation and production testing in Rwanda. We are almost ready to go with the logistics for these activities, so time is tight and a delay of more than a week runs the risk of severely damaging the reputation of the project. In particular, we are gearing up to spend on up to four installation and trainin

[2018-08-17 11:49] mhabimana commented on #321
@Steve-Palmer: Thanks,at least you are helping us to move forward. I am happy with the idea.

[2018-08-17 11:51] smachua commented on #321
I strongly support that the planned installation and Instat training in Rwanda go as scheduled in September. It's very important that R-Instat is introduced without any further delay. We found that R-Instat can work with any Climsoft 4.x version. Therefore I can assure all that we're ready for Rwanda installation.
I and Marcellin have successfully tested the double key entry in both New and Old fo

[2018-08-17 11:51] isedwards commented on #321
Given that double key entry is an important feature, a fortunate consequence of delaying this to the next [minor release](https://semver.org) is that managers will be keen to update to the software to the latest version.

[2018-08-17 13:30] mhabimana commented on #321
@isedwards @smachua We need to agree on the packaging (contents) of version V4.1 to be released for the testing in Western Kenya and to install in Rwanda.
Just to mention  issues which need to be revised on the  recreated New Data Entry forms by the AMI team:
1.The new recreated data entry forms are not loading missing value (M) into the observation initial, during the uploading time( Note that th

[2018-08-17 15:51] smachua commented on #321
@mhabimana note that issues 3, 4,5 had been solved in the commit #302 . If it is merged then it's only 1 and 2 that will be pending.

[2018-08-17 16:25] mhabimana commented on #321
@smachua :Thanks and noted

[2018-08-20 09:58] mhabimana opened #322 "Populating Missing Value Flag in Observationinitial"
@maxwellfundi @Patowhiz I have realised that the missing values (M) is not being stored in the database (observationinitial) when uploading data from the data entry forms to observationinitial but rather the date associated with the missing value is being skipped in observationinitial database table . We need to rectify this since the dates corresponding to missing values should appear in the data

[2018-08-20 11:39] mhabimana opened #323 "Delete Rainfall Value - Form Daily2"
@maxwellfundi @Patowhiz  Currently with the new Daily2 Data entry form,it is not possible to delete the rainfall values using delete button. This will not accept unless you fill the total box.  Since this total is just for checking and is not stored in the database,the Delete command button should delete the data displayed on the form without prompting the user to fill the total box. Correction is

[2018-08-20 18:00] Fortunata commented on #322
On this issue of missing data , What happened to the inventory as a meta data product showing which data is available and missing par station par months . This can be output as an excel sheet. This is to Marcellino

[2018-08-21 07:39] Patowhiz commented on #322
@mhabimana I had implemented this based on Samuel previous functionality. He was skipping empty values. To be clear, you are saying we should have empty values with flag M be store? What about empty values without a flag?

[2018-08-21 07:48] mhabimana commented on #322
@Patowhiz Thanks. This is how it is supposed to work. Empty value automatically gives M (missing) and should be stored in the observationinitial under Flag field. Yes,I discover the same issue as well in what Samuel did but we need to correct this. @smachua I am not sure if you have made any correction in your latest PR.

[2018-08-21 07:55] Patowhiz commented on #322
@mhabimana what about the empty values without a flag. Remember M is only assigned when you press "enter".

[2018-08-21 08:06] Patowhiz commented on #322
@mhabimana  I'm implementing this in a way that. any missing values will be uploaded to the observation initial, whether it has a flag or not. Is that okay with you?

[2018-08-21 08:07] mhabimana commented on #322
@Patowhiz OK, I just had discussion with Samuel on this and we agree to leave it like this,in this case,if someone want to check missing values,he will be able to see these in the data entry forms.

[2018-08-21 08:10] Patowhiz commented on #322
So I should not change anything on this?

[2018-08-21 08:10] mhabimana commented on #322
@smachua Can you help us on this?

[2018-08-21 08:14] mhabimana commented on #322
@Patowhiz The PR #302  creates many conflicts,I am going to close this. @smachua is going to commit a new PR and then we will see how to continue from there. I suggest we hold on a bit.

[2018-08-21 08:18] Patowhiz commented on #323
@mhabimana I just finished solving this issue. Should I hold to the changes or a create a new pull request on this?

[2018-08-21 08:19] Patowhiz commented on #323
I'm not sure if the files touched in  PR #302 will affect the data entry forms

[2018-08-21 08:38] mhabimana commented on #322
@Patowhiz I get your point. M if applied when the enter key is pressed and if not, the text box remains empty after saving and there is no flag associated with this. But the idea is that any empty text box in the data entry form should be associated with the Flag M,whether this was done by error or not.  I think @smachua  need to shed more light on this and make sure we are implementing the right

[2018-08-21 08:42] Patowhiz commented on #322
Yeah. Because, I thought having no value and no flag could mean the value was not recorded, not necessarily missing. I would recommend storing the value whether empty or not,whether it has a flag or not in the observation initial, though I still don't know the absolute purpose for the observation initial. I'm open to any kind of implementation

[2018-08-21 09:48] smachua commented on #322
@Patowhiz et al. When saving at key entry forms all text boxes without values will be treated as missing and should be given a flag "M". Actually missing data means observations that could not be determined. Although users are required to press ENTER key on the affected text boxes there is a likelihood of some failing to do that. In cases where the missing observations are later located the key en

[2018-08-21 10:34] Patowhiz commented on #322
@smachua  @mhabimana  Okay, how do we proceed, should we implement this or leave it as it is?
For the sake of clarity, if we are to implement this , it means  during the upload, empty values will always be uploaded with "M" set as the flag regardless of whether the flag is there or not.

[2018-08-21 10:39] smachua commented on #322
@Patowhiz I suggest you leave it the way it is. I will open a discussion on handling of missing values (M) so that others can give their views as well.

[2018-08-21 16:15] rdstern commented on #321
I am confused.  Four days ago there were problems for Ian to merge, (despite being away for family reasons) because 156 files were changed from the master and there were 25 conflicts.  I understood there was then a proposition from Steve (above) to leave the new changes for a quick minor upgrade later.  That would delay the introduction of the double entry until after Rwanda for a minor upgrade.

[2018-08-21 21:38] smachua commented on #321
@rdstern I don't think there is any confusion. We are always updating the code for things to work better.  The additional changes you're seeing have nothing to do with the implementation of double key entry. After some discussion with @mhabimana we found it necessary to have metadata being updated through gridview hence the additional changes. The only different thing this time is that there are c

[2018-08-22 08:40] rdstern opened #325 "What is provided as a CLIMSOFT release?"
Following the last message from Samuel in #321, we are agreed on the "Version" of the code to be provided for the testing in Western Kenya.  He writes:

"However I agree with you that:
-Western Kenya testing can start even without merging the recent changes. The new key entry forms were the target of testing."

This message is to clarify exactly what is to be provided and where it is provided from

[2018-08-22 09:03] mhabimana commented on #325
@rdstern Thanks I agree that we are going to compile a setup from the master copy the way it is now for testing in Western Kenya though this is not what was desired initially. We were supposed to create the installer from the merged version ( some important work are not yet merged). In this regards,I will share with the team the Dropbox link containing both the installer and the user Manual docume

[2018-08-22 10:46] volloholic commented on #216
My understanding is that double data entry has currently been implemented as a process which updates data after it has been added to the observation initial table.

I think it is worth a discussion about whether this is the desired approach. I can certainly see value in having a system which enables reentry of data which has already been accepted to the observation of data. However double data ent

[2018-08-22 11:32] rdstern commented on #216
CLIMSOFT will increasingly be used by staff at individual Met stations, i.e. outside headquarters.  In some countries it may then be useful for them to send their data as entered, together with the paper records and for the 2nd entry to be by the data entry staff based at the headquarters.  I assume the proposed system for double entry ( or re-entry) will handle this situation.

There will then so

[2018-08-22 13:02] rdstern commented on #216
That's great.  The old CLICOM had the problem that it was difficult to enter data into the database until a month was completed, and that made it very difficult for the 10-day bulletins.  So excellent that this problem no longer exists.

[2018-08-22 13:55] volloholic commented on #216
This discussion seems useful already. From Rogers and Samuel's responses I believe we should be looking at what I put as the alternative implementation in my message above. If so then this does lead to a few changes I would propose in the current implementation. The most important relates to the database structure and QC processes.

Currently the data entry forms are tied to individual temporary t

[2018-08-22 15:00] mhabimana commented on #216
@volloholic  You are right.Currently the data entry forms are tied to individual temporary tables in the database but the QC is being done at data entry level (e.g lower and upper limit checks),any value which is not trapped at entry level will be uploaded into the observationinitial where the QC is taking place. The upload on each and every  data entry forms will then transfer data from the data

[2018-08-23 00:07] volloholic commented on #216
@mhabimana does this mean that the second data entry in the current implementation of the double data entry simply overwrites any values which are different?

[2018-08-24 08:18] rdstern opened #326 "CLIMSOFT issue on accessing the tutorial database"
I was able to install CLIMSOFT following the instructions in the use guide.
I then wanted to switch to the Tutorial database.  I found that administrator privileges are required to do this.

I accept the possible need for admin level for the main installation, but propose that there need not be the same requirement to access the tutorial database.

In general the **Configure Database Connection**

[2018-08-26 11:33] rdstern opened #327 "CLIMSOFT User Manual"
This is a really important document.  It is perfect for the testing process.  Indeed I am not sure how we (or others could have proceeded without it.  Congratulations to Marcellin and Samuel for producing it.

I went through the guide, before the testing starts in Western Kenya.  It is good.  I had - of course - a few questions, that I have inserted in the document.  I also have made a number of s

[2018-08-27 07:54] maxwellfundi commented on #327
I agree this is a very important document. We are now having a go at it so that we can get climsoft set up ready for testing.

[2018-08-27 09:23] rdstern opened #328 "The windrose program in CLIMSOFT Version 4?"
This is a separate programme which is free, but needs a licence key.  Do we need it?

The installation is complicated enough without this.  It seems odd to have this feature just for a special graph for wind data.  There are no graphs in CLIMSOFT yet for other types of data.

It is also a limited wind rose.  I have yet to check carefully, but I think it only does one wind-rose at a time.

The clif

[2018-08-27 12:14] rdstern opened #329 "Making new users in CLIMSOFT 4"
This is section 4.1 and is a very short section in the guide.
1. There are many defined types of user.  But the guide does not describe their privileges.  I know an Admin is super-powerful.  But can a person at the level of Metadata also produce products, etc?
2. I notice that you cannot have 2 users with the same name.  They must be unique.
3. The password must be at least 6 characters.  Does it

[2018-08-27 12:24] rdstern opened #330 "Configure general settings - section 4.2"
I was not able to see what I should change here.  There is a rather strict statement in Section 4.2 that says:

IMPORTANT!
In Figure 10a, the Administrator must navigate through all the records in the dialog and change the contents in the text box to the right of the label “Setting Value” to suit the required local configuration.

What should we be doing here?

[2018-08-27 13:24] rdstern opened #331 "Entry of metadata - station information"
This dialogue seems to have some problems:

I am entering the station information for Maseno Vet Station.  I am using the tutorial database.

I copied your closing date from the figure 11, i.e. 31/12/9999.  When I click Save it says:

**ClimsoftVer4
Not Valid Closing date date**

Has this changed now in Version 4?  If so, the figure must change.

Then it says:

**ClimsoftVer4
Missing the DataColum

[2018-08-27 14:10] rdstern opened #332 "Entry of metadata - station element information"
I first tried to enter the Station-Element information before entering the station.  This was because of the errors I found in the entry of the Station information, see #331 ..

This is what happened:

I just entered the number of the station and the element code, namely 5.  It then said:

**ClimsoftVer4
Input string was not in a correct format.Couldn't store <> in height Column.  Expected type is

[2018-08-27 14:11] mhabimana commented on #330
@rdstern The general settings dialog below contains default settings and users are advised to adjust according to their country:
E.g1. In some countries wind direction is recorded in **3** digits and others in **2** digits).
E.g2. The default path where to store the QC report file(s) is set to this path C**:\data\QC** but users can decide to change this path the way they want or leave this the way

[2018-08-27 14:34] rdstern opened #333 "Selecting data entry forms"
I used the Key entry forms settings, Fig. 24.

I unticked the Kenya agromet form.  Then clicked update.  It says:

**ClimsoftVer4
Incorrect integer value: 't' for column 'entry_mode' at row 1
OK**

I don't think this is working?

[2018-08-27 15:10] rdstern opened #334 "Data entry of daily with monthly total set"
The data entry started well.  In the first month there were 6 rain days.  The total was given as 33.3mm.

However the total (or one of the values) was incorrect.  It was actually 34.3mm.  So the save correctly didn't work.
But the message was misleading.  It says the computed total was 34.  Well it sort of was, but it should have said 34.3, i.e. it is probably set to give an integer value, but sho

[2018-08-28 06:47] smachua commented on #328
@rdstern I agree with you that we can discuss windrose and other graphics later and compare the available resources for that purpose.

[2018-08-28 06:57] smachua commented on #334
@rdstern thanks for reporting your observations in course of the testing exercise. @mhabimana may try and compile all the issues reported indicating which fall under AMI and those under me.

[2018-08-28 07:55] rdstern opened #335 "Tutorial Database file and permissions"
Marcellin, I wonder if you have sent the wrong tutorial database file?

We started discussions on the need for a tutorial database in #268.

I was keen on using the tutorial data so that we could test the products, etc immediately.  I assumed the tutorial would have data of various types as discussed in the manual, so one tester could examine products, including export, etc.  And also so this woul

[2018-08-28 09:01] rdstern opened #336 "Testing the different data entry forms"
The AMI team worked on 5 data entry forms, namely daily, hourly, Hourly Wind, Monthly and SynopticRA1.

We would like to test the manual data entry on each of these forms.  We have lots of data for daily.  Could someone send data in forms for the other data entry types.  If not, could you tell us what stations have these types in the tutorial.  It would be better to have real forms.  We don't need

[2018-08-28 12:21] rdstern opened #337 "Importing text files"
This is an issue for our team and we just need a bit of help.

We have data from Western Kenya for 52 stations.  We have imported the Station file into CLIMSOFT.  Now we want to import the data - about 600,000 records of rainfall.  Another file has about 60,000 records of many elements, but we want to start with the rainfall.

Can we import directly, using your information from Section 8.5,  or do

[2018-08-28 12:29] mhabimana commented on #337
@rdstern Thanks. Station element is not required.If you have successfully imported your metadata for station (stationId,stationName,Lat,Lon,elevation),this should be enough for you to import your data into climsoft. Make sure the elements codes match with the one in climsoft.

[2018-08-28 12:34] rdstern commented on #337
Many thanks.  That's a relief.  We have had another small problem that the Station file has matching names to the ones in the Station information.  But it doesn't have an ID in the data file.  We have linked on Station name.  I presume we have to add the ID variable into our station data file

[2018-08-28 12:46] mhabimana commented on #335
@rdstern Climsoft V4 was designed to enable NMSs to store more detail levels of metadata but if these are not available,the system will still work if the system has got basic metadata (stationid,stationName,Lat,Log,elevation). Regarding the levels of access and permission, climsoft v4 has got different users with different levels of access,we will need more time to discuss on this. Some icons on t

[2018-08-28 12:49] mhabimana commented on #337
@rdstern The Stationid is very important and I suggest you to define some station id for the stations you are going to import for the matter of testing before importing the stations metadata info.

[2018-08-28 12:50] rdstern commented on #337
Thanks.  Will do.

[2018-08-28 13:05] rdstern opened #338 "Permissions"
Many operations can't be done, because I have not gone in with Administrator privileges.
For example when I ask for a simple product - an Inventory - it says:

**ClimsoftVer4
Access to the path 'C:\Program Files (x86)\ClimsoftV4\Bin\data' is denied.
OK**

This applies to many operations using either the tutorial or the main database.  That is something that I suggest be fixed before Rwanda.

Just

[2018-08-28 13:56] Wycklife opened #339 "Uploading daily data"
I have imported the station information, and am trying to import the daily data. It is about 627000 records.

I keep getting the message:

**ClimsoftVer4
You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '' at line 1
OK**

Is there an obvious reason for this?

[2018-08-28 14:01] mhabimana commented on #339
@Wycklife Can you add the screenshot of this error to help us diagnose this?

[2018-08-28 14:10] Wycklife commented on #339
![image](https://user-images.githubusercontent.com/33898404/44728425-2af91600-aae5-11e8-8d67-3dae40c8eeca.png)
Here is the screenshot of the issue.

[2018-08-28 14:13] MainaJohnO opened #340 "Changing data in the main database"
I have been doing some data entry  and after uploading it just realized that for some entries I captured the daily rainfall as Zero when it actually needs to be missing. Is is possible to change the entries captured as zeros to missing and if so how

[2018-08-28 17:01] rdstern opened #341 "Products - output of tidy data?"
This has been a regular request of mine.  This is to output data in what seems to now be called a "tidy" shape.  Or it could be headed for R-Instat.
In CLIMSOFT 3.2 data could be output in columns by Station and Date and Element.  There would be 4 columns, namely Station, then Date (which could also be Date and time, or could be in 3 columns itself if daily, i.e. Year, Month, Day), then the elemen

[2018-08-28 17:35] mhabimana commented on #341
@rdstern This is exactly (tidy)how Climsoft output the product file. I think you need to try this under the product,daily .

[2018-08-28 18:41] rdstern commented on #341
@mhabimana Great.  I was looking under Products > Output for Other Applications.  I have now seen it under Products > Data > Daily.  It works fine.

Related questions, that I know must be equally straightforward.  In the tutorial I did an inventory for all 12 stations for Precip, Tmax and Tmin. I did it from 1940 to 2018, because I don't yet know how to find the extent of the data for each station

[2018-08-28 19:20] mhabimana commented on #341
@rdstern Thanks, the simplest way is to use administration menu, then update observations, select whether observationfinal  and then select the station id, the element id and the period and then view. If you are good at using SQL queries, you can query the database from the back end.

[2018-08-29 04:46] rdstern commented on #341
Thanks.  I tried **Administration Menu > Update Observations**

a) It looks a **perfect dialogue** for the task I asked about.
b) So I used **Observation Final** and then clicked **View**.  It has no data.  I had hoped list all the data, but in a convenient table view.  Or at least say 17,000 records from 12 stations, etc.  So tell me something about the data in the database?
c) So as you say, I n

[2018-08-29 05:15] rdstern opened #342 "What's where in the database?"
The situation is (I think) becoming clearer for us.

The AMI team have been asking many questions I cannot answer.

In the tutorial database are all the data daily, or are there other types of data?
How many observations for each station?
Which elements are recorded for each station?
And so on

This is what I call an inventory and it was done quite well in CLICOM.  (The current CLIMSOFT inventory

[2018-08-29 05:22] rdstern opened #343 "What are the summaries in CLIMSOFT when there are missing values?"
As an example, from daily data you can get monthly totals or means.  Great.

I could not find any discussion of what CLIMSOFT does when there are missing values in the month, etc.  I suspect this just needs to be in the manual.  CLIDATA has a fixed rule - Here it is:

CLIDATA: "• For the calculation of monthly data the data must satisfy 3/5 condition. Not 5 days in month is missing. Not 3 subseque

[2018-08-29 05:25] rdstern opened #344 "How is export to CPT to be used?"
It is very good that export to CPT is possible

The team has asked about how exactly this is to be used, because CPT usually uses 3-month totals.  And we did not see any option to calculate these?

[2018-08-29 05:47] mhabimana commented on #343
@rdstern This is a good point. @smachua will  be able to explain how this was implemented in climsoft.

[2018-08-29 07:32] rdstern opened #345 "Preparing a tutorial guide for CLIMSOFT"
I propose that a tutorial guide is needed and that there isn't already such a guide?

If not, then I suggest the following might be useful.  If you agree in principle, then it would be good to continue discussions on github and then start work together with further discussions when we are together in Rwanda?

1. It could build on the current test database.
2. There are 12  stations.  You add  stat

[2018-08-29 07:34] Wycklife commented on #339
[WKenya_StationInfo.xlsx](https://github.com/opencdms/Climsoft/files/2331129/WKenya_StationInfo.xlsx)

Importing the above station metadata, was successful. When i tried to import rainfall data of the stations,
the above error occurred again, and the data was loading extremely slowly. Below is the screenshot of the above issue.
![image](https://user-images.githubusercontent.com/33898404/44772359-4

[2018-08-29 07:44] mhabimana commented on #339
@Wycklife Have  you used the User Manual section on this?Especially on the column header settings?It is clear that you have not matched well your data with the corresponding elements under **column header settings**

[2018-08-29 07:48] Wycklife commented on #339
Hi,
The attached below is the file containing the data set,
 Wkenya_Rain2.xlsx
<https://drive.google.com/file/d/1R6BZ4He-RIcNq8JVl5oYtoqC0rMw7FP1/view?usp=drive_web>
Regards,

On Tue, Aug 28, 2018 at 5:02 PM Marcellin <notifications@github.com> wrote:

[2018-08-29 08:10] MainaJohnO commented on #340
I have been looking at your manual key entry in chapter 6
Am trying to enter a month, where the whole month is missing, how do I do this
Also what do I put i the total box

[2018-08-29 08:36] rdstern commented on #338
Now I see part of this problem with the products.
I have been producing products and an inventory.  They are saved automatically here:
**C:\Program Files (x86)\ClimsoftV4\Bin\data**
This is why I was not able to use the products without being a (Windows) administrator.

This should be changed.
At the same time we should look at what else needs this access and minimise the need to be a Windows admi

[2018-08-29 09:38] mhabimana commented on #339
@Wycklife You need to do a bit of work on this file before the import into climsoft. There some column which are not needed and you need to match well the column (see below dialog). Just take a few minutes and read the user manual section on this:
![image](https://user-images.githubusercontent.com/10340170/44779528-64369200-ab88-11e8-8e04-0f02c9609939.png)

[2018-08-29 11:59] rdstern opened #346 "R-Instat dialogue to read the CLIMSOFT database"
This is not in CLIMSOFT, but in the Climatic menu of R-Instat.  It is sort of working, but there are some aspects that could be made easier.
1. When you first use it you need to establish the connection.  This uses a sub-dialogue with 4 items.  It is similar to Fig. 7 in the CLIMSOFT guide:
a) The name of the main database could now be given as a default.
b) The Port is also blank.  I suggest we i

[2018-08-29 12:21] rdstern opened #347 "Quality control dialogue"
We have been using the quality control and have some suggestions.  They do not need be done by Rwanda.

The Quality control provides an Excel file for the observations that exceed the upper limit and another file for those that are less than the lower limit.
In our case we had just the heading line, because no values exceeded the higher or were less than the lower limit.
On one occasion we later f

[2018-08-29 12:43] mhabimana commented on #345
@rdstern Sounds OK

[2018-08-29 18:35] rdstern opened #348 "Products > data > Daily dialogue"
I can not get this dialogue w=to work any more.  I am not sure what I am doing wrong:
![image](https://user-images.githubusercontent.com/11226469/44806986-0aa68580-abd1-11e8-8e39-1a4662890dcf.png)

This is from the Tutorial database.  I transferred that into R-Instat, (a different way) so I know there are data at that station.  I have tried other things and the message is always the same.  It alwa

[2018-08-29 18:47] rdstern opened #349 "Windows in CLIMSOFT"
This is a query on whether this behavior is what is needed for the Windows:
![image](https://user-images.githubusercontent.com/11226469/44808312-92da5a00-abd4-11e8-9afd-41cb9dd0eeb7.png)

I am able to open many windows in CLIMSOFT simultaneously.  The screen shows differnet types of data enrty, etc all open.  So it doesn't close a window when you open another.  I have not checked what happens when

[2018-08-29 18:54] rdstern opened #350 "Data entry problem"
In the data entry forms, when I click on the first option, namely form synoptic, I get this nasty message:

![image](https://user-images.githubusercontent.com/11226469/44808756-bce04c00-abd5-11e8-8bce-847b80bffccb.png)

If you click Continue then it loads the data entry form.

But this is a bug on the new data entry forms that should be fixed before Rwanda.

[2018-08-29 19:14] rdstern opened #351 "R-Instat reading CLIMSOFT data"
Some minor issues are mentioned in #346.

This is in R-Instat Climatic > File > CLIMSOFT.

A serious problem needs to be fixed before Rwanda.
When you make the connection to the database the first time it works fine.  But when you try again, it gives an error message and you can't put in the password.  For example make the connection to the ordinary data base and then try to make it to the test da

[2018-08-29 19:28] rdstern opened #352 "Starting again with the tutorial?"
We have been using both the empty database and the test (tutorial) database.  We would now like to start the tutorial again.  And go back to the empty database, now we know more about how to use CLIMSOFT.

Is there a "backup" copy of the databases as they are originally supplied?  If not, then could there be, in the future?  Perhaps even in  the version for Rwanda.

[2018-08-29 19:57] rdstern opened #353 "Simplifying the tutorial (test) data?"
I found it difficult to "see" the data in the tutorial in CLIMSOFT.  I look forward to seeing how that is done, when we are together in Rwanda.

After transferring the data to R-Instat I saw there are 12 stations, 29 elements and 73,275 observations. .  However 18 of the elements are only there for one day and only for one site as shown below:
![image](https://user-images.githubusercontent.com/112

[2018-08-30 06:18] mhabimana commented on #348
@rdstern Re-the dialog above. Are you sure you are pointing to the right database(here, I mean the test database)? Because,I tried to query the same station and the same period using the test database and I am able to get the output file. Please check well.

[2018-08-30 06:28] mhabimana commented on #350
@rdstern You are right. This a bug,there are some 3 flags which are not necessary in the EF,these where removed in the Database schema but there still present in the EF and need to be removed. This issue was addressed in the Beta2 PR which is pending awaiting for merging. When I shares the installer mentioned some few issue(bugs) which I was expecting to be there,this is one of these.

[2018-08-30 06:39] mhabimana commented on #352
@rdstern The software is distributed with the script to create the database(both the operation database(empty and the test database) this is located in the climsoft folder DBase. So, in case of any thing goes wrong,this is where to go. In this case,you can run again this script to create fresh databases(operation and test database).

[2018-08-30 13:08] rdstern commented on #350
Thanks.  I am keen that any bugs are noted also as issues, both so they are clear to everyone, and to point to what should be tested, once the solutions have been merged./

Would you be able to write an issue on each of the other bugs that are waiting to be merged?

[2018-08-30 13:41] mhabimana commented on #350
@rdstern Thanks,Will do that.

[2018-08-30 14:00] mhabimana opened #354 "List of bugs observed in the master which need to be addressed."
Below is the issues/bugs which are in the master and need to be addressed. However, 2,3 and 4 were addressed by Samuel in the beta2 Pull Request committed by Samuel (#324):
1. Deleting rainfall records on the Form Daily2: This cannot be deleted unless the required total value is provided in the total required text box;
2. There is an error message which occur when attempting to open the form Synop

[2018-08-30 17:28] rdstern commented on #348
Yes, I have checked with Administration > Configure Database Connection and it is the test database.
We were earlier able to export data nicely from the tutorial database, (on another machine).  That was before we added the station records from Western Kenya.  In my current test database I therefore do have lots of stations with no data.  I just wonder whether there is a problem somewhere there.

[2018-08-30 17:45] rdstern opened #355 "Importing daily data"
@mhabimana three more questions about importing daily data:

Your file in the example in Section 8.5 had columns that all correspond with those you could match with the field names in the column headers.
a) Do we need a column with the hours?
b) Can we have extra columns? We also had a column, called station, with the station names?  Does that cause a problem
If we can, then what do we do with it?

[2018-08-30 20:39] rdstern opened #356 "Element information"
This is the Metadata > Element table and corresponding dialogue.

I have 4 questions regarding the elements.

1. They are defined when CLIMSOFT is established, and each element has at **Type**.  This could be Daily, Hourly, etc.  From the initial script file there seem to be quite a number of types, including Daily, Hourly, Monthly Dekadak, Synop, AWS.  But the type in the form just has 4 of these

[2018-08-31 06:55] mhabimana commented on #348
@rdstern I think the issue is clear now. Changing the database connection using the administration menu is still an issue unless if you close the software and start this again. This use to work very well but since the idea of EF was introduced, it is not longer possible to switch database using the administration menu. This is an issue which need to be addressed.

[2018-08-31 07:33] mhabimana commented on #355
@rdstern Thanks
a) is YES.
b) If you have a station name column,don't match it,leave it the way it is and match other column ,the stationid is the most important (i.e. column which are not matched with corresponding elements will not be imported. since you have already defined the metadata for that station,you don't need a column for station,the stationid is enough.
c) Data importation will start

[2018-08-31 08:29] mhabimana commented on #355
@rdstern Thanks,yes it is possible .I am sure @smachua if following the discussion.However,under the administration,update observations,you can be able to select observationinitial,the view the station with errors and delete or update this.you can select and delete many columns at once.

[2018-08-31 08:51] rdstern commented on #355
Great thanks - that is the right place to use, i.e. Administration > Update Observations - and there is a view button there, which is fine.

Now all I would like there is for the Station field to be a pull-down with the station ID and name.  In each table it just gives the stations that have data in that table.

Similarly for the element information.  That becomes a pull-down.  If you select a sta

[2018-09-01 10:38] rdstern commented on #327
In addition to the small edits noted above it will be good to consider larger changes.
I give just one example, because it is attractive and prominent in the CLIDATA manual.  They show the following picture of a station:
![image](https://user-images.githubusercontent.com/11226469/44945048-33996700-add9-11e8-8db3-683938feb473.png)

I suggest this looks good - and this is the competition for CLIMSOF

[2018-09-03 06:33] mhabimana commented on #350
@smachua @isedwards I am still seing the above error mentioned by @rdstern even after merging beta2 with the master. Kindly check what is going wrong on this form (form synop a1).

[2018-09-03 06:41] mhabimana commented on #354
@Patowhiz @maxwellfundi: On the above list number 1 is still pending.I wonder if you have time to work and address this.

[2018-09-03 08:36] Patowhiz commented on #354
I solved item 1 and 2 longtime ago. Let me push the changes.

[2018-09-03 08:39] mhabimana commented on #354
@Patowhiz Great thanks.Go ahead.

[2018-09-03 09:26] smachua commented on #354
@Patowhiz thanks. Please push the changes and let Mracellin review and commit them. Inform us when you're through.

[2018-09-03 09:37] Patowhiz commented on #354
@mhabimana which form has Hour 01 ?

[2018-09-03 09:44] mhabimana commented on #354
@Patowhiz This was fixed by @smachua and now working well in the master:see below,before it use to be hours(HH) starting from 1 to 24 but now it is working well on tall the forms from 0 to 23
![image](https://user-images.githubusercontent.com/10340170/44979943-22865c80-af77-11e8-8175-326d347459fc.png)

[2018-09-03 09:48] Patowhiz commented on #354
Wow! Thats nice. I'm glad @smachua was able to go through the ucrHour contrrol code and easily fix this. Perfect.

[2018-09-03 09:49] smachua commented on #354
@Patowhiz I suggest that you clone the master then fix 1 and 2 from there. Note that we have already merged both your code and ours as it was before the testing started. Therefore your branch is far behind the master and may course problems.

[2018-09-03 09:52] Patowhiz commented on #354
Okay. I'll delete the pull request once I'm done cloning

[2018-09-03 09:53] mhabimana commented on #354
@Patowhiz No problem.

[2018-09-03 10:07] smachua commented on #354
@Patowhiz please note that I solved problems 3 and 4 by modifying the code for ucrHourlyWind and ucrHour respectively. You may check the simple modifications done in sub 'PopulateControl' in both user controls.

[2018-09-03 11:37] Patowhiz commented on #354
@smachua  I've noticed that you made several changes . I'm obliged to ask what this code block is for in ucrHourlyWind populate control sub

[code]

[2018-09-03 11:48] Patowhiz commented on #354
@smachua  The changes that you made in `ucrHour` are okay. i.e changing the loop from 0 to 11 instead of 1 to 12.
But the changes for fixing the flag issue in `ucrHourlyWind` are not quite okay. The bug is in `ucrDirectionSpeedFlag`. I'll be reverting this back to the way it was and fixing it at the `ucrDirectionSpeedFlag` level

[2018-09-03 11:55] Patowhiz commented on #354
@smachua I have also noticed that you added 2 subroutines in the ucrDirectionSpeedFlag control, sub `Compare_Entry` and sub `Validate_Entry`. Is there something that we missed?

[2018-09-03 12:02] smachua commented on #354
@Patowhiz that's a very good observation.  The 2 subroutines are for linking the New Forms with the double entry routines. You'll find them also in other forms. Let them stay since they have been tested and found to work well. Double key entry now worksok with the new forms. I will soon give a demo on how the operation works.

[2018-09-03 13:08] smachua commented on #354
Thanks @Patowhiz. Am happy we're now working on the same code perfectly.

[2018-09-03 13:36] Patowhiz commented on #354
Item 2 can only be fixed at the EF and database level

[2018-09-03 15:08] mhabimana commented on #354
@Patowhiz There is an issue of rounding observed by @rdstern which can be sorted out as well see below: This is a serious issue especially on rainfall data where by the total display 52 and yet it should be 52.3 Though the total value will not be stored in the data base but the total should display exactly the way it is and not rounding as it does in this case.
![image](https://user-images.githubu

[2018-09-03 15:18] Patowhiz commented on #354
Okay, I'm checking this now. Are the other changes okay?

[2018-09-03 15:28] Patowhiz commented on #354
@smachua could you share the latest test script so that I can update my database

[2018-09-03 15:34] mhabimana commented on #354
@Patowhiz Thanks, I think it is OK for the total since there is a column to store this value although it is not supposed to be stored in observationinitial table

[2018-09-03 15:36] Patowhiz commented on #354
Is the issue of total found during validation or during display?

[2018-09-03 15:39] mhabimana commented on #354
@Patowhiz This is during display and this is the value stored in the total box.I think the issue here is the data type.

[2018-09-03 15:47] mhabimana commented on #354
@smachua @Patowhiz There is no place to adjust sequencer for the year. I wonder how this can adjust because it is not under tool,sequencer configuration and yet it is set to work with the sequencer for the year.I think that why Add New button is not working.

[2018-09-03 17:50] Patowhiz commented on #354
@mhabimana yes! The formMonthly relies on table `seq_year `as it's sequencer.  @isedwards Right now that table is not in the Entity Framework and therefore even after setting up the years in the table the add new will still not work. Once that is fixed, then add new will work just fine.

[2018-09-04 05:58] mhabimana commented on #354
@Patowhiz  Thanks to fix the rounding issue in the total tex box (form daily2).Sorry, I reopen this because number 2 is still pending and need a fix.
As per your request,attached is the latest database script we are using,remember to change the extension txt with sql before running or loading the attached script.
[mariadb_climsoft_db_v4_all.txt](https://github.com/opencdms/Climsoft/files/2347318/m

[2018-09-04 06:02] rdstern commented on #354
Good to see the continuing progress.  Just a small query that this correction is on the same Master that we tested last week on the Western Kenya data?

[2018-09-04 06:09] mhabimana commented on #354
@rdstern The correction is on the master.

[2018-09-04 07:12] mhabimana commented on #354
@Patowhiz @smachua I discover the issue in form_synop_2_ra1,this was not updated in the recent database script( flag 169,170 and 171) were added and then flag 178,179 and 180 was removed because the don't have any role to play. So the EF is OK,what we need to do is just to add these in the synop_2_ra1 table.

[2018-09-04 07:16] Patowhiz commented on #354
So this form has not been tested at all?

On Tue, Sep 4, 2018, 10:12 AM Marcellin <notifications@github.com> wrote:

[2018-09-04 08:29] smachua commented on #354
@Patowhiz and @mhabimana I plan to modify sequencer for the Form Monthly to include the element code i.e. seq_element_year instead of the current seq_year. In that case I will add a dialog in General Settings where the element codes can be sequenced. The year should be the one following the latest record.
Meanwhile sequencing can be done on the year and the user selects the appropriate element.

[2018-09-04 08:40] smachua commented on #354
@mhabimana and @Patowhiz . Attached is the script for both databases. Let me know if it's ok with you.
[mariadb_climsoft_db_v4_all.txt](https://github.com/opencdms/Climsoft/files/2347846/mariadb_climsoft_db_v4_all.txt)

[2018-09-04 08:44] mhabimana commented on #354
@smachua  Sounds great. If I get you well,you are suggesting that this form be used they way it is now or the improvement you are suggesting will be done very soon? Please let us know.

[2018-09-04 09:02] mhabimana commented on #354
@smachua The script is now working well with the data entry forms on both test and operation databases.I going to remove what I posted earlier to avoid any confusion.

[2018-09-04 10:50] Patowhiz commented on #354
@smachua the latest script doesn't have stations

[2018-09-04 10:58] mhabimana commented on #354
@Patowhiz the default database is not the test database,please change this at login by pointing to the test database.

[2018-09-04 11:00] Patowhiz commented on #354
All the data entry forms are working well on my end. @smachua @mhabimana I've noticed an addition of a disabled checkbox named Repeat Entry, probably a new feature that was required later? I've also noticed a new entry form, form_agro1 which doesn't use the custom controls. I would like to point out that the form functions slightly different form the others in areas like validation.

[2018-09-04 11:37] smachua commented on #354
@Patowhiz and @mhabimana the additional checkbox is part of double key entry operations and should not worry you. The form_agro1 was urgently implemented as a request from KMD while you were still working on the new ones. Although it looks a bit complicated we can later discuss how you can redesign it to have the custom controls.

[2018-09-04 13:15] Patowhiz commented on #354
Okay

[2018-09-05 10:12] mhabimana opened #360 "Upload Button and the climsoft operator"
@Patowhiz The upload button should not be active for the user with the role of climsoft operator since his task is to keying in data and save only. Climsoft supervisor has to check the entered data and once he/she is happy then use the upload button to transfer these data into observationinitial table. Change is needed (below is the error I got when the upload button was clicked,of course logged i

[2018-09-05 11:02] Steve-Palmer commented on #356
This Element naming has always been problematic. Firstly, using text "Daily" "Hourly" "Monthly" is not very helpful. Secondly, using the same field to add the qualifier "SYNOP", "AWS" is also not helpful. We got here because (in the dim past) CLICOM only gave a single field to hold all this information. The Climsoft metadata model has always had sufficient richness to hold the information properly

[2018-09-05 13:31] MainaJohnO opened #362 "What should be captured in "Total" box when all the daily data is missing for one particular month"
![missing values for the whole month_total m](https://user-images.githubusercontent.com/32262789/45096152-8c923380-b128-11e8-890f-e9c30d1b090d.PNG)
When entering missing data for a case of daily data missing for all the days in one month, the missing is flagged off as "M" as in the attached picture. My understanding in this case is that the total should as well be flagged as "M" but when try save

[2018-09-05 13:41] mhabimana commented on #362
@MainaJohnO Thanks for this observation. There is no need to fill the form if there is no data for a whole Month.

[2018-09-05 15:40] Patowhiz commented on #360
I've noticed this includes deleting too

[2018-09-05 15:58] mhabimana commented on #360
@Patowhiz You are right

[2018-09-06 05:31] #360 closed

[2018-09-07 08:58] maxwellfundi commented on #360
@mhabimana We had no knowledge of that aspect yet. Good that you pointed it out and now its fixed by @Patowhiz thanks.

[2018-09-11 07:28] mhabimana opened #366 "Reported issues by INAM Staffs after the testing of Climsoft V4.0"
Below are the issues reported by INAM (Mozambique) staffs after conducting the testing of climsoft V4.0:
1.Transpose of Daily data products; Not yet implemented
2.Importing CLICOM Daily Data: This process is taking long time to transfer data (hence issues of timeout). A progress bar to show the progress is required (not yet implemented on this);
3. Because the remote access facility present in cli

[2018-09-11 14:13] mhabimana opened #367 "User's Access level"
@smachua:  I was expecting the PR #365 will solve below issues:
1. The issue of  users accessing both the operation and test database without duplication of these users in both database (only root and admin can do that,the rest cannot). I think, once created, users with the role of metadata,operator,operator supervisor,etc should be able to login and access resources in both test and operation dat

[2018-09-11 19:48] rdstern commented on #338
I'm just checking - with all the changes made, I wonder what has happened on  the access to various parts of the software for those who don't wish, or need to have administrative privileges.  I found it was needed to switch to the test database, and that seems unnecessary.  More than that, see above is the need when accessing some products.

I am just checking that this has now been addressed.  If

[2018-09-12 06:39] mhabimana commented on #338
@rdstern Thanks for your observation,however,part of the installation process is to give the computer user **the right** to **climsoftV4** folder and sub-folders,this is done once. the process to give permission to a computer user is in the last para of the climsoft readme file produced during the installation (attached) and will be added as well in the user manual and guides.

[2018-09-12 07:06] smachua commented on #338
@rdstern before the issue is closed there some issues raised by @mhabimana that were not completely solved by PR #365 that am working on. I will be through today. If @mhabimana will be satisfied then the issue can then closed.

[2018-09-13 08:54] rdstern commented on #338
Now I think Samuel has made some changes.  I want to check we are discussing the same issue.  I am here considering **Windows** administrator rights, not the permissions for different users of CLIMSOFT.

@mhabimana  could you please say what this now means, in terms of the issue.  Can a user now use the test database without having **Windows admin privileges**, and what about **producing products*

[2018-09-13 09:03] mhabimana commented on #338
@isedwards You are right 100% when it comes to the installation.

[2018-09-13 09:16] rdstern commented on #338
And what is the situation when getting products and also when switching to the test database?  In the version we tested there seem to be lots of places in the current CLIMSOFT when you need to have Windows Administrator privileges.  I assume that has now changed, so you only need to be a Windows administrator for installation. Please confirm that too.

[2018-09-13 09:30] mhabimana commented on #338
@rdstern You are right,but you need to give the computer user permission to access the contents of the climsoftv4 folder and sub folders (if you are not the computer administrator) as explained in the readme file attached to this issue.

[2018-09-13 10:28] smachua commented on #338
@rdstern Windows permissions require to be set for all climsoft users in windows as described in the file "Readme_Climsoft_V4.txt" that comes with Climsoft installer. Refer to paragraph 4(iii) of that document. The permissions should be set soon after installation. But they can still be set later. Of course the windows administrator has the overall permissions.

Windows permissions are required fo

[2018-09-13 19:33] isedwards opened #369 "Refactoring user management"
In [`frmUserManagement.vb`](https://github.com/opencdms/Climsoft/blob/26ab2bc3ca22b42f92300d89ea99ce00fe3b63c8/ClimsoftVer4/ClimsoftVer4/frmUserManagement.vb) the following four lines of code are repeated hundreds of times with small variations (updated recently in #365, #368):

    Sql = "GRANT SELECT ON " & dbnme & ".station TO '" & txtUserName.Text & "';"
    objCmd = New MySql.Data.MySqlClient

[2018-09-14 05:52] mhabimana commented on #369
@isedwards  Sounds great.

[2018-09-14 06:19] mhabimana opened #370 "Exit/Close Climsoft program"
Climsoft Main Menu has got 2 options to exit/close the program; the **close** button and the **X** sign at the top right of the dialog. However, I have realised that when you choose the X sign, the dialog closed but still the program is running in the background but when close button is selected the program shut down completely. Most users are not aware of this and you may find because of using th

[2018-09-14 07:44] smachua commented on #369
@isedwards what you missed in #365 and #368 is that only about 10 lines were modified in  UserManagement module to address the issue of user rights in test database raised by Roger and @mhabimana. The module was implemented about 3 years ago. Since the problem has finally been fixed we are now closing the issue as earlier suggested by Roger.

My thinking is that different opinions on code structur

[2018-09-14 07:48] smachua commented on #370
@mhabimana and @rdstern I am going to address those issues.

[2018-09-14 08:27] isedwards commented on #369
I said that it was updated recently, not written recently

If that issue is now resolved then it should certainly be closed

Which is why I have raised this as a new issue (#369) instead of adding a comment on one of the pull requests or earlier issues

[2018-09-14 09:40] isedwards commented on #370
@mhabimana are you going to assign this issue to Samuel?

@smachua, what are your thoughts on addressing this? Will you remove the red close button (as per Roger's feedback) and fix the problem with the close button in the top right?

Clicking the close button in the top right currently doesn't end the program because some windows (like frmLogin) are still open but hidden.  There are currently sev

[2018-09-14 09:50] mhabimana commented on #370
@isedwards Thanks Ian to shade more light on this. I wonder if the X sign can be disabled or removed so that the close be used instead because the idea is to close the program completely( and the close is doing this action). I am happy to assign @smachua this issue but if he is very busy he can let us know so that this be addressed by others. We are remaining with only a week before the Rwanda vis

[2018-09-14 10:05] smachua commented on #370
@mhabimana and @isedwards unless there is a different opinion from Roger's am going to replace the close button with a more friendly one. Am also going to ensure that when the form is closed through any method the entire Climsoft application closes.

[2018-09-14 10:09] mhabimana opened #371 "Entry Date and Time Field required in New Data Forms"
This Field is required in all the new Data Entry form created by AMI,this will enable the computation of  records entered by a particular user (very helpful in data monitoring). @smachua has got already  a line of code to do this task and it exists already in form agro1.
![image](https://user-images.githubusercontent.com/10340170/45365744-e0e45a00-b5e5-11e8-9ac5-e48dfd1a4d2b.png)

![image](https:/

[2018-09-14 10:10] mhabimana commented on #370
@smachua Thanks,I think this is what we need.So go ahead and do this.

[2018-09-14 10:14] isedwards commented on #370
I like the idea of making the close icon in the middle of the main menu more friendly.

I think @mhabimana's suggestion of [disabling the close button](https://www.codeproject.com/Articles/20379/Disabling-Close-Button-on-Forms) ('X') on the top right of the main menu form is very sensible and worth considering... on all other forms this button is used to close the current form, whereas in the main

[2018-09-14 10:43] smachua commented on #370
@isedwards and @mhabimana since main menu form is the entry point to all other forms, menus and dialogs I find it logical to end anything else when it closes. Like other Windows applications I would rather not disable the close button ('X') but leave it to exit Climsoft.

[2018-09-14 11:34] mhabimana commented on #370
@smachua I am not getting you well here. Do you mean remove the **close** button and let the **X** terminate completelyclimsoft program? ( hear I mean stop even the program running in the background). Please let me know.

[2018-09-14 11:40] isedwards commented on #370
My understanding is:
- The large red close icon that is at the bottom of the main menu will stay, but it will be made "more friendly"
- The form's close button (top right) will close the entire application even if other Climsoft forms are currently open

I'm happy with this. It should be possible to achieve the second point by capturing the close event on the main menu's form and adding the close

[2018-09-14 11:54] smachua commented on #370
@isedwards and @mhabimana I have addressed those issues in #372 please review and test it.

[2018-09-14 12:49] mhabimana commented on #370
@rdstern This is the new Close button. Let us know your view:
![image](https://user-images.githubusercontent.com/10340170/45551211-cf918c80-b835-11e8-883f-1a0eac50e3dc.png)

[2018-09-14 12:56] rdstern commented on #370
Yes, that's less aggressive.  I prefer it.

[2018-09-14 12:58] mhabimana commented on #370
@rdstern Thanks for your quick feedback.

[2018-09-14 13:19] mhabimana opened #374 "Sequencer Table for the Monthly Data Entry Form."
The AddNew button on this form is not working the way it should because the sequencer table of this form is missing. This is very needed.

[2018-09-15 06:19] mhabimana opened #375 "Metadata Dialog"
-Tab navigation order for the sub dialog Degrees Decimal conversion needs few adjustment.
- The same sub dialog is not clearing when save and update button is pressed.

[2018-09-16 06:24] mhabimana opened #376 "Metadata"
1.Station Tab:
The navigation order for the sub dialog Degrees Decimal conversion need few changes ,the same sub dialog is not clearing when **save** or **update** button is pressed, the Elevation label need few edit(value in the bracket);
2.Station Element Tab: Check why values entered under Instrument ID and Schedule Class drop down text boxes are being duplicated;
![image](https://user-images.g

[2018-09-17 06:17] mhabimana commented on #370
@smachua @isedwards This issue can now be closed since it was addressed.

[2018-09-17 06:18] #370 closed

[2018-09-17 06:21] #375 closed, assigned to nobody

[2018-09-17 07:04] mhabimana commented on #367
This issue #367 can now be closed since the issue of user's access on both test and operation databases were resolved by @smachua

[2018-09-17 07:04] #367 closed

[2018-09-17 07:16] mhabimana opened #377 "Retrieve Image - Paper archive"
@smachua  Can you investigate why  **zoom option** under retrieving images does not give room for further image adjustment unless images saved in PDF format?.

[2018-09-17 07:27] mhabimana commented on #354
This was addressed and can now be closed

[2018-09-17 07:27] #354 closed

[2018-09-17 07:30] mhabimana commented on #333
@rdstern This was addressed in the latest changes on GitHub,you can try this,if you are happy let me know so that this can be closed.

[2018-09-17 11:32] mhabimana commented on #371
@smachua Thanks

[2018-09-17 11:46] smachua commented on #374
@mhabimana I have included a dialog to update sequencer table for Monthly Data Entry form under the menu Tools -> Sequencer Configuration. See #378 . I have also attached a script file for creating sequencer table for monthly elements.

[seq_monthly_element.txt](https://github.com/opencdms/Climsoft/files/2388384/seq_monthly_element.txt)

This work affected other modules such as userAdmin and mainM

[2018-09-17 11:47] mhabimana commented on #374
@smachua Thanks and noted.

[2018-09-17 11:49] smachua commented on #371
@Patowhiz  and @maxwellfundi may add a code in the new forms to capture the current date and time for every record saved.

[2018-09-17 11:59] mhabimana commented on #371
@smachua You had done one line of code for this purpose,is it possible to share this to easy the task and save time?

[2018-09-17 12:53] mhabimana commented on #371
@smachua Thanks. @Patowhiz  or @maxwellfundi are you happy to work on this?

[2018-09-17 13:51] mhabimana commented on #374
@Patowhiz  Can you please point the form Monthly Data to the new monthly sequencer (see: Tool,sequencer configuration,Monthly) instead of seq_year?

[2018-09-17 14:03] mhabimana commented on #376
@smachua @isedwards this is almost done, only awaiting few improvement suggested on clearing the sub dialog for Degrees lat/lon conversion into Degrees Decimal when save or update is button is clicked

[2018-09-17 14:17] Patowhiz commented on #374
Yeah. I can do that

[2018-09-17 14:20] mhabimana commented on #374
@Patowhiz Great thanks

[2018-09-17 14:34] mhabimana commented on #371
@Patowhiz Very good.

[2018-09-17 20:11] smachua commented on #376
@mhabimana solved through #380 .

[2018-09-19 07:02] Patowhiz commented on #371
@smachua in formAgro1 , why are you not updating the entryDateTime and Signature column? I get it why you could not be updating the entryDateTime , probably because it's a field meant to store the original date that the record was entered but for the signature I don't understand.

Should we implement this for both update and new records, or strictly new records?

[2018-09-19 07:14] Patowhiz commented on #371
@mhabimana it seems like @smachua added this field recently. Running the script just updates the database. For me to actually implement this then I need the field updated in the Entity Framework model. Perhaps @isedwards can help with this, after which I can go ahead and add the necessary single line of code

[2018-09-19 07:28] Patowhiz commented on #371
@smachua okay. Mu next pull request will rectify it. Because we had assumed that CLIMSOFT is to update the signature doing the changes regardless of whether he is updating or entering new record. From your statement above, I'll change this and have the signature column updated ONLY when it's a new record.

[2018-09-19 07:28] isedwards commented on #374
Can someone send me the latest database creation script to make sure I use the correct one to update the model?

[2018-09-19 07:36] smachua commented on #374
@isedwards do you want it without any data in test database or in the way we compile it in the setup?

[2018-09-19 07:40] isedwards commented on #374
Thanks Samuel. Either is fine - any data that exists is ignored when creating the model and the database schema is the same for both databases.

[2018-09-19 07:55] smachua commented on #374
@isedwards I have attached the empty one since it's smaller but it contains both test and operational database schemas

[mariadb_climsoft_db_v4_empty.txt](https://github.com/opencdms/Climsoft/files/2395983/mariadb_climsoft_db_v4_empty.txt)

[2018-09-19 08:17] isedwards commented on #374
@smachua - Are the two database schemas still identical?

In theory, would a user be able to create both databases by using a single script and just changing the `CREATE DATABASE` command at the top to the name of the database that they are creating?

[2018-09-19 08:40] isedwards commented on #374
This is great thanks

[2018-09-19 08:50] smachua commented on #374
@isedwards operational database only.

[mariadb_climsoft_database_db_v4_operational.txt](https://github.com/opencdms/Climsoft/files/2396230/mariadb_climsoft_database_db_v4_operational.txt)

[2018-09-19 09:39] mhabimana commented on #374
@Patowhiz Are you OK now ?

[2018-09-19 09:50] Patowhiz commented on #374
@mhabimana I'm still waiting for @isedwards pull request to be merged.

[2018-09-19 09:54] isedwards commented on #374
@Patowhiz - there was a problem/typo in the description that I posted on GitHub, but the code is okay: the name of the field in the Entity Framework model is the same as the name of the field in the database.

If you want to check this out and use it before it is merged then it is on the branch `Update_EntityModel`.  The branch is identical to master, but with one extra commit, so if you use this

[2018-09-19 10:54] Patowhiz commented on #374
@smachua Can you share the filled one. The one that has the key entries that make climsoft testable

[2018-09-19 11:36] mhabimana commented on #377
@smachua This is now working well and this issue can be closed.

[2018-09-19 11:36] #377 closed

[2018-09-19 11:37] mhabimana commented on #376
@smachua This is working well and can now be closed.

[2018-09-19 11:37] #376 closed

[2018-09-19 13:26] mhabimana commented on #371
@smachua Below is the error I am getting:
![image](https://user-images.githubusercontent.com/10340170/45756058-9b98db80-bc28-11e8-895d-edab2b818dbb.png)

[2018-09-19 14:25] mhabimana opened #384 "Sequencer Form Hourly wind"
@Patowhiz  Can you please check why the sequencer (seq_month_day) for this form is not working when Add New is clicked? I can see the table for this sequencer is there in the database. Normarly,when AddNew is clicked I should have a empty form pointing to the next day.

[2018-09-19 14:29] Patowhiz commented on #384
@mhabimana do you have records in the `seq_month_day` database table?

[2018-09-19 14:32] mhabimana commented on #384
@Patowhiz yes,see below:
![image](https://user-images.githubusercontent.com/10340170/45760063-eb2fd500-bc31-11e8-93d1-e8624245b670.png)

[2018-09-19 14:34] Patowhiz commented on #384
It's working on my side. Can I quickly get in touch with you on skype.

[2018-09-19 14:35] mhabimana commented on #384
@Patowhiz Yes,please

[2018-09-19 15:19] mhabimana commented on #384
@Patowhiz ,Yes,I can see the issue is on my database because I loaded the test shared by @smachua  today and this sequencer is working( going to the next day when Add **New button** is clicked.

[2018-09-19 15:31] mhabimana commented on #384
@Patowhiz I think it is not a big issue,what is needed is just to check properly both database and make sure the tables are the same in both.

[2018-09-19 15:47] mhabimana commented on #384
This can now be closed.

[2018-09-19 16:07] mhabimana commented on #384
@Patowhiz @smachua Now I discover the issue on this form it is linked to the **permission** and not on the database. I think the user with the role **operator** does not have access to the sequencer table and because of this,when Add New is clicked,the sequencer table is not affected(or pointing to the next record).

[2018-09-19 16:12] smachua commented on #384
@mhabimana I thought you closed the issue. However, I have addressed the issue of SELECT permission for table seq_month_day through PR #385. Merge it and the issue will be over.

[2018-09-20 18:27] smachua commented on #371
@mhabimana the issue has been resolved through PR #386

[2018-09-21 06:14] mhabimana commented on #384
This can now be closed.

[2018-09-21 06:14] #384 closed

[2018-09-21 06:18] mhabimana commented on #371
@smachua  This is now working OK. However,It is working on only 2 data entry forms(form_synop_2_ra1 and form_agro1). Can you please investigate why it is not applied to other forms before this issue is closed.

[2018-09-21 16:06] mhabimana opened #387 "Tab order on both Form Daily2 and Monthly"
@Patowhiz  Can you please have a look on the two forms(form Daily2 and Form Monthly) and adjust accordingly? after entering data and click on save,the next form to be selected automatically is **Add New** this is working well on other forms but not on the above 2 mentioned. @Patowhiz this is very urgent since we are going to install the software in Rwanda on Monday.

[2018-09-21 16:29] mhabimana opened #388 "entryDatetime datatype"
@isedwards There is a problem on the **entryDatetime** field data type of two data entry forms: Form Daily2 and Form Hourly they have got VARCHAR instead of DATETIME and  because of this they are not being populated when the user is viewing the records. Sorry,this is how the script shared by @smachua was but he realised later that this change is needed during the testing. Attached is the new datab

[2018-09-21 18:51] Patowhiz commented on #387
Yep I'll have a look at this.

On Fri, Sep 21, 2018, 7:06 PM Marcellin <notifications@github.com> wrote:

[2018-09-21 20:10] #388 closed

[2018-09-21 20:44] mhabimana commented on #371
This can now be closed

[2018-09-21 20:46] mhabimana commented on #387
@Patowhiz  Thanks. well noted.

[2018-09-22 07:28] Patowhiz commented on #387
@mhabimana I'm looking at this now.

[2018-09-22 09:06] Patowhiz commented on #387
I have fixed this.

[2018-09-22 09:09] Patowhiz commented on #371
@mhabimana @smachua @isedwards  I have a noticed a potential bug with the entryDateTime field. The format saved by the entity framework is probably different from the one saved by raw sql insert operation. This makes the entry forms fail to load such records, throwing error _"wrong input format"_ . @mhabimana we can skype if need be to elaborate more, probably @smachua is aware of this.

[2018-09-22 10:44] mhabimana commented on #371
@Patowhiz Thanks, I am travelling to Rwanda, @smachua will be able to advise on this.However the entry datetime datatype field was changed from VARCHAR to Datetime. In the EF, so I am suggesting that @smachua share a script with the new change .

[2018-09-22 20:56] Patowhiz commented on #387
@smachua @mhabimana this is ready for review

[2018-09-22 20:57] Patowhiz commented on #371
@smachua okay

[2018-09-24 06:41] #387 closed

[2018-09-24 14:09] Steve-Palmer commented on #216
Sorry to be slow adding to this discussion. It might help to think about Processes and pathways for observations.
(1) The traditional process for observations is purely paper-based, and this is appropriate still for historical data held in paper archives, as well as some data still supplied by co-operating observers. Here the issue is to maximise that quantity of data keyed, while minimising the e

[2018-09-24 14:27] Steve-Palmer commented on #366
5. Hydrology data - in principle, it is straightforward to add other data types to Climsoft. It is designed to store observations of an entity at a station taken at a time (including cumulative entities which have an observation period). In addition to rainfall, typical hydrology observations will be e.g.
- stream height from a staff gauge or still-well
- stream flow from a notch-gauge or flow met

[2018-09-24 14:42] Steve-Palmer commented on #362
One of the key principles in climsoft is that there is no data in the database when the data is missing. The data model includes the observation schedule which tells the user what data ought to be there, so it is possible to report what data is missing.
An advantage of this approach is that there is no possibility of mistaking a "missing data" flag for real data. In other CDMS, missing data is ind

[2018-09-26 15:23] maxwellfundi opened #391 "Form Daily 2 Sequencer does not move to the next month"
We have now upgraded the Climsoft V4 in Rwanda and we have found out that the sequencer for form daily two, after going through the all elements then i doesnt increment the month value.

[2018-09-26 15:40] maxwellfundi opened #392 "New data entry forms are taking too long to load"
We tried opening the new data entry forms after installation of Climsoft and here are some statistics of how the forms performed on their first load.

1. It took 2 minutes to load form daily 2 which had records 4648 records

2. It also took 7 minutes 40 seconds to load form hourly which had 28648 records

We were using  an i7 with 8GB of memory and a 3,4 GHZ speed.After this slow loading the forms

[2018-09-26 15:59] mhabimana commented on #391
@maxwellfundi.Thanks on the same note form monthly sequencer is not increment to the next year after going through all the elements;@pathowhiz can you have a look on this?

[2018-09-26 16:17] mhabimana commented on #392
@isedwards : we are suspecting this low speed performance might be caused by the EF.Will it be possible to have a fix of this before we leave Kigali?

[2018-09-26 16:41] Patowhiz commented on #392
I concur that's too long to wait. But the fact that the form loads instantaneously on the second run of the same sessions means that this has a lot to do with the EF taking time to compile the model on the first query. I think generating pre-compiled version of the EF could reduce the load time on first run significantly.

[2018-09-27 07:09] maxwellfundi opened #394 "AWS Site settings form require a search bar."
This form needs a search bar because when trying to find a site from what is on the database then they have to use the scroll bar to move from 1st record to the last. This is easy when we have 10 sites but could be tiring if we had say 200 sites.

Further the data structure field on this form needs to be longer .

![image](https://user-images.githubusercontent.com/9798689/46128713-ad840b00-c234-11

[2018-09-27 08:44] smachua commented on #394
@maxwellfundi the issue was resolved through PR #393

[2018-09-27 09:09] Patowhiz commented on #391
I'm looking at both the issues now

[2018-09-27 09:14] maxwellfundi commented on #394
@smachua  great thanks. Closing it now.

[2018-09-27 09:14] #394 closed

[2018-09-27 09:19] mhabimana commented on #391
@Patowhiz:Thanks,Noted.

[2018-09-27 09:29] Patowhiz commented on #391
@dannyparsons we have to look at how we can implement the sorting or the sequencer as soon as possible. I've noticed various critical issues which have to be solved first for this to work.

[2018-09-28 16:17] mhabimana commented on #391
https://github.com/dannyparsons,https://github.com/Pathowhiz: ca we have this fixed before we leave Kigali?

[2018-09-28 16:29] mhabimana commented on #391
@Patowhiz,@dannyparsons: Can we have this fixed before we leave Kigali next week?

[2018-09-28 17:07] Patowhiz commented on #391
@mhabimana this was particular feature was conceptualized by @dannyparsons and David. I have tagged and mentioned it to him too. Working on it will mean I probably redo it in different way, I've done very little modifications but upon investigating the problem I realised it's much deeper to solve without discussing with them first. My investigation led me to believe if the sequencer was to work co

[2018-09-28 17:08] Patowhiz commented on #391
Though I can work on it the way I think it will solve the issue then I'll discuss with danny to see if the implementation is generally acceptable. Probably by tomorrow I can have this ready

[2018-09-29 05:47] mhabimana commented on #391
@Patowhiz:Noted.What we would like to see is to have the sequencer increment to the next month after running through all the elements (form Daily) and to the next year after running through all the elements(form Month).

[2018-10-01 10:55] dannyparsons commented on #392
I've had a quick discussion with David on this and we have an idea of where the inefficiency might be and something we can try to reduce the loading time. We will investigate this today and tomorrow and report back.

[2018-10-02 04:27] rdstern opened #397 "Types in the Station form"
In the Station form the elevation seems to be a text field, not numeric.  Is there a reason for this?  Lat and Long are (correctly?) numeric.

[2018-10-02 08:52] mhabimana commented on #397
@rdstern Thanks, let discuss further on this issue this evening.

[2018-10-04 06:48] #392 closed

[2018-10-04 13:08] mhabimana commented on #391
@Patowhiz, @dannyparsons: The issue of loading speed is out but we still have the issue of the Add New button on both Hourly,Daily and Monthly once selected  is not giving an empty data entry form. Can you have a look at this so that this be implement tomorrow before we close the workshop? I am afraid if this is not working we might not implement the new data entry form designed by the AMI.

[2018-10-04 13:40] Patowhiz commented on #391
I'm not getting this problem on my side. Can we Skype call (urgently). I tested this thoroughly

[2018-10-17 06:33] mhabimana opened #401 "Selection of station Tab on Metadata Dialog"
@smachua This error is appearing when the details for the new station is entered without selecting the station tab. Since this tab is opening by default,it is assumed to be selected,in this case,users  don't need to select this again but rather start entering the details for the new station. So,this is a bug and need a fix.
![image](https://user-images.githubusercontent.com/10340170/47066519-1258d

[2018-10-17 06:36] #391 closed

[2018-10-17 06:37] #371 closed

[2018-10-17 06:41] #362 closed

[2018-10-17 06:44] #351 closed

[2018-10-17 06:45] #350 closed

[2018-10-17 06:48] #348 closed

[2018-10-17 06:57] #340 closed

[2018-10-17 06:59] #339 closed

[2018-10-17 07:02] #338 closed

[2018-10-17 07:04] #337 closed

[2018-10-17 07:05] #336 closed

[2018-10-17 07:08] #325 closed

[2018-10-17 07:09] #323 closed

[2018-10-17 07:09] #322 closed

[2018-10-17 07:34] mhabimana opened #402 "Climsoft database script Folder"
@isedwards. There is a suggestion which came out form the discussion in Kigali, suggesting that it will be good to have a folder on Climsoft page on GitHub where Climsoft database scripts will be stored so that in case of any updates/changes, all developers will be able to access this via GitHub.

[2018-10-17 08:17] isedwards commented on #402
@mhabimana This is the intended purpose of the [/ClimsoftVer4/Climsoft_V4_dbase/
](https://github.com/opencdms/Climsoft/tree/master/ClimsoftVer4/Climsoft_V4_dbase) directory. We just need to be a bit more disciplined about updating and using this (instead of sharing database scripts by email or as attachments).

We should:
- [ ] Remove the old files from this directory
- [ ] Have only one (or at m

[2018-10-17 08:33] smachua commented on #402
I agree with @isedwards and I will have it organised that way.

[2018-10-17 08:41] mhabimana commented on #402
@isedwards @smachua: Thanks,I can see the upload files link can be used instead of using Visual Studio to commit:
![image](https://user-images.githubusercontent.com/10340170/47073566-3a513180-d201-11e8-9a6f-d3bb59006db4.png)

[2018-10-17 09:16] #299 closed

[2018-10-17 09:19] mhabimana commented on #401
@smachua Noted.

[2018-10-17 09:27] mhabimana opened #403 "Tab Key Order on Monthly Data Entry Form"
@Patowhiz The order of tab key on the Monthly data entry form need a slight change.Currently the order is from **Station** to the **first data entry box cell which is January** and yet it should be from  Station,then Element,then Year, then January. Are you happy to work on this?
![image](https://user-images.githubusercontent.com/10340170/47076694-fada1380-d207-11e8-91c3-5a0f6a8d56c4.png)

[2018-10-22 06:59] rdstern opened #404 "The CLIMSOFT installation procedures"
I would very much welcome an indication of the "program" for a typical installation of CLIMSOFT.  In Reading we will be installing CLIMSOFT 4.1 on the Lesotho computers and importing data, and metadata (at least station data). Then connecting to R-Instat for products and applications

But this is (deliberately) only a small part of the full installation and instruction that will be done later.  We

[2018-10-22 19:18] smachua commented on #401
@mhabimana the issue has been fixed through PR #405.

[2018-10-23 06:40] mhabimana commented on #403
@Patowhiz : I have not yet heard from you on this.Are you happy to fix this?

[2018-10-23 06:52] rdstern commented on #403
It is good that you keep following up on the issues.  But I use this example to ask also what is the current plan now to be on updates for CLIMSOFT?  You have 95 issues open now.  In R-Instat we have 524!  I assume, this is an example which isn't critical.  In R-Instat we have milestones to indicate when we consider issues need to be fixed by.  Will there be the same for CLIMSOFT?  That could indi

[2018-10-25 08:38] Patowhiz commented on #403
@maxwellfundi Could you please just realign the tab order at the design level. I have a high resolution PC that keeps on messing up the design. @mhabimana Sorry I don't how this tab order skipped us. Its just a design issue we already have the code built in.

[2018-10-25 08:55] mhabimana commented on #403
@Patowhiz Thanks and noted.

[2018-10-25 13:41] mhabimana commented on #403
@Patowhiz @maxwellfundi I realise that the tab order is applied on both Form Daily and Monthly when the form has  got some input records but when there is no record of data into this it jump from Station to the value text box1 . So I suggest we leave it like this at the moment.

[2018-10-25 14:12] mhabimana opened #406 "Form Monthly Issue"
@smachua @Patowhiz : I realise that on the form Monthly,values for January(mm_01) are not being saved in the form Monthly table after clicking on the save button,other months are being saved.However if the same text box is filled later and the update button is clicked,this value become available in this table,please check this:
![image](https://user-images.githubusercontent.com/10340170/47506573-0

[2018-10-25 14:21] Patowhiz commented on #403
Okay. Then this can now be closed I think

[2018-10-26 10:21] Patowhiz commented on #406
I'm looking at this.

[2018-10-26 10:56] mhabimana commented on #406
@Patowhiz Thanks,Noted.

[2018-10-26 12:45] mhabimana commented on #403
@Patowhiz @maxwellfundi I reopen this issue again due to the feedback received from users from Rwanda.
The issue here is that if the cursor is on the station test box drop down list, and the Tab Key or Enter Key is pressed ,the cursor  jump from station to the text box of the first date on the Month for the form Daily and to the first month of the year for the form Monthly instead of going to the

[2018-10-29 07:54] Patowhiz commented on #406
@mhabimana I'm not getting this issue from my end. On first save, I'm able to successfully view the value.

[2018-10-29 08:16] mhabimana commented on #406
@Patowhiz Thanks,Have you selected the form Monthly View Button to view data in the table view?

[2018-10-29 10:17] Patowhiz commented on #403
I've investigated this issue. There was a difference in adaptation of my code to the 2 forms, formDaily2 and formMonthlyData. That variation led to this problem but I've now corrected the code.

[2018-10-29 10:57] isedwards commented on #403
As a software engineer, sometimes you see something in the code that feels like a [code smell](https://en.wikipedia.org/wiki/Code_smell) (something that doesn't quite "smell right").

A code smell is defined as:

One of the most [common code smells](https://en.wikipedia.org/wiki/Code_smell#Common_code_smells) is "[duplicated code](https://en.wikipedia.org/wiki/Duplicate_code)" - this is code that

[2018-10-29 11:12] isedwards commented on #403
I've added the comment above to the [Climsoft wiki](https://github.com/opencdms/Climsoft/wiki) as part of the developer's guide.  Another example of repeated code is in #369.

[2018-10-29 11:15] Patowhiz commented on #403
Thanks for the observation @isedwards , I've been looking forward to remove such repetitions. I'm still waiting to discuss with the team about this and many more designs and implementations.

[2018-10-29 11:31] isedwards commented on #403
The main guideline to-date has been to prioritise writing code that works (even if some of the code is repeated in places) because it has taken awhile to get version 4 ready.  I think it is always difficult to balance how much time is spent writing "perfect code" (if there is such a thing), against getting something that is clearing working correctly sent out to users as quickly as possible.

[2018-10-29 12:28] #403 closed

[2018-10-29 12:34] Patowhiz commented on #406
@mhabimana I still can't get a particular way to get this error. If you can be able to find a specific way to replicate this error then it would help. Upto now I'm unable to solve this cause I have not managed to replicate the error on my side.

[2018-10-29 12:38] mhabimana commented on #406
@Patowhiz : I am testing this after merging with the latest PR. I will come back to you shortly.

[2018-10-29 12:43] isedwards opened #408 "5 year roadmap (plus milestones and project planning)"
This [comment](https://github.com/opencdms/Climsoft/issues/403#issuecomment-432117080) from @rdstern accidentally disappeared when #403 was closed.

Over the next couple of weeks we need to:
- Update the Climsoft [Roadmap](https://github.com/opencdms/Climsoft/wiki/Climsoft-Roadmap)
- Assign issues to milestones
- Update [Project boards](https://github.com/opencdms/Climsoft/projects)

[2018-10-29 12:47] mhabimana commented on #406
@Patowhiz: After sorting out the issue of Tab order on this form,I can see this is now working well.

[2018-10-29 12:55] Patowhiz commented on #406
There was a critical change that I made on the navigation control, it was mainly affecting deleting of records. I think that change might have also solved this but. I'll keep an eye on this sort of behaviour.

[2018-10-29 13:04] mhabimana commented on #406
@Patowhiz : Thanks,Well done. I think this can now be closed.

[2018-10-29 13:20] isedwards commented on #406
@mhabimana in the original description above it sounded like this was possible data loss issue.

Do we know whether users of the deployed version 4.1 are being affected by this issue (have @Patowhiz's changes fixed a data loss issue since the 4.1 version was released?)

[2018-10-29 13:34] mhabimana commented on #406
@isedwards  : Thanks, Of course ,this bug is in the V4.1 released. Since this Form is not used frequently by NMSs,it is not a problem but we need to upgrade the executable files of users who are already using V4.1 and then,have a new installer with the latest changes on GitHub. I had a Skype meeting and managed to share my screen with @Patowhiz  and he was able to see the issue on this form clearl

[2018-10-29 13:48] mhabimana commented on #406
@isedwards : I leave this issue now for further investigation but it is working well on my side.

[2018-10-29 14:15] isedwards commented on #406
Next steps...
a) make sure it really is an issue (it's best that someone else checkout/install v4.1 and try to duplicate the problem)
b) Be certain of the minimal code required to fix just this issue
c) Release a bug fix (v4.1.1). In this case the release may only address a single issue, but if it is a data loss issue then that is normal

[2018-10-30 09:35] mhabimana opened #409 "Option to upload data and remove or leave data in the Data entry forms"
The previous versions of climsoft(V3.x) had the option of uploading data from the Data entry forms (temporary database) to intermediate database by  decide (tick) whether to  delete/remove or retain all data in the data entry forms after the upload operation. This is not yet implemented in Climsoft V4. This is very important to provides a clean space for users to enter their data.

[2018-10-30 09:42] rdstern commented on #409
I would very much like a full list of what was in CLIMSOFT V3 that is not yet in V4.  We currently seem to have these issues one-by-one.
I would also like to be clear on what we mean by "very important" in relation to our upgrade path for CLIMSOFT.  Otherwise we run the risk of having many small updates and that will be complicated for our users.   I hoped that Version 4.1 as issued after Rwanda,

[2018-10-30 09:53] mhabimana commented on #409
@rdstern :It Sounds OK,I will have a look again on both and give my feedback for further discussion. Very important here means it is **required** to be added because it used to work in previous versions and was very helpful.

[2018-10-30 11:24] mhabimana opened #410 "Importing Monthly Data from external source into Climsoft V4"
Climsoft V4 has got a icon for Data Transfer with a facility to Import external data into climsoft:
![image](https://user-images.githubusercontent.com/10340170/47714979-6e8c0f80-dc4f-11e8-8b37-310bee4907d8.png)

However, some National Met Services have got historical Monthly records files of data which can be imported into ClimsoftV4. I suggest that the option of monthly data be added as well on t

[2018-10-30 14:33] mhabimana commented on #409
@Patowhiz @maxwellfundi is any one of you want to give a try on this? I think @smachua will be happy to advise.

[2018-10-30 14:40] Patowhiz commented on #409
@mhabimana could you share UI screenshots of how this was done in CLIMSOFT v3. So that we can compare the notes of new designs

[2018-10-30 15:05] isedwards opened #411 "List of v3.2 capabilities that are not implemented in v4.x"
This issue was raised by @rdstern in the comments of #409 (and has been moved here instead)

I would also like to be clear on what we mean by "very important" in relation to our upgrade path for CLIMSOFT.  Otherwise we run the risk of having many small updates and that will be complicated for our users.   I hoped that Version 4.1 as issued after Rwanda, would be OK for the next implementation or t

[2018-10-30 15:25] mhabimana commented on #409
@Patowhiz Thanks,
Climsoft V3.x  is connecting directly to MS Access as a direct database but because of the limitation of MS Access (Max: 2GB),other tools like MySQL were used to provides more storage space. Version 3,x had 3 databases(a Temporary,Intermediate and Main databases),this has changed in V4 because we are now using one database instead of 3 databases.See below:
![image](https://user-i