[2018-10-30 15:35] Patowhiz commented on #409
Okay, I will also try to brainstorm with the team and share proposed designs of this.

[2018-10-30 16:07] smachua commented on #409
I had planned to have this operation done differently in V4. Instead of setting the option to empty tables after uploading data I wanted to have a separate menu for choosing which table to empty at any time it is felt that data therein is no longer needed in the key entry table. In V3.x many  preferred using MS ACCESS to empty the tables. The reason was that they feared setting the option wrongly

[2018-10-30 16:10] smachua commented on #410
@smachua  ok I will work on it.

[2018-10-30 17:28] isedwards commented on #409
@smachua Would there be a way of preventing the data from being deleted if it has not been uploaded yet?

[2018-10-30 17:48] smachua commented on #409
@isedwards no method implemented yet unless a record is checked for its existence in the table observationinitial.

[2018-10-31 06:48] mhabimana commented on #409
@smachua Since you have a plan to work on this issue,I assigned this to you.

[2018-10-31 07:38] mhabimana commented on #406
This can now be closed.

[2018-10-31 07:38] #406 closed

[2018-11-02 12:34] mhabimana commented on #411
@rdstern: Below is the list of v3.2 capabilities that are not implemented in v4.x:
1. Most used Data Entry Forms by National Met Services were designed, a provision list for other Data Entry forms to be design later is provided in V4 (Administration menu, Data Forms);
2. Quality Control Checks Features: 2 types of QC Checks were implemented in V4 ( Absolute Limit Checks and Inter-element Compariso

[2018-11-02 16:02] fran2or opened #413 "Getting an Error When Updating QC Report"
After going through the upper and lower quality control process, I am unable to update QC report after following the instructions to do this in the manual. It tries uploading then I get an error as shown in the image below.

![image](https://user-images.githubusercontent.com/6714330/47926469-87e3c480-deb8-11e8-91d8-7aa3e54629c7.png)

[2018-11-02 16:20] lebusa opened #414 "Importing using Multiple Element Columns"
Hi, I'm exploring the latest Climsoft version 4.1 and wanted to import external data saved in Excel files. It contains roughly 1.6mil observations of 3 elements (precip, tmax & tmin) for 21 stations. I went on to 'Load Data' after specifying the required fields.

After about 1.5hrs of loading data, the process failed due to what seemed like a missing stationId (see the below attached error image)

[2018-11-02 16:20] LethahaLes opened #415 "STATIONS CLASSIFICATION BY REGIONS/ZONES THAT OVERLAP TO DIFFERENT ADMINISTRATIVE REGIONS"
There have been cases in Lesotho where it was observed that apart from grouping stations by Districts it can also be of great help to also have as part of classification, Agro-ecological Regions(Zones) as another form that is implemented. These regions as shown on the map attached cut across different districts, so if Climsoft has some way of enabling the extraction of data to be done also by thes

[2018-11-03 10:02] rdstern opened #416 "Immediate use of daily data in CLIMSOFT"
In Lesotho currently the Ag Met section receive daily (rainfall) data each week.  This is entered into Excel and used fro the AgroMet bulletins.  That is separate from the past system in CLIMSOFT, which enters the same data from the monthly sheets usually about 3 months later.

In CLIMSOFT 4.1 they would like to enter the daily data straight into CLIMSOFT as it arrives each week.  Then export it f

[2018-11-03 17:53] smachua commented on #416
The form, 'Kenya Agromet data' can be used for that purpose. Although it contains all the daily elements those not required can be skipped.

[2018-11-05 06:36] mhabimana commented on #416
@rdstern The same daily form can be used but in this case,the required total in metadata,element tab is untick to make sure the total is not checked by the system.So after a week,values for the week can be entered and **saved**(here I mean using the Save button),after the next week,values for the second week are entered and **updated**(here I mean using the update button).Hope it makes sense.

[2018-11-06 11:27] mhabimana opened #417 "Form Daily2 Default observation Hour set at 6"
@Patowhiz: Just to suggest a small change on the Form Daily2 data entry form. Currently, the default hour of observation on this form is set to **0** ,this happen when opening an empty Daily2 form. My suggestion is to set this at **6** instead of **0** because in many National Met Services,the Daily Data are confirmed at **06:00 UTC**. In this case,**6** should displays under the Hour when opening

[2018-11-07 14:06] #352 closed

[2018-11-09 09:52] mhabimana opened #418 "Importing Clicom Daily Data"
@smachua: There is a problem of speed of transfer of CLICOM Daily data into Climsoft Version4. This is being done using the schema.ini techniques. I wonder if another method which speed up this process can be explored or the issue of data transfer speed be addressed. This issue was raised as point (2) in the issue #366 among other points INAM-Mozambique would wish to get fixed before the adoption

[2018-11-09 11:19] mhabimana commented on #355
@smachua : Under this issue,@rdstern suggested that the selected text boxes below be converted to drop down lists to avoid users typing.
![image](https://user-images.githubusercontent.com/10340170/48259788-32646600-e42a-11e8-9fef-046fb434ea2c.png)

[2018-11-09 11:35] rdstern commented on #418
If we are going to consider installing CLIMSOFT plus R-Instat, then another possible route might be to export the data from CLIMSOFT, and then to start by examining it first in R-Instat.  Then going from R-Instat to CLIMSOFT.  Is there another visit to Mozambique to "sell" the set of 2 packages.  If not, then should there be?
The 2 exports are then 1) by element which gives values from days 1 to 3

[2018-11-09 19:42] smachua commented on #355
This dialog is meant for observations update (mainly corrections and deletions) . By choosing the dialog the administrator knows exactly which data to work ok. To ensure that no data is selected by mistake and erroneously changed list selections was avoided by design.  I did explain all these facts to Roger in Rwanda.

[2018-11-12 07:47] Patowhiz commented on #417
As I solve this. Clarify to me all the defaults for even the other comboboxes. I would like to solve this in a general manner.

[2018-11-13 06:31] mwaurahk commented on #417
Hi all,
@Patowhiz...I would rather you maintain it as it is because 00:00Z is when observations begin for a new day and it's also a main synoptic hour(meaning rainfall is reported). Setting to 6 means more key strokes for the data entry staff.

[2018-11-13 06:34] Iyakaremyevedaste opened #420 "Error in transferring data from forms to obsinitial"
![capture](https://user-images.githubusercontent.com/44503727/48395081-a8184c80-e71e-11e8-92f8-bbfa4e65bc9c.JPG)
I am encountering such an error message when I upload data from forms to observationinitial

[2018-11-13 07:03] Patowhiz commented on #420
What was the year and month selected? It's covered by the progress.

[2018-11-13 07:44] Iyakaremyevedaste commented on #420
I selected many years. In forms we had data recorded in the 1960s and the current year 2018

[2018-11-13 12:03] mhabimana commented on #420
@Iyakaremyevedaste : I found that in your data (form daily2) there are data which does not have corresponding elements in Climsoft e.g: 516,517,518,520,etc. Please can you check and confirm this?

[2018-11-13 14:37] mhabimana commented on #417
@Patowhiz : I discussed with both @smachua  and @mwaurahk  and the default of HH: 6 ( 06:00 UTC) is still valid.

[2018-11-13 17:54] smachua commented on #420
@Patowhiz and @Iyakaremyevedaste note that while uploading from forms all data is transferred from key entry table to observationinitial. There is no selection to be done. The error here is about invalid date.
Please @Patowhiz find out whether the uploading process is creating an invalid date or the key entry is allowing saving of records with invalid date e.g. 31/09/2017.
Meanwhile try to round t

[2018-11-15 07:36] Iyakaremyevedaste commented on #420
@mhabimana by checking in obselement table, I found those elements are there. However, those elements cannot be transferred from excel sheet to obsinitial!!

[2018-11-15 07:43] mhabimana commented on #420
@Iyakaremyevedaste Thanks,Kindly share with me your script for obselement table for further investigation.

[2018-11-15 08:22] Iyakaremyevedaste commented on #420
@mhabimana script for obselement was shared in your email. Thanks

[2018-11-16 16:01] isedwards commented on #199
#234 should remove the need for a video demonstrating the current install process

[2018-11-16 16:01] #199 closed

[2018-11-19 13:46] smachua commented on #409
@mhabimana the issue has been resolved through  PR #421. Please test and merge it.

[2018-11-19 14:33] mhabimana commented on #409
@smachua What is the criteria to delete the data in the form? is it the presence of the same data in the observationinitial table and observationfinal  or one of these?
![image](https://user-images.githubusercontent.com/10340170/48713377-2bef9e80-ec21-11e8-9fd6-5c72e8a458e8.png)

[2018-11-19 14:35] Patowhiz commented on #420
Upon investigating this issue further, this is what we found out. The following records have values in day 31 for month 6. This leads to incorrect date, which makes leads to the error shown.

The records with;
Station 10306100,  Element 5 in 1955, month 6 has value in day 31 and month 7 is missing.
Station 10306100, Element 17 in 1954, month 6 has value in day 31.
Station 10306100  Element 96  in

[2018-11-19 15:01] mhabimana commented on #420
@Patrick: Thanks for this observation,what about having flag=M in the flags data cells which are supposed to be deactivated by the system?
Station 10101100, Element 2 ,in 2017, month 9, flag 31=M,
Station 10306100, Element 2 in 1955,1957,1959, month 9 ,flag 31=M
Can this prevent data to be uploaded as well into observationinitial?

[2018-11-19 15:05] mhabimana commented on #420
@Patowhiz Have you looked at uploading the hourly data into observationinitial as well?

[2018-11-19 15:07] mhabimana commented on #420
@Iyakaremyevedaste : Can you re-check again and correct your data in the form_daily2 ?

[2018-11-19 15:11] Patowhiz commented on #420
Flag won't prevent the data from being uploaded. The specific record will just be ignored

[2018-11-19 15:12] mhabimana commented on #420
@Patowhiz :Noted

[2018-11-19 15:12] Patowhiz commented on #420
@mhabimana apart from the speed, hourly data works fine from my end.

[2018-11-19 16:53] smachua commented on #409
@mhabimana when the 'Skip Records Not Uploaded' box is checked (is also default) data that has NOT been uploaded to either 'observationinitial' or 'obsevationfinal' will still remain in the form table while the rest will be deleted. But if the box is unchecked ALL data in the form table will be deleted whether it has been uploaded on not .

[2018-11-19 17:06] smachua commented on #420
@Patowhiz we need to brainstorm on how data for those invalid dates is occurring. Meanwhile I would suggest that the uploading process should skip such records and upload the rest to the end to avoid frustrating the users. Records with invalid dates may be flagged for investigation.

[2018-11-20 06:36] mhabimana commented on #409
@smachua :Thanks,Noted.

[2018-11-20 06:56] Patowhiz commented on #420
@smachua that's true. We'll work on making the upload better and that flexible.

[2018-11-20 07:04] mhabimana commented on #420
@Iyakaremyevedaste After removing the suspected values pointed by @Patowhiz I managed to load these data on my side though I had to wait for few minutes.

[2018-11-20 09:03] mhabimana commented on #409
@smachua @isedwards  : This can now be closed.

[2018-11-20 09:15] amosuwizeye commented on #420
Thanks for the support

[2018-11-20 09:16] mhabimana commented on #420
@amosuwizeye :Thanks

[2018-11-21 13:47] mhabimana commented on #420
@Patowhiz Just to find out your progress on this. One of the annoying thing on the form upload progress bar  below it that in case of uploading many records (e.g. 28395),it shows that the upload has completed and yet it is still going on in the background (see below):
![image](https://user-images.githubusercontent.com/10340170/48844881-25416280-edac-11e8-9471-5e8ac4ee998b.png)
Below are the requir

[2018-11-21 14:39] Iyakaremyevedaste commented on #420
Dear all, there is another issue to solve on QC. When you have say for example data from Jan to October 2018 in obsinitial and it happens previously you did QC for Jan data only. When you want to perform Qc on the remaining months and in your query you select from Jan to Dec. Qc command will be executed but Qc status will not change i.e data cannot be loaded to the obsfinal.

[2018-11-21 14:52] mhabimana commented on #420
@Iyakaremyevedaste Thanks for this, Can you please comment on another issue related to QC or create a new issue on this? This issue is meant for upload from data forms to observationinitial only.

[2018-11-23 06:40] maxwellfundi opened #424 "Starting work on metadata with User Controls"
Following the discussions in Rwanda with Samuel and Marcellin about ClimSoft, reimplementing the metadata using user controls was a task set to the AMI team.

We propose to first work on reimplementing the current functionality and then approach Samuel and Marcelin to discuss possible improvements which would now be made easy due to the user control implementation.

[2018-11-23 06:43] maxwellfundi opened #425 "Investigating alternative of Entity Framework"
@smachua has asked AMI team to investigate alternatives to the Entity Framework that can be used with our custom controls while remaining secure.

[2018-11-23 07:37] isedwards commented on #425
[Parameterized SQL](https://software-security.sans.org/developer-how-to/fix-sql-injection-microsoft-.net-with-parameterized-queries)

[2018-11-23 08:28] Patowhiz opened #426 "Uploading of Data In Data Entry Forms"
As pointed out by the @Iyakaremyevedaste ,@smachua and @mhabimana in issue #420 uploading of data in the data entry forms is slow and it is not flexible enough in helping the user correct the errors caused by entry of wrong values. We are investigating on alternative ways of doing this to fix the issue.

[2018-11-23 09:00] mhabimana commented on #426
@Patowhiz : I think this should be given a higher priority since the software has been released with this issue.This can seriously affect the reputation of the product if a quicker solution is not found.

[2018-11-23 09:12] Iyakaremyevedaste opened #427 "QC issues"
Dear all, there is another issue to solve on QC. When you have say for example data from Jan to October 2018 in obsinitial and it happens previously you did QC for Jan data only. When you want to perform Qc on the remaining months and in your query you select from Jan to Dec. Qc command will be executed but Qc status will not change i.e data cannot be loaded to the obsfinal.

[2018-11-23 09:17] mhabimana commented on #427
https://github.com/opencdms/Climsoft/issues/420#issuecomment-441078022

[2018-11-23 09:55] Patowhiz commented on #426
Okay. I'll come up with a short term solution for this. Which can easily go
to the master after review.

On Fri, Nov 23, 2018, 12:01 PM Marcellin <notifications@github.com> wrote:

[2018-11-23 09:58] mhabimana commented on #426
Great,Thanks well noted.Have a nice weekend,Mr.Marcellin HABIMANA | Climsoft Project Coordinator | World Meteorological Organization, Eastern and Southern Africa, Dagoretti Corner, Ngong Road | P O Box 1395 - 00606 Nairobi, KENYA | E-mail: nhmarcellino@yahoo.fr | Skype: mhabimana | Tel:+250788740275 / +245716980451 | website:climsoft.org

    Le vendredi 23 novembre 2018 à 12:55:16 UTC+3, patowhiz

[2018-11-26 09:22] smachua commented on #427
@Iyakaremyevedaste and @mhabimana I am investigating on this issue to find out whether the problem is on QC or the upload operation.

[2018-11-26 09:36] Patowhiz commented on #427
We will also keep this (QC issues) in mind when we are looking into changes to the upload function as mentioned in issue #420 and #426

[2018-11-26 21:19] smachua commented on #427
@Iyakaremyevedaste I have tested the QC operation exactly as you described and found it working ok. Please confirm your selections on date range, stations and elements to be sure that you're comparing it correctly. You may send us screen shots if you think you did everything right so that I can do further investigations.

[2018-11-27 12:31] Iyakaremyevedaste commented on #427
@smachua  I am not in Kigali, I will check & get back to you. I am at ICPAC, are U around so that we meet and discuss further ?

[2018-11-30 09:34] smachua commented on #420
It seems this bug may take longer to get fixed.  Almost all users (e.g. Rwanda and Seychelles) are experiencing the problem since they started using the new forms. In particular Seychelles has not been able to push data to observationinitial since upgrading from V4.0.  Hence some important climate products are pending. The issue is only with 'form_daily2'.

I am aware that efforts are being made t

[2018-11-30 10:32] volloholic commented on #420
@smachua I am confused with the problem the Seychelles is facing can you give more details.

As I understand from my investigation with Patrick, in Rwanda the problem was that there were invalid dates which had been imported to the form_daily2 table. We checked that in the current implementation it did not appear to be possible to enter such dates from the form so these must have been imported to

[2018-11-30 13:04] smachua commented on #420
@volloholic am not sure where the confusion is because the issues raised on data upload from the new form_daily2 have not been resolved yet. The are:
(i) The process stopping with error message 'un-representable Date Time,
(ii) The process takes unnecessarily long to complete,
(iii) The progress % not rounded to whole numbers but many decimal points.
![image](https://user-images.githubusercontent.

[2018-12-01 16:48] volloholic commented on #420
@smachua Thank you for clarifying I had not seen the mention of the issue for the Seychelles but from your message I understand this is because they also are trying to upload data with incorrect dates.

In practice your suggestion of skipping the upload of such values is easy to implement and @Patowhiz has indicated that he can work on that. This is still not ideal as whenever it happens it is pro

[2018-12-01 16:49] Patowhiz commented on #420
@smachua I'll do PR that addresses the above issue by Sunday. It will solve
all the 3 problems outlined. We've identified the key areas to look at.

On Fri, Nov 30, 2018, 4:04 PM smachua <notifications@github.com> wrote:

[2018-12-02 13:39] isedwards commented on #200
Regardless of how we complete language translation, a major part of getting this finished is making sure that the text labels are large enough to fit the French and Portuguese translations. @mhabimana has offered to work on this.  I will create a pull request on the `dev` development branch that adds automatic translations of everything in the interface using google translate so that Marcellin wil

[2018-12-02 13:45] isedwards commented on #234
This issue has the following parts:
- [ ] Comparing the setup programs generated by InnoSetup and Advanced Installer
- [ ] Deciding whether additional software like WRPlot should be bundled in the installer, or installed separately and used by Climsoft if it is detected as having been installed
- [ ] Moving the creation of databases from being a manual task to something that is done for you by the

[2018-12-04 07:42] #420 closed

[2018-12-04 12:08] mhabimana commented on #427
@smachua If the PR to fix the bug in QC is ready,please let me know so that this can be tested and merged.

[2018-12-07 13:43] smachua commented on #427
Resolved in #429

[2018-12-12 18:08] smachua commented on #418
@mhabimana @rdstern the issue has now been resolved thro #430. CLICOM import module was modified to use the same dialog as all other external text data imports. The data transfer speed has tremendously improved.  All the CLICOM data formats namely Daily, Synop and Hourly are now accommodated as shown below;

![image](https://user-images.githubusercontent.com/12034121/49889067-a8a51f80-fe51-11e8-90

[2018-12-13 07:11] mhabimana commented on #418
@smachua 👍

[2018-12-13 12:15] mhabimana opened #431 "Error loading the solution file in VS"
I am getting this error after merging the latest PR on Clicom pushed by @smachua ,Thought I can still login into Climsoft, how can I resolve this?
![image](https://user-images.githubusercontent.com/10340170/49938073-c7ef8b80-fee9-11e8-8e09-110f5531a7b9.png)

[2018-12-13 14:05] smachua commented on #431
@mhabimana it might be something to do with the project in your machine. I have cloned it and didn't encounter the message. Try rebuilding the executable file first then see how it works. To do that; from the project window follow the menu **_Build_** -> **_Rebuild ClimsoftVer4_**.

[2018-12-13 14:07] mhabimana commented on #431
@smachua Thanks,let me try this option and come back to you.

[2018-12-13 15:11] mhabimana commented on #431
@smachua Now I am OK,my MAT was disabled. I have enabled this and now I am not seing the error.

[2018-12-13 15:15] #431 closed

[2018-12-19 16:42] Steve-Palmer commented on #415
An interesting question! The Climsoft Data Model is capable of managing this, through the Feature and FeatureClass tables. The Station table has a one-to-many link to the Feature table, and there is a one-to-many link from FeatureClass to Feature. Therefore if one adds a FeatureClass entry for "Agro-ecological zones", then the linked Feature can be the specific zone identifiers, and individual Sta

[2019-01-09 08:33] maxwellfundi opened #434 "Missing corresponding field in database for the metadata physical feature form"
The feature class control on the metadata physical feature tab does not have a corresponding field in the `physicalfeature` table in the database.

![image](https://user-images.githubusercontent.com/9798689/50886550-c7bbb080-1401-11e9-8e0b-f6033729ade7.png)

@smachua what should this corresponding field to this? Should this be added to the table or remove it from the form?

[2019-01-10 09:54] smachua commented on #434
I will respond to this issue later because am a bit tied down with the work on online help to harmonise it with the  help document. That form involves more than one table but we shall discuss later since what am currently doing has a higher priority and with a deadline.

[2019-01-10 11:47] mhabimana opened #435 "Including Hydrology parameters in Climsoft"
This is a request for INAM ( Met-Mozambique) so that Climsoft can accommodate both Climate and Hydrological data.

[2019-01-10 12:01] mhabimana opened #436 "Web based interface for data inputs and retrieval"
The addition of the Web Interface for data inputs and retrievals component in Climsoft version 4 is the recommendation from INAM-Mozambique.

[2019-01-10 12:08] mhabimana opened #437 "Climate Messages"
This component was also recommended by INAM after testing Climsoft version 4.0. It is not yet being implemented in Climsoft Version 4

[2019-01-10 12:16] mhabimana opened #438 "Testing Climsoft Version 4 Database on Linux Environment"
Climsoft has been thoroughly tested on Windows PCs and Windows Server but not yet on Linux environment. Climsoft application is available for Windows systems and not for Linux but the database is flexible and can be installed on both Windows and Linux servers to unable the interaction between Clients PCs with Windows O.S and Server ( with either  Linux or Windows O.S). A thorough testing on Linux

[2019-01-10 12:25] maxwellfundi opened #439 "Overriding of data in the database in data entry and metadata forms"
We will be putting things in place for the data entry forms not override data in the tables because this will be part of the QC, by keeping a record of all previous values. Should the metadata forms also do this storing of previously entered values?

[2019-01-10 12:28] maxwellfundi opened #440 "Opening and closing of the connection to database"
Currently we are opening the connection to the database once, on login and closing it once when the application exits.
Are there potential insecurities or corruption of data issues with this and could there be a better way to manage this database connection in future?

[2019-01-10 12:37] mhabimana commented on #438
@isedwards Thanks.I think instructions will be very helpful.I guest the same instructions will be applied to different Linux O.S.

[2019-01-10 13:01] isedwards commented on #440
In the past it was very common to keep the connection open. Often, the maximum number of possible connections was known in advance (so it was easy to avoid issues with too many clients being connected at the same time). In the past, making and dropping the connection could detract noticeable from the speed of the app.

These days it is more common to re-open the connection when it is needed and th

[2019-01-10 15:34] smachua commented on #438
@isedwards it's a good idea to have a guide on how to setup climsoft database in a Linux server. It can as well be included in the users manual. We once tried running Climsoft database in MySQL in the Linux sever at ICPAC, Nairobi and worked ok. Someone else interested in doing the same will find the guide helpful.

[2019-01-11 06:19] Patowhiz commented on #434
@smachua in the meantime that input field has been omitted. We can have it back once that is discussed.
@mhabimana from your screenshot above, you can see there is no Clear nor Cancel button like in the data entry version. So currently when a user clicks on Add New, He/She has to click on the navigation button if He/She desires to cancel the add new.
@smachua  @mhabimana Should we introduce the Cl

[2019-01-11 06:37] mhabimana commented on #397
@Patowhiz Thanks for bringing back this issue.It was discussed verbally during the R-Instat and Climsoft workshop in Rwanda,but we did not decide whether to change this with numeric or leave this as VARCHAR as it is now. @smachua can you please help us to finalise this issue?

[2019-01-11 06:39] mhabimana commented on #434
@Patowhiz .You are right,Clear and Cancel buttons are not on the dialog. It is a good idea to include these buttons on the dialog.

[2019-01-11 07:32] mhabimana commented on #434
@Patowhiz I think Clear and Cancel are totally different. In Climsoft we normally use Clear to clear the content of the form at input the content a fresh and Cancel to cancel or close the dialog.

[2019-01-11 07:46] maxwellfundi commented on #434
@Patowhiz  I am also happy with `Clear` for this case because `Cancel ` intuitively would be like closing the form which is something we dont want for this case. Clear serves the purpose here because its meant to clear the contents of  the fields.

[2019-01-11 09:32] mhabimana commented on #434
@Patowhiz Thanks,yes please.It make sense.

[2019-01-11 11:01] smachua commented on #439
@maxwellfundi and @mhabimana sorry I hadn't much time to look at the activities happening on the metadata forms. I highly welcome any necessary improvement on metadata management but I wish we can have it well planned and structured.

It's important to note that the description of the observations in the database is highly dependent on the underlying metadata. Hence any change on how the metadata

[2019-01-12 15:52] smachua commented on #434
@Patowhiz there is no field that's missing. If you run the form and save some data you will find that the boxes get populated when the record is retrieved. See the screenshot by @mhabimana above.

[2019-01-15 09:48] Patowhiz commented on #434
@smachua clearly @mhabimana screenshot shows 7 input controls, the database table has 6 fields, the screenshot also shows that class description is empty. Please elaborate how the 7 input controls are mapped to the 6 fields. I've tried looking at you code, I can't find where the Class Description(`txtFeatureClassDescription`) is mapped to a field named description in the database table, which is a

[2019-01-15 16:08] Steve-Palmer commented on #435
Key ref is WMO Guide to Hydrological Practices https://www.hydrology.nl/images/docs/hwrp/WMO_Guide_168_Vol_I_en.pdf
Most of the measurements are simple to add to Climsoft, just by adding the entity types, because they are point location measurements. e.g. River height by staff gauge or still-well, volume flow through a gauging station. We already cover rainfall, evaporation (pan or Pichet), snow d

[2019-01-15 16:15] Steve-Palmer commented on #439
History of metadata changes is important. Note that there is a question circulating in WIGOS about how to handle linking stations which could be chained together to make a longer record, such as where a station has moved. For example, Entebbe Botanical Gardens has a record from 1901. Later Entebbe Airport opened. To my knowledge, the airport observing station has had at least four locations within

[2019-01-17 07:37] maxwellfundi commented on #439
@smachua Thank you for your comment on this issue.This issue is just a thought on a possible future improvement and we would first have to broadly consult before such a  change is done.
Currently, we don't see it as an urgent task so a discussion could wait until there is interest to implement this feature.

[2019-01-23 16:03] Steve-Palmer commented on #435
Asked Ulrich Looser at BADG. He replied:
Hydrology is a wide field which covers several disciplines. I would like to focus on hydrometry, the part of measuring water level and discharge in rivers. The discussions with Matthias Adler, our hydrometry expert, resulted in basically four key variables which are recorded in hydrometry.
               W - Water level (at a gauge with a fixed zero reading

[2019-01-26 11:44] isedwards opened #443 "Row level permissions in MySQL/MariaDB tables"
Currently in Climsoft 4, it isn't possible to restrict access to only part of a database table.

For example, if a user has read access to `form_hourly` then they are able to see all of the data in the table.

Would it be useful to be able to restrict access (at the database level) to specific rows based on username, role or other variables like location?

We can achieve this by creating database

[2019-01-26 16:07] isedwards commented on #443
MySQL may default is to storing strings as `latin1_swedish_ci`

If the UTF-8 encoding is not specified when creating a new `VARCHAR` field then this gives the following error when trying to compare data in a new `username` column to the current user's username which is encoded as UTF-8:

The easiest solution is to ensure that this field has type UTF-8 by adding:
   `CHARACTER SET utf8 COLLATE utf8

[2019-01-28 11:23] smachua commented on #443
@isedwards thanks for that idea than can be implemented to add more security on data records.

Currently it's a common practice in most NMHS for data a manager to request data operators to verify data entered by other operators. That is more reason why we didn't restrict access to data in key entry tables to only the user who created the record. However, the data grid view on the key entry form on

[2019-02-04 15:00] mhabimana opened #444 "Request for a Customised Synoptic Data Entry Form for Caribbean"
Joan Mc Donald from Saint Vincent and Grenadine managed to install  Climsoft Version 4 successfully but she is not able to enter  data via available data entry forms in V4 because,the form she was using in the previous version of Climsoft (the carribean team was using is not yet designed in Climsoft Version 4.) is not yet available in V4 (see below). This request was sent via met-elearning portal

[2019-02-04 15:08] isedwards commented on #438
@mhabimana do you know whether any one has tried this, but it has not worked for them?

[2019-02-04 15:19] isedwards commented on #438
If they try it, it should just work (it's not really any different to connecting to a database on a separate Windows machine).

I looked for official installation guides, there's the official MySQL one here:

https://dev.mysql.com/doc/refman/8.0/en/linux-installation.html

Or, a better approach might be to follow the official guide for the version of Linux there're using, e.g.

https://help.ubuntu

[2019-02-04 15:33] mhabimana commented on #438
@isedwards I have used Linux Ubuntu and the installation is straight forward but the issue is to access the server through the client pc running on windows and to be able to access the DB remotely via a user friendly database GUI client like HeidiSQL.

[2019-02-04 15:48] isedwards commented on #438
But, once the database is available via an IP address and port number over a network, or over the internet, it no longer matters whether the server is Linux or Windows

[2019-02-04 17:40] Steve-Palmer commented on #438
What is the function of the database GUI client (HeidiSQL or similar)? Climsoft itself acts as the client for its own interactions with the database. Perhaps the additional GUI is only needed for managing backups and partitioning or other manipulation which is required to manage the database itself, rather than managing the data within the database. I would accept that use case. I would also accep

[2019-02-04 17:53] Steve-Palmer commented on #443
Using row level permissions seems like a good idea, though we probably need to do some work on the use cases. Ian's examples 2 (rainfall) and 3 (outstation) seem very sensible.
Taking Samuel's comment together with Ian's example 1 - do we need to separate the roles for the first keying and the check keying as part of the double-key-entry process? So a person doing the first key entry can only see

[2019-02-05 07:31] mhabimana commented on #438
@Steve-Palmer You are right. Climsoft itself acts as the client for its own interactions with the database. We are not adding any new tool. All the management will be done at the application level (Climsoft). HeidiSQL or similar database GUI is important at the initial stage,during the installation,configuration and by the expert who knows what he/she is doing,this is the back-end of the system an

[2019-02-05 14:02] smachua commented on #444
@mhabimana a synoptic form has been customized for use in the Caribbean NMHSs through PR #445. After they have been satisfied that it is working ok the AMI team may redesign it with user controls.

[2019-02-05 14:04] mhabimana commented on #444
@smachua: Thanks, sounds great,

[2019-02-06 08:30] Patowhiz opened #446 "Additional Search feature on Metadata forms"
The current user controls as implemented on the data entry forms allow a user to search for records through input to the key controls on the forms (as well as still through the navigator). e.g. when you select a date in a data entry form, the values for that date will be displayed if they have already been entered.

Through our current work in implementing user controls on the metadata forms it wo

[2019-02-06 08:48] #418 closed

[2019-02-06 08:50] #427 closed

[2019-02-06 09:24] isedwards commented on #446
This sounds really useful, but I'm worried that it could confuse users when they do not realise what mode they are currently in (or they don't immediately know what they need to change to make the software do what they were expecting).

I would expect *changes* that I make to the form that I'm currently looking at to be edits.

Is it possible to find a way to search/select that cannot be confused

[2019-02-06 09:30] mhabimana commented on #413
@smachua : Can you please provides more comments help/clarifications on the reason why this error occurs.

[2019-02-06 10:34] smachua commented on #413
@mhabimana and @fran2or it's likely there are some blank values in one of the file. Check if  some data were deleted during the editing.

[2019-02-07 10:53] plamptey opened #447 "Station search by name"
I am new to Climsoft and from the Ghana Met. Agency.
I wish i could search station by name by just typing a few letters of the station name.
I have been able to import the station information into the climsoft database. However when i wish to be able to search the station by name by just typing a few letters of the station name in the ''Search Station Name'' dialogue box.

[2019-02-07 11:27] mhabimana commented on #447
@plamptey :Thanks for raising this issue.However,which dialog do you mean,Can you share with us the screenshot? because,the search option on the metadata information is working very well(see below):
![image](https://user-images.githubusercontent.com/10340170/52408696-7aa42a80-2ae4-11e9-93d6-f214cd885e18.png)

[2019-02-07 12:17] rdstern commented on #447
This is a good issue to raise.  My understanding would be that what is wanted by Lamptey is that the only stations listed in the example above would be those with "kig" in the name.  In the instance above you have jumped to (presumably) the first instance of "kig", but then all the following stations are listed.

I assume the custom controls could be used to provide different options here, and per

[2019-02-07 12:27] isedwards commented on #447
Also, in the example Marcellin showed, the stations are not ordered alphabetically, so it is still difficult to find the station that you need.

There's actually already an issue open to improve the search options, hopefully this will help: https://github.com/opencdms/Climsoft/issues/446

[2019-02-07 12:29] #447 closed

[2019-02-07 12:37] plamptey commented on #447
Hi @mhabimana thank you for the prompt response and the screenshot. I have actually realized my mistake; i was pressing the 'enter' key to get the list of stations but i realized by clicking on the drop down it list the stations in the order starting with the initial letters i keyed in.
Thank you all for your response!!

[2019-02-19 14:35] Patowhiz commented on #447
With the custom controls this type of searching has been improved much further, for instance a pop of the stations with the typed letters will be shown and extra features like autocomplete.

[2019-02-22 06:42] mhabimana opened #449 "Climsoft Technical Design Document"
This technical document is required.

[2019-02-26 10:33] isedwards commented on #200
The [`french_translation2`](https://github.com/opencdms/Climsoft/tree/french_translation2) branch has all of the `.Text` properties in the software automatically translated into French using the Microsoft [Translator Text](https://azure.microsoft.com/en-gb/services/cognitive-services/translator-text-api/) service.

In the image below, @mhabimana has highlighted some of the problems with labels now

[2019-02-26 11:31] mhabimana commented on #200
@isedwards This sounds great. I support the idea.

[2019-02-27 05:38] smachua commented on #200
@isedwards and @mhabimana this impressive. We shall try and resolve any issue during the workshop.

[2019-02-27 16:27] isedwards commented on #200
Thank you Samuel - I've updated the `french_translation2` branch so that it now also has Portuguese (using the Microsoft Translation service).

For testing, the language choice now appears before the login screen, but we can change that later.

@Steve-Palmer may be able to find someone to help to check and improve the Portuguese translations and @mhabimana is able to help improve the French versio

[2019-02-28 07:53] mhabimana commented on #200
@isedwards :Well done!

[2019-03-04 09:48] isedwards opened #450 "Possible display problems due to incorrect scaling"
It is very common for applications that use WinForms in VisualStudio to display incorrectly on some machines that have high-resolution displays.

I previously had problems with Climsoft until I changed my display settings to a lower resolution and reduced display scaling to 100%.

I've described the problem in more detail here: https://github.com/africanmathsinitiative/R-Instat/issues/5223

The ne

[2019-03-08 10:56] martambeve opened #451 "Total Required not working unless at the next login"
I am trying to enable and disable the **total required** option in element metadata but the change is not taking effect in the data entry form total textbox  for both Daily and Hourly data entry forms unless I logout and login again into Climsoft.

[2019-03-08 11:03] mhabimana commented on #451
@martambeve :Thanks very much to report this issue. We will investigate on this and come back to you as soon as possible.

[2019-03-08 11:14] martambeve commented on #451
@mhabimana: Thanks looking forward to get the fix to this issue.

[2019-03-15 09:45] mhabimana opened #452 "Climate Normals"
The addition of Climate normals as part of Climsoft Product category list is the request made by @ivenildemate and @martambeve, INAM (Mozambique Met Service) delegation  while in Rwanda for a benchmarking visit on Data Management operations and Climsoft.

[2019-03-15 13:21] martambeve commented on #452
Dear Habimana,
I hope you are well. Everything is fine with me and Ive. According to our request, the normal values should be the average of the monthly values for a period of 30 years. The example that you sent to us is correct but the period  must be 30 years, for example from 1951-1980, 1961-1990, 1971-2000, and so on.

Best Regards

Marta

[2019-03-15 14:14] mhabimana commented on #452
@martambeve: Thanks,well noted.

[2019-03-15 16:06] smachua opened #453 "Sequencing of records on Key Entry forms"
@maxwellfundi and @Patowhiz currently on the key entry forms the elements and dates are well sequenced for the next record to be entered after clicking Add New button. However, the station selected is not always the expected one in cases where many key entry operators are working simultaneously each handling a different station. In the old forms we picked the last record per the operator then the

[2019-03-20 07:52] isedwards commented on #356
We have discussed this in depth at the Kitale workshop and we can see how to move forward:
1. Work has been undertaken to identify the group each element code belongs to (the groups correspond to the "top-level phenomenon" mentioned by @Steve-Palmer above).
2. In the next version, users will select the top-level element, and then the appropriate related meta-data, e.g. the duration/period that the

[2019-03-20 11:23] isedwards opened #455 "Customized data entry forms"

[2019-03-20 11:24] isedwards opened #456 "Users and administrators to be able to identify gaps"

[2019-03-20 11:24] isedwards opened #457 "Decide how to manage limits"

[2019-03-20 11:24] isedwards opened #458 "Gridded products"

[2019-03-20 11:25] isedwards opened #459 "Make it easier to complete metadata"

[2019-03-20 11:25] isedwards opened #460 "Permission-based interface"

[2019-03-20 11:25] isedwards opened #461 "Settings"

[2019-03-20 11:27] isedwards opened #462 "Replacing grid in the form selector"

[2019-03-20 11:27] isedwards opened #463 "Discussion on merging of the development branch"

[2019-03-20 11:28] isedwards opened #464 "Tutorial database"

[2019-03-20 11:29] isedwards opened #465 "Data for developer testing"

[2019-03-20 11:29] isedwards opened #466 "Tutorial database"

[2019-03-20 11:29] isedwards opened #467 "Proposed changes to data model"

[2019-03-20 11:31] isedwards opened #468 "Setting up a network testing environment"

[2019-03-20 11:31] isedwards opened #469 "Introduce scaling on entry forms"

[2019-03-20 11:32] isedwards opened #470 "Language scaling on entry forms"

[2019-03-20 11:59] isedwards opened #471 "Removing redundant controls from data entry forms"
This issue requires #356 to to be completed in order to be able to identify which element code belongs to which element group.

- [ ] In `formDaily2`, users can currently select units for Temperature, Precip, Cloud height and visibility even when those elements are not currently being entered.  Instead, we should only display (and change) the units for the element that is currently being entered.

[2019-03-20 12:33] isedwards opened #473 "Simplify data entry forms so that operators cannot change units"
Currently in `formDaily2`, users who are key entry operators can change the units for the data that they are entering.  This could be changed incorrectly, e.g. from `Deg c` to `Deg f`.

Instead we should only display the units that the data is expected to be entered in.

The metadata/settings should specify the units that are expected for the data that is being entered by a key operator and also t

[2019-03-20 12:40] isedwards opened #474 "Review the navigation buttons on data entry forms"
Currently, the `Add New` and `Clear` navigation buttons on data entry forms can cause confusion for users.  Specifically, if a user clicks `Add New` and then changes their mind, if is not obvious how they should return to navigating the existing records.

[2019-03-20 13:18] isedwards commented on #200
After extensive testing we have decided to move away from using the Multilingual App Toolkit in both Climsoft and R-Instat due to the number of severe problems that we are having to write code to work around.

Instead we will:
- [ ] Create a procedure that will be used during development to loop over all over the controls in the forms and...
  - Extract the text to be translated (usually in the `T

[2019-03-20 14:30] isedwards commented on #408
The tasks in this issue is being addressed during the Kitale workshop and therefore will be completed before the v4.1.4 release.

[2019-03-20 15:12] isedwards commented on #356
If we no longer distinguish between automatic weather stations and other instruments by using a variation in the element code then it will no longer be possible to determine which instrument was used to capture an observation when multiple instruments are in use at the same station recording the same element.

Currently, for each observation, it is possible to determine the instrument that would h

[2019-03-20 15:46] isedwards commented on #356
Currently element codes are **NOT** unique, e.g.:

`SELECT * FROM obselement WHERE abbreviation='MXPRCP';`

| elementId | abbreviation | elementName                      | ... |
|------------|----------------|-------------------------------|----|
| 210           | MXPRCP        | Precip  Max in the Month    |      |
| 410           | MXPRCP        | Precip  Max Dly 10 Days      |      |

[2019-03-20 17:01] isedwards opened #475 "Full audit trail tracking each successful change to observation data"
Section 3.2.1.1 of the [Climate Data Management System Specifications](https://library.wmo.int/index.php?lvl=notice_display&id=16300) shows the following requirement as 'required':

data be audited to ensure that the change, the
details of the operator who made the change
and the time of the change have all been
recorded?

[2019-03-20 17:09] isedwards opened #476 "Climsoft v5.0 Data Model changes"
The project will move from Climsoft 4.x to version 5.0 when the changes below have been made to the data model.

---

A major strength of Climsoft is its ability to store all types of observation in a single observation table. However, for implementation reasons, versions of Climsoft prior to version 5 split the observation into several temporary tables (used when the data is first entered during

[2019-03-20 18:00] #321 closed

[2019-03-20 18:19] isedwards opened #477 "Decision on single-column primary keys for Climsoft 5"
Single-column primary keys have currently been discussed midway through the discussion on another issue (#304). Further discussion should continue here.

Single-column primary keys have now been suggested again for Climsoft version 5.0 because we have to store an integer to keep track of the observation's `versionNumber` (e.g. 0, 1, 2, 3, ...).  The numerical difference between these numbers (+1)

[2019-03-20 19:17] isedwards opened #478 "Portable/stand-alone .NET apps?"
Can Climsoft (and R-Instat) be compiled as portable/stand-alone applications (that include all of the .NET libraries) so that they do not rely on external libraries like the .NET Framework having to be installed?

This would simplify the installation process and ensure that the correct version of .NET was always available. A disadvantage is that it would take more disk space if the user already ha

[2019-03-21 08:53] isedwards commented on #328
During the Kitale workshop we decided to remove WRPlot from the installation program.

- [ ] Check that Climsoft provides sufficient help for users when WRPlot is not found so that they can install the software if they want to use it.

[2019-03-21 08:55] isedwards opened #479 "Create installation using Advanced Installer"
During the Kitale workshop, we decided to create a new installer:

- Using Advanced Installer to automatically detect and handle the .NET installation
- Without the Visual Studio runtime and without the MS Office runtime (which we believe are not needed)
- Without the WRPlot windrose software. If the user requires a windrose and this software is not installed then Climsoft detects this and provide

[2019-03-21 08:59] #234 closed

[2019-03-21 09:02] mhabimana opened #480 "Inventory Output"
Should leave blank no existing date, M where data is missing and X where data are existing..

[2019-03-21 09:18] mhabimana opened #481 "Instrument Type on StationElement Metadata Tab need more discussion"
Instrument Type on StationElement Metadata Tab need more discussion.

[2019-03-21 09:32] isedwards opened #482 "R-Instat launcher for products"
Currently when a user creates products with R-Instat they have to export the data from Climsoft, open R-Instat, import the data and then understand how to use R-Instat in order to generate the plot.

Instead we would like to either:
a) Get a R-Instat plot using the same method that WRPlot currently uses - Climsoft discretely writes a file to disc and then launches WRPlot with the filename as a par

[2019-03-21 09:50] dannyparsons opened #483 "Consistent icons in title bars"
All forms and dialogs should have the Climsoft logo in the title bar.

[2019-03-21 09:52] mhabimana opened #484 "Uniform Icon"
Have a uniform icon throughout all the dialogs

[2019-03-21 10:07] dannyparsons commented on #466
duplicate of #464

[2019-03-21 10:07] #466 closed

[2019-03-21 10:08] isedwards commented on #484
Change all dialogs to have the following title bar:

| Icon                | Software name               | Form name         |
|----------------|----------------------------|-------------------|
| Climsoft icon |**Climsoft version 4.1.3** | - Main Menu      |
| Climsoft icon |**Climsoft version 4.1.3** |- Data Entry Form|
|⋮                      | ⋮                                       | ⋮

[2019-03-21 10:15] dannyparsons commented on #464
This could be the Western Kenya data which is already open.

[2019-03-21 10:19] dannyparsons commented on #465
Three options are:
1. Live database only tested by people who have permission
2. Agreement from country that named individuals can use a live database for testing
3. Developer with access to live database creates comparable test database with similar characteristics.
4. Start from scratch to produce a large test database (ask about number of observations/stations/elements)

[2019-03-21 10:21] isedwards commented on #223
In Climsoft v4.x and v5.x we recommend that Climsoft Desktop is only used over a secure local area network (LAN) at a particular site, or over a virtual private network (VPN) when used from an external site connecting of the internet.

Climsoft version 6 will support secure connections over the internet

[2019-03-21 11:21] #223 closed

[2019-03-21 11:31] isedwards opened #485 "Add database version number into the `regkeys` database table"
The Climsoft database has an existing table called `regkeys` for storing metadata.

Each version of the Climsoft database should have the database version number in this table, e.g.

| keyName | keyValue | keyDescription |
|------------|-----------|------------------|
| dbversion | 4.1.3       |                          |

When connecting to a database, Climsoft Desktop should always check whether

[2019-03-21 12:02] isedwards opened #486 "Bulk change of observation metadata"
There are situations where operators have been entering observations for many days/months with incorrect metadata, e.g. entering with the wrong station, or with the wrong year.

Currently they may be told to delete all the the entries and start again.

Instead, managers could be given an option to bulk update.  This will be recorded in the audit table and there will be the option to revert.

[2019-03-21 12:10] #468 closed

[2019-03-21 12:36] isedwards commented on #229
- [ ] Add a Welcome screen when Climsoft is launched for the first time
    - Welcome to Climsoft. Would you like to create a new database of connect to an existing database
- [ ] Add capability to create new database
- [ ] Ensure that default database for future logins is set to the same details as used during welcome
- [ ] When Climsoft is upgraded, the welcome screen should retain knowledge of

[2019-03-21 12:45] isedwards opened #487 "Improving security for installer executables"
The executable download should be hashed and the hash value shown online so that people can verify that the file they are receiving is identical to the one the Climsoft project is sharing.

Or...

The installer file could be signed, see https://github.com/africanmathsinitiative/R-Instat/issues/5202

[2019-03-21 14:18] isedwards opened #488 "Long term move to PostgreSQL database"
From issue #193:

There are other reasons for moving to PostgreSQL/PostGIS for the web app release v6

[2019-03-21 14:22] isedwards opened #489 "Store partial dates as ISO 8601 strings"
Partial dates can be stored as ISO strings, e.g.

2012-01
2013-10-01

ISO date strings can be easily compared to determine whether dates are before/after other dates due to [lexicographical order](https://en.wikipedia.org/wiki/Lexicographical_order)

[2019-03-21 15:57] mhabimana commented on #488
@isedwards: National Meteorological Services are nowadays interested gridded with gridded data,some of these are the blended data from both point data and sattellite data but the current version of Climsoft is not able to store such kind of data,we need to think of this as well as and make sure we give room to such important type of data.

[2019-03-21 16:11] isedwards commented on #488
I agree - this is one of the key arguments for moving to PostgreSQL/PostGIS - the support for gridded data is excellent.  For example, if you a satellite image showing surface temperatures of East Africa and you had a shapefile of the outline of Lake Victoria then you could extra just the temperature over he lake and then use these for further analysis (e.g. calculating the average, or temperature

[2019-03-21 16:25] dannyparsons commented on #200
Just a small point on text in the middle of a string, e.g. "There are 12 results", "There are 15 results", "There is 1 result".
I think it's generally recommended to try and avoid this in software that will be translated. I have certainly seen that putting textbox controls in the middle of a sentence is advised against because in different languages the order of words are not the same.
We could se

[2019-03-22 07:02] isedwards commented on #237
This issue will be resolved by #486

[2019-03-22 07:02] #237 closed

[2019-03-22 12:10] isedwards opened #490 "Add new argomet form"
See initial PR #472

[2019-03-22 12:21] Patowhiz opened #491 "Naming Conventions To Be Used In CLIMSOFT for Forms and Controls"

[2019-03-22 12:24] Patowhiz opened #492 "Define Colors To Be Used For Different Purposes(Feedback) In the Forms"

[2019-03-22 12:32] Patowhiz opened #493 "Enhancing Navigation Control"
- [ ] - Updating the navigation control to connect to the database through the new data connection class
- [ ] -  Disabling First and Last buttons based on the position of the record.

[2019-03-27 09:08] Patowhiz commented on #425
We looked into the usage of .net data adapter in doing CRUD operations. We found out that we can use it together with parameterised queries and the data table to enhance secured and safe entry of data to the database.

The new changes made were based on  [microsoft docs](https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/updating-data-sources-with-dataadapters) on usage of data adapter

[2019-03-27 09:16] Patowhiz commented on #408
@iedwards please note I'm still waiting for the road map of  version 5 to help update the milestones for the issues raised accordingly. In the meantime I'll only update for version 4 since its the only one available.

[2019-03-27 09:22] Patowhiz commented on #408
@iedwards @dannyparsons @smachua @mhabimana we need to know the due date for 4.1.4 milestone (March Sprint), So that the team can know about its deadline.

@smachua @maxwellfundi is it viable to have this milestone achieved before the Malawi installation?

[2019-03-27 09:40] Patowhiz commented on #465
@mhabimana when can we have this test data so that we can use to test it with our new selected "alternative way" of fetch data from the database. as mention in issue [#425](https://github.com/opencdms/Climsoft/issues/425)

[2019-03-27 09:48] Patowhiz commented on #458
@smachua will this require major changes to the data model, can the current model as it is ingest this type of data?

It's currently indicated as a feature release of version 4.x in the [road map]https://github.com/opencdms/Climsoft/wiki/Climsoft-Roadmap) .

[2019-03-27 09:51] Patowhiz commented on #436
Added this to milestone 5.0 . It was generally agreed that initially this interface will be able to handle all the data entry from the manual stations.

[2019-03-27 09:57] isedwards commented on #458
The roadmap on the Climsoft wiki was last updated in January 2017.  It will be replaced soon by the new roadmap that was started last week.  The new roadmap will give more details of future support for gridded data.

[2019-03-27 10:07] Patowhiz commented on #416
I'm closing this issue, it has already been addressed in the current version of CLIMSOFT. It's just about how the metadata for the element is set.

[2019-03-27 10:07] #416 closed

[2019-03-27 11:31] Patowhiz commented on #426
This can be partly implemented for version 4.x, to improve it's speed , though it will change in version 5.

[2019-03-27 11:40] Patowhiz commented on #292
@isedwards does this justify having climsoft as a single instance application in a PC. I think this can easily be set up in the advanced set up toolkit

[2019-03-27 11:42] Patowhiz commented on #280
This was also discussed in the March 18th 2019 developer workshop. It was also suggested that R-Instant be able to be opened from with CLIMSOFT with data given to it as a start parameter.

[2019-03-27 11:45] mhabimana commented on #292
@Patowhiz : This has been solved. We need to close this if everyone is happy.

[2019-03-27 12:03] Patowhiz commented on #458
Okay. We will set it's milestone once that road map is ready.

[2019-03-27 12:05] Patowhiz commented on #215
@smachua is this now implemented in CLIMSOFT version 4

[2019-03-27 12:46] smachua commented on #458
@Patowhiz the current data model cannot accommodate Gridded Data. This is not station data but generated data that is identified by its geographical location. Those locations are not fixed hence cannot be accommodated in the station metadata.

[2019-03-27 12:49] smachua commented on #215
@Patowhiz yes for Synoptic messages but am working on CLIMAT messages.

[2019-03-27 12:49] Patowhiz commented on #206
@mhabimana was this solved?

[2019-03-27 12:55] mhabimana commented on #206
@Patowhiz :This was done . What is remaining is the import of Monthly data ( here, I assume some Met Services may have Monthly data only and not Daily,hourly or minutes data and wish to import these data into Climsoft.

[2019-03-27 12:55] smachua commented on #206
@mhabimana it is better you close all those issues that have been solved to avoid complications.

[2019-03-27 12:56] mhabimana commented on #206
@smachua : Noted.

[2019-03-27 12:57] Patowhiz commented on #205
@mhabimana I think this was solved in the current version 4?

[2019-03-27 12:59] #206 closed

[2019-03-27 13:00] mhabimana commented on #205
@Patowhiz :Yes

[2019-03-27 13:00] #205 closed

[2019-03-27 13:09] mhabimana commented on #483
This can be close since it is repeated in #484

[2019-03-27 13:09] #483 closed

[2019-03-27 13:11] Patowhiz commented on #458
So then I presume this will be a major advancement in in the data model and will have to wait till version 5

[2019-03-27 13:15] mhabimana commented on #458
@Patowhiz :Yes, It makes sense.

[2019-03-27 13:19] mhabimana commented on #438
This was tested and the result was good.It can now be closed.

[2019-03-27 13:22] mhabimana commented on #434
This can be closed.

[2019-03-27 13:22] #434 closed

[2019-03-27 13:22] smachua commented on #458
@Patowhiz yes just leave it out for now. We're not even sure whether V5 data model will accommodate it. There are discussions in other circles regarding archival/retrieval of Gridded data.

[2019-03-27 13:23] isedwards commented on #438
@mhabimana - is it possible to put your instructions for installing MySQL on Linux on the Climsoft wiki and then add a link from here?

[2019-03-27 13:24] mhabimana commented on #438
@isedwards :Noted.

[2019-03-27 13:27] isedwards commented on #458
The new road map currently suggests that gridded data will be prototyped during version 6.x, aiming for stable release in version 7.  I agree that it's best just to leave the [future](https://github.com/opencdms/Climsoft/labels/future) label for now and schedule this when it gets funded.

[2019-03-27 13:32] isedwards commented on #292
A good question from @Patowhiz [above](https://github.com/opencdms/Climsoft/issues/292#issuecomment-477111704)...

Should it be possible to have more than one instance of Climsoft running on a machine at the same time?

[2019-03-27 13:43] isedwards commented on #408
@Patowhiz I will email you the current draft roadmap.  I expect it to be completed this week and put online for everyone to comment.

We should make sure each version is well tested before release.

[2019-03-27 14:47] mhabimana opened #494 "Linux"
1.
![1](https://user-images.githubusercontent.com/10340170/55085818-5a422680-50b8-11e9-8d5c-ab0dac3ae4f4.png)

2.
![image](https://user-images.githubusercontent.com/10340170/55085957-9aa1a480-50b8-11e9-95c0-a64dbb19ecf9.png)

[2019-03-27 15:12] mhabimana commented on #438
@isedwards : Here is the Link: Climsoft Database Configuration on LINUX (MySQL or MariaDB Server)

[2019-03-27 18:59] isedwards commented on #494
@mhabimana instead of uploading the images as part of an issue and then closing the issue, I tend to add them into the `wiki` folder in this repository: https://github.com/opencdms/climsoft.org

I've reopened this issue so that we can add these new images with the others.

I can do this in the next few days or I'm happy if you want to have a go?

[2019-03-27 19:00] isedwards commented on #438
Excellent!  Thank you Marcellin!

[2019-03-27 19:00] #438 closed

[2019-03-28 06:12] Muthenya opened #495 "Question on Datatypes in the Climsoft database"
As I've said above, this is more of a question. From last week's workshop, one of the issues that came up was the correctness of datatypes of some of the columns in the Climsoft database tables. A task was given to the AMI team to go through the tables for the data entry, investigate and raise any issue with regard to this.

I was able to  do this and I have my findings.  If it's appropriate, I ca

[2019-03-28 06:42] isedwards commented on #495
@muthenya  Sounds good, yes please

[2019-03-28 06:43] mhabimana commented on #494
@isedwards : Thanks,correction applied.This can now be closed.

[2019-03-28 06:43] #494 closed

[2019-03-28 06:54] mhabimana commented on #495
@Muthenya 🆗

[2019-03-28 07:02] #204 closed

[2019-03-28 07:04] #202 closed

[2019-03-28 07:04] Patowhiz opened #496 "form_Daily2 - Data Entry Form For Daily Data For The Whole Month"
Also mentioned in #574

[2019-03-28 07:10] mhabimana commented on #262
@smachua : How was this implemented in V4?

[2019-03-28 07:12] Patowhiz opened #497 "form_hourly - Data Entry for Hourly Data"

[2019-03-28 07:18] #215 closed

[2019-03-28 07:20] #212 closed

[2019-03-28 07:21] Patowhiz opened #498 "form_hourlywind - Data Entry Form For Hourly Wind Data"

[2019-03-28 07:22] Patowhiz opened #499 "form_monthly - Data Entry Form For Monthly Data"

[2019-03-28 07:22] #330 closed

[2019-03-28 07:23] isedwards commented on #217
@mhabimana Is this issue definitely resolved? I thought we were waiting for @Steve-Palmer to [confirm the correct formula](https://github.com/opencdms/Climsoft/issues/217#issuecomment-311725644) to use:

...

[2019-03-28 07:25] #312 closed

[2019-03-28 07:26] #311 closed

[2019-03-28 07:26] #298 closed

[2019-03-28 07:31] isedwards commented on #329
I've assigned this to me, there are a couple of things we still need to look at.

[2019-03-28 07:31] mhabimana commented on #292
@isedwards :Though this is possible, the best way is to have one instance of Climsoft run on a machine to avoid possible errors.

[2019-03-28 07:36] isedwards commented on #292
Assigned @Patowhiz as well.  We'll check how to do this.

[2019-03-28 07:37] Patowhiz opened #500 "form_synoptic_2_ra1 - Data Entry Form for Synoptic data for input into TDCF form for RA1"
As mentioned in issue #574

This bug needs to be fixed.

[2019-03-28 07:40] mhabimana commented on #329
@isedwards 🆗

[2019-03-28 07:51] mhabimana commented on #481
@Muthenya : Re:point1,I can see 8 columns and not 7 in the database:
![image](https://user-images.githubusercontent.com/10340170/55139661-58737400-5147-11e9-9017-85708eaec332.png)

[2019-03-28 08:05] Muthenya commented on #481
I see. Yours seems to be an updated version of the database since mine has 7. Kindly see below.

![Capture](https://user-images.githubusercontent.com/32125033/55140494-4a265780-5149-11e9-9a0d-c7c19dfc0915.PNG)

[2019-03-28 08:41] mhabimana commented on #481
@Muthenya : I suggest you to use the updated one.Not sure if you have the database script. If you installed Climsoft Version 4.1.3 recently,this might be in your  Dbase folder: C:\Program Files (x86)\ClimsoftV4\Dbase

[2019-03-28 08:48] mhabimana commented on #481
@Muthenya : If you are happy now we can close this issue.

[2019-03-28 08:51] isedwards commented on #481
Also, the most recent database scripts can always be found in the `climsoft-database` repository, here: https://github.com/opencdms/climsoft-database/tree/master/sql

You need to delete the old databases by right-clicking them and choosing `Drop`. Then you can create the new version by going to `File` > `Run SQL file`

[2019-03-28 09:07] Muthenya commented on #481
Great. This answers both my concerns. Thanks.

[2019-03-28 10:07] Muthenya commented on #470
The AMI Team will work towards ensuring the labels (and any other control) in the forms assigned to them are well-sized/resized to accommodate the translations.

[2019-03-28 14:12] isedwards opened #501 "Portuguese translation"
We're looking for a native Portuguese speaker who could help with initual language translation.

[2019-03-28 14:17] isedwards opened #502 "Move Climsoft.org to GitHub pages"
We need to extend the Climsoft website to have multiple pages (hosted for free at GitHub).

New pages will include the 5 year roadmap and details on when each section of the CDMS Specifications will be implemented.

[2019-03-29 11:57] isedwards opened #504 "Evaluate Climsoft against CDMS Specifications"
Evaluate Climsoft against Appendix 2 of the CDMS Specifications ([WMO 1131](https://library.wmo.int/index.php?lvl=notice_display&id=16300)

[2019-03-29 14:35] #197 closed

[2019-03-30 11:53] isedwards commented on #408
The Climsoft 5 year road map, discussed in Kitale, is now available here:
    https://github.com/opencdms/Climsoft/wiki/Climsoft-Roadmap

Please let me know any changes that are needed by commenting on this issue.

If there are no major changes then I intend to mark the road map as "adopted" next Friday (5th April 2019)

[2019-03-30 20:29] vedasteiyakaremye opened #505 "Assign one station to a particular user"
We are using Climsoft V4.1.3 at upcountry stations. Each Staff is given a user as Climsoft Operator. Because staff are new to Climsoft, I am suggesting to add an option whereby a user is assigned to one or more stations. I do not want them to see data entered by another user.

[2019-03-31 15:11] isedwards commented on #411
@mhabimana could you add screenshots of any forms and other capabilities that were available in Climsoft v3.2 but are still not in v4.1.3?

[2019-04-01 07:03] mhabimana commented on #408
@isedwards : Looks great. I have edited few typing errors ,but  the last scale  for the release cycle need correction as well from thirty party to third-party.

[2019-04-01 07:28] mhabimana commented on #411
@isedwards @Patowhiz : I have shared the intaller for V3 via dropbox. Below is the doc to help you to install:
[CLIMSOFT V3 Installation.docx](https://github.com/opencdms/Climsoft/files/3028169/CLIMSOFT.V3.Installation.docx)

[2019-04-01 07:41] mhabimana commented on #411
Data Entry Forms not yet implemented.
1. Form CLIMAT
![image](https://user-images.githubusercontent.com/10340170/55310963-7a803580-546a-11e9-924e-245368eca14b.png)

[2019-04-01 12:15] Muthenya commented on #481
Here is my first go:

1. obselement table
Both the upperlimit and lowerlimit columns are VARCHAR; my thinking is that these should be numeric.

2. observationinitial and observationfinal tables
obsValue is VARCHAR in initial and decimal in final. Why is this so?

3. instrument table
serialNumber and Height are VARCHAR; I also think these should be numeric especially on the part of Height.

4. stat

[2019-04-01 12:56] mhabimana commented on #481
@Muthenya : I can not really answer your question well,@smachua will be able to give the right answer and advise whether these data type should change or not  and the reason but note that VARCHAR is flexible and can accommodate both numbers and letters.

[2019-04-01 12:58] Muthenya commented on #481
I understand. These were just observations and suggestions; more of understanding why the data types were set that way.

[2019-04-01 13:03] mhabimana commented on #481
@Muthenya 👍 ,it is a good observation and @smachua should be able to explain why this.

[2019-04-01 13:04] Muthenya commented on #481
Thank you @mhabimana.

[2019-04-02 17:32] Patowhiz opened #507 "form_synoptic2_caribbean - Caribbean synoptic data for many elements for one observation time"

[2019-04-02 17:39] Patowhiz opened #508 "Test and Check On Loading Speed of New Data Entry Forms"

[2019-04-09 12:57] mhabimana opened #513 "Climsoft Project Versus Recommended Community Standards"
Here is the check list of how climsoft stands compared to recommended community standards projects.We need to add the following missing points (yelow) to fully meet the recommended community standards:
![image](https://user-images.githubusercontent.com/10340170/55802086-2ca9a400-5ae0-11e9-95a8-1eee83306624.png)

[2019-04-11 12:39] #408 closed

[2019-04-15 14:44] mhabimana opened #515 "Notification message is required when deleting a metadata record"
At the moment,when deleting a station or element metadata record,the user is not getting any message or feedback to notify him/her whether the record is deleted successfully or not (this is happening silently). My view is that a message box should pop up to inform the user that this operation is done successfully or not the same way it does when updating an existing record.

[2019-04-16 12:49] mhabimana opened #516 "Updating station metadata after import"
This error message occurs when trying to update station metadata information  after importing these. The truc to avoid this error is to logout into Climsoft after the import and then login again and perform any required update on the station metadata. So,this is a bug which need to be addressed; User should be able to edit the metadata information after importing these and should not need to logou

[2019-04-18 07:03] mwaurahk commented on #516
Hi all,
The station search in Metadata management is very slow and takes ages to display stations already in the database..I have about 3117 stations in the database..Climsoft v4.13 runs on the server and will crash or become unresponsive when I do a station search in Metadata Management.

[2019-04-18 07:16] mwaurahk commented on #516
![image](https://user-images.githubusercontent.com/20796608/56343272-ef6da200-61c2-11e9-9435-f0adf2ae9166.png)

[2019-04-18 07:16] #516 closed

[2019-05-03 10:45] mhabimana opened #517 "Enable/Disable Sequencer"
At the moment it is not possible to disable the sequencer on the data entry form  permanently because the sequencer is enabled by default and by clicking on the check box in front of the sequencer label,the sequencer is disabled temporary but when you close the form and reopen this again the sequencer become enabled. I think the best way is to give users an option to enable or disable the sequence

[2019-05-10 10:11] mhabimana opened #519 "Basic Charts in Climsoft - Export data button required on the charts"
@smachua : The export data button is required on the charts to be able to see and export data plotted on a particular chart

[2019-05-10 10:28] smachua commented on #519
@mhabimana I am going to implement it. But what do you think is more preferable, data view or export to a file?

[2019-05-10 12:32] mhabimana commented on #519
@smachua :Thanks,Data view in excel as default will be great and then someone should decide to save  the file or not.

[2019-05-13 07:35] mwaurahk opened #523 "Add New command does NOT clear the Data Entry forms in a Climsoftv4 client-server environment."
HI all,
I have a Client - Server  setup of Climsoftv4 in KMD and we have a number of Key Entry staff working at the same time on a particular form. The issue is that when one saves and clears the form with Add new it doesn't happen..instead it displays data for a different station being worked on by the other Key Entry staff. So one is now forced to key in the station no, date he/she's working on

[2019-05-13 11:53] isedwards opened #524 "Record of changes to AWS messages"
AWS messages often change as elements are intentionally added/removed (an authorised change) or a sensor stops working (an instrument failure)

_For authorised changes_ - sometimes we have to reprocess historic AWS data and we need to know the historic schema of the message between historic dates. We should also be able to plan in advance for known changes, e.g. the introduction of a new sensor on

[2019-05-13 11:55] isedwards opened #525 "Managing "stores" metadata"
When sensors are scheduled for calibration, Climsoft needs to link with the processes that are in place for instrument stores.

This should include access for users who work in stores so that they can be alerted when sensors are scheduled for calibrating.

[2019-05-13 13:47] smachua commented on #523
This issue was earlier raised as #453 and addressed to @Patowhiz  and @maxwellfundi. I hope it will be resolved soon.

[2019-05-13 16:10] Steve-Palmer commented on #502
Sounds sensible. We need to set up the web pages, then it is easy to change from the single-page site. I have the login on UK2 to change the DNS destination. Who should do  the website design?

[2019-05-15 13:39] mhabimana commented on #524
@iedwards :Thanks,this is important and need further discussions.

[2019-05-15 14:03] Steve-Palmer commented on #525
Need to check the Climsoft data model. Under the sensor metadata entry, there should be an attribute for "calibration valid from <date>" and "calibration valid to <date>". This could be used to output a report of which sensors need recalibrating. Stores/maintenance will also need a process (probably through the metadata manager) to update the sensors in use at a station.

[2019-05-15 16:05] mhabimana opened #526 "Adding Spreadsheet as an alternative way of entering Climate data"
This is to open a discussion on the addition of this functionality in Climsoft.

[2019-05-28 13:51] mhabimana opened #529 "Rainy Days as part of Data Products"
Rainy Days data products need to be added on the list of products because some users are interested not only with the amounts of rain but also with the numbers of rainy days in a particular month of year.

[2019-05-28 13:55] mhabimana opened #530 "Seasonal Data as part of Data Products"
Seasonal Data need to be added as part of Data Products,some users are interested only with particular seasons of their interest(e.g. March-May(MAM),Sept-December(SOND)).

[2019-05-28 14:12] mhabimana opened #531 "Restrict Users to see their own entered data in data entry forms"
In Rwanda for example, Observers at outstations are entering data directly into the database at HQ but the problem here is that,their not interested to see data from others stations apart their own entered data. The idea here is to restrict them to be able to see only their data and not the whole set entered by other users. This issue was raised by @Iyakaremyevedaste in Rwanda.

[2019-05-28 14:33] vedasteiyakaremye commented on #531
Thanks @mhabimana for reminding us this issue. The problem is not only for an operator seeing what others are doing but sometimes they may modify other station's data. I think the solution can be to create a user and assign one or two stations to him or her.

[2019-05-28 14:37] mhabimana opened #532 "Importing Dekadal Data from external source into Climsoft"
In addition to the issue #410 about Importing Monthly Data from external source into Climsoft V4 ,it is also important to have the facility to import dekadal data from other external sources into ClimsoftV4.

[2019-05-28 16:51] smachua commented on #530
@mhabimana it will be important to know what climate products that are required for those periods.

[2019-05-29 12:34] mhabimana commented on #530
@smachua : Thanks,this functionality (seasonal) and rainy days are part of the product menu in ClimsoftV2.0(KMD).

[2019-05-31 05:17] mhabimana opened #533 "Upload button on Data Entry Forms"
Upload button operation on the data entry forms takes very long time to transfer data into observationinitial table when there is lots of data in the forms.  Every time this is clicked it pushes all the data and yet users would prefer to push only few added records since others may existing already in the observationinitial table. If possible this operation can check first if data which are going

[2019-05-31 10:43] maxwellfundi commented on #533
@mhabimana  that sound like a very efficient thing to do to make this process faster. @Patowhiz @mhabimana  what do you guys think about checking if the record exists and if the values have been updated, and just upload non-existent data and the edited values of the existing records?

[2019-05-31 13:14] mhabimana commented on #533
@maxwellfundi :That would be great.

[2019-06-18 08:24] isedwards opened #535 "Data entry forms: testing and merging latest changes"
There are a few steps that are required before the latest updates to the data entry forms can be tested and merged.

@Patowhiz @maxwellfundi - could you work through this list and let us know when the PR is ready for testing?
- [ ] Check that all of the changes in Ivan's pull request (#510) are now included in Patrick's #528 and, if so, close Ivan's PR without merging
- [ ] Check whether any other

[2019-06-18 08:45] isedwards opened #536 "Climsoft 4.1.4 and 4.2 releases"
Climsoft 4.1.4 is due for release soon, it will include two fairly significant updates which are still in progress:
- #528 Data Entry Forms
- #534 Improvements to managing databases and installation

v4.1.4 should be installed and tested by users for several months to ensure that everything is working without issues. During this time we will allow only minor, low risk, updates to be made to the `m

[2019-06-18 09:11] mhabimana commented on #536
@isedwards :Sounds great,Just to add that V4.1.4 will have as well Basic charts/plot (line and bar charts) and improvement on Double Entry additions from @smachua .

[2019-06-20 06:45] mhabimana commented on #535
@Patowhiz @maxwellfundi :Any update or progress on this?,we need to finalise this and move forward.

[2019-06-20 06:56] maxwellfundi commented on #535
@mhabimana yeah @Patowhiz  will be making the PR to master soon. All that we need is already on #528 because we combined them together.

[2019-06-20 09:09] Patowhiz commented on #535
@mhabimana I'm finalising on this. We will be making the PR

[2019-06-20 09:25] mhabimana commented on #535
@Patowhiz :Thanks,well noted.

[2019-06-20 14:15] smachua commented on #517
@mhabimana I will work on it.

[2019-06-21 09:59] mhabimana commented on #513
@isedwards :What is the progress on this?

[2019-06-21 10:02] isedwards commented on #513
Could you add this to a new milestone for delivery in time for Climsoft 4.2?

I will make sure the new OpenCDMS repositories also meet the recommendations.

[2019-06-21 10:15] mhabimana commented on #502
@isedwards :we need to agree on the way forward.

[2019-06-21 10:18] isedwards commented on #502
Yes, we're agreed to do this. It's just waiting for me to make a copy of the existing website within the `climsoft.org` repository at GitHub.

Can you add a v4.2 label?

[2019-06-21 10:29] mhabimana commented on #480
This has been resolved partly by @smachua , by replacing missing/gap in data series by M. The issue is that the M are also applied where they should not in a data file output( csv).

[2019-06-21 10:41] smachua commented on #480
@mhabimana it's ok I've noted the outstanding issue and am going to deal with it.

[2019-06-21 10:53] mhabimana commented on #413
More QC routines need to be added in later versions

[2019-06-21 12:34] mhabimana commented on #349
This need more discussion and agreement on the way forward

[2019-06-24 13:05] #258 closed

[2019-06-24 13:05] #253 closed

[2019-06-24 13:09] #244 closed

[2019-06-24 13:21] #233 closed

[2019-06-25 14:49] isedwards commented on #536
Marcellin has worked through all of the issues that are open for Climsoft and assigned each of these to future release version numbers.  Can we all take a look through the list of issues assigned to each release and then discuss further here?

[`https://github.com/opencdms/climsoft/milestones`](https://github.com/opencdms/climsoft/milestones)

Bear in mind the timeline in the diagram that shows wh

[2019-06-25 15:47] maxwellfundi opened #538 "Bug with Data Climate products from Climsoft"
At the moment you can export data from Climsoft with each element on its own column(the way that R-Instat needs) which is the default, or you can decide to transpose the data that you have day of the month going across at the top.

Today, we have found that if you did check the transpose check box and successfully export the transposed data, then the consecutive times after unchecking the transpos

[2019-06-26 06:35] mhabimana commented on #538
@maxwellfundi: Thanks,I think the issue here is the refresh of the dialog.We need to investigate further why this issue.

[2019-06-26 06:41] mhabimana commented on #535
@Patowhiz: We are still waiting your new PR,good to have this ready before the end of the month.

[2019-06-26 16:47] maxwellfundi commented on #538
Great that will be good to have it working properly.

[2019-07-04 07:07] fatsanawo opened #539 "An error with data entry in Climsoft"
There is this error that keeps popping up when trying to log in
![15622238693206064028099480610248](https://user-images.githubusercontent.com/52524325/60646166-f196e280-9e3a-11e9-8205-2d1070c56d98.jpg)

[2019-07-04 07:16] fatsanawo opened #540 "Error data entry Climsoft"
And there is another annoying error message that keeps popping up every digit you enter after once it has started.
![15622245143574223815332163592912](https://user-images.githubusercontent.com/52524325/60646699-4a1aaf80-9e3c-11e9-93cf-fd68bf96018a.jpg)

[2019-07-04 07:19] mhabimana commented on #539
@fatsanawo: what about other users? are they able to login? please let us know.

[2019-07-04 07:23] fatsanawo commented on #539
Yes, this error starts when the number of clients is about 8

[2019-07-07 18:06] smachua opened #543 "Too many connections error on frmNewFormDaily2"
@maxwellfundi and @Patowhiz this problem has been reported from Malawi DCCMS when about 10 users open the form simultaneously. Could there be connections that are multiplying or not closing. Less that 10 connections may be too few to cause a problem. What is your thinking?

![2many connections2](https://user-images.githubusercontent.com/12034121/60772111-3b612080-a0fa-11e9-828b-18e49c33bb1d.jpg)
!

[2019-07-09 06:17] mhabimana opened #544 "Climsoft test database updated with Western Kenya Dataset."
[updated11072019_mariadb_climsoft_test_db_v4.zip](https://github.com/opencdms/Climsoft/files/3381289/updated11072019_mariadb_climsoft_test_db_v4.zip)

@rdstern: Here is the updated test database. I have added the data you shared with me from kenya(Rain,TMax and TMin).
Below is the QC status report for the file with all elements,as you can see there is an addition 0 to the Max and Min temperatures,

[2019-07-09 06:27] mhabimana commented on #535
@patowhiz: We are still waiting your new PR to merge this with #534

[2019-07-09 14:33] isedwards commented on #543
The [default number of connections](https://dev.mysql.com/doc/refman/5.5/en/too-many-connections.html) that MySQL allows is 151.

It's likely that there are places in the Climsoft code that are opening additional connections each time a window is opened, and we never close these connections., so eventually we reach the limit.

If approximately 10 users are using the software, and the software inad

[2019-07-09 14:58] isedwards commented on #543
I've had a quick look at the code for user controls (all files matching: `ucr*.vb`)

`ucrDirectionSpeedFlag.vb` and `ucrValueFlagPeriod.vb` both appear to open a connection to the database and then not close the connection.

This will result in an extra connection remaining open each time one of these user controls is created in a form.

[2019-07-11 14:11] mhabimana opened #545 "Data Elements Units Conversion at Data Entry Level"
Form Daily2 has a provision to enter data for Temperature in **Degree Fahrenheit**( 0F),Rainfall in **Inches**,Cloud Height in **Feet** and visibility in **Yards**; these units were used some years back and probably they might be some Countries with historical data in these units(e.g. Malawi) or Countries which are still using these units.
The Standard Units and default using in Climsoft are Tempe

[2019-07-12 12:11] isedwards commented on #543
@smachua - should we prioritise fixing this quickly and make an update installer that we can share with users next week?

The other pull requests that we have open at the moment (#528, #534 and #537) are more substantial changes that should have more time for testing before they are released, so I suggest we make a 4.1.4 release that just contains this bug fix.

[2019-07-12 14:53] Patowhiz commented on #543
The current commit opens the connection once. We just need to close it when the user closes the application. We also need to have the other places opening connections to use the clsDataConnection class

[2019-07-12 16:46] smachua commented on #543
@isedwards and @Patowhiz I identified the affected connections and fixed the problem. I will make the Pull Request by tomorrow.

[2019-07-17 09:11] mhabimana opened #547 "Flag"
Below letters are commonly used as flag in Climsoft and we should not allow other letters to sail in the system as it is now. @Patowhiz can you restrict the forms to allow only these letters and not all letters as it is the case now in the flag?
Flag letters define in Climsoft:
**M** (Missing), the data value is missing;
**T** (Trace), the data value has been recorded as zero but a small trace was

[2019-07-17 09:21] mhabimana commented on #547
Below letters are commonly used as flag in Climsoft and we should not allow other letters to sail in the system as it is now. @patowhiz can you restrict the forms to allow only these letters and not all letters as it is the case now?
Flag letters define in Climsoft:
**M** (Missing), the data value is missing;
**T** (Trace), the data value has been recorded as zero but a small trace was observed;
*

[2019-07-18 03:56] Patowhiz commented on #547
Yes I can

[2019-07-18 03:58] Patowhiz commented on #498
@mhabimana @smachua in the the current database that I have, the table for hourlywind doesn't have the flag columns, were these intentionally removed? They were there previously

[2019-07-18 04:44] Patowhiz commented on #543
@smachua did you make the changes. I suggest we rely on the current clsDataConnection class for connecting to the database. We also have a clsDataCall class which is acting as our DAO (Data Access Object) layer. You could also use it to get a filled data table, and to do CRUD operations. We have designed it to counter possible SQL injections.

[2019-07-18 05:50] isedwards commented on #543
Samuel has fixed the immediate problems in  #546. I think it is sensible that the initial fix is done in this way with no complications for people who need the main bug fix straight away.

I also agree with updating everything to work with `clsDataCall` going forward, there are a lot of positives to this approach.

[2019-07-18 06:26] mhabimana commented on #498
@Patowhiz:Thanks,Flags columns should be there, 23 columns see attached script.
[form_hourlywind.txt](https://github.com/opencdms/Climsoft/files/3405044/form_hourlywind.txt)

[2019-07-18 07:28] isedwards commented on #498
@Patowhiz - copies of the database creation scripts are always available in [`https://github.com/opencdms/climsoft-database`](https://github.com/opencdms/climsoft-database).

Old versions of the script can also be downloaded from the [releases](https://github.com/opencdms/climsoft-database/releases) section.

[2019-07-18 12:04] smachua commented on #543
@Patowhiz and @isedwards I will look at clsDataCall and see how I can adapt it.

[2019-07-18 12:46] mhabimana commented on #540
@fatsanawo - Was this solved with the new executable/setup shared to you by @smachua or is this issue persists with the new executable/setup? What about the issue #539 ?( related to the connection of more than 8 users?) . Please let us know.

[2019-07-18 13:09] mhabimana commented on #540
Hi Again,Samuel told me that he shared an executable with them (Malawi) that why I wanted to know the progress. I though it will be great to release V4.1.4 after Patrick has done with the improvement of #528 and then combine with yours #534.Regards,Mr.Marcellin HABIMANA | Climsoft Project Coordinator | World Meteorological Organization, Regional Office for Eastern and Southern Africa, Dagoretti Co

[2019-07-18 13:15] isedwards commented on #540
It might take a while before the other work is agreed and ready.

Given there's already an installer out in the wild that fixes this bug we should make it a proper release.

[2019-07-18 13:18] mhabimana commented on #540
Ok,sounds great.

[2019-07-19 03:11] smachua commented on #540
I will make installer for version 4.1.4 and share it with @mhabimana for distribution.

[2019-07-19 06:23] Patowhiz commented on #543
Okay, I'll be on standby. There is also lots of new additions to it in the dev branch. I think you will get the changes after the merging.

[2019-07-19 06:27] Patowhiz commented on #543
@isedwards @smachua with time we could implement the clsDataConnection class to a data connection pool, it will help eliminate the problem of many new connections created against the database. Data Connection Pools enable reusing of existing data connections by different users.

[2019-07-19 08:03] shadrackkibet commented on #523
I think this issue has been fixed.

[2019-07-19 13:52] mhabimana commented on #523
@mwaurahk- Can you please test this and let us know before this is closed? On my side it is working well.

[2019-07-19 14:05] Patowhiz commented on #547
I'm implementing this at the uctTextBox level, which will make any custom textbox be able to validate the flags. I'm hard coding the flags in the application for now but this can be enhanced to read the possible flag values from the database later.

[2019-07-19 14:06] Patowhiz commented on #523
Yes

[2019-07-19 14:26] shadrackkibet commented on #523
So far the issue that I observed with three clients entering the data for the same station is that sometimes the form displays the data that is being entered by another user when they add new. This forces the data entry clerk to adjust the dates which is very annoying. Imagine a case when you have more clients working at the same time. This is a separate issue from above.

[2019-07-22 13:55] Patowhiz opened #548 "Value Flag Period Control"
Currently a user can enter the value and flag  values into the value text box and on pressing enter, the validation will correctly set the values in their respective text boxes. The same also happens for the Direction Speed Flag control. The difference being the Direction Speed Flag control has a control that clearly shows that this combination is possible, Should we do the same for the Value Flag

[2019-07-22 14:30] Patowhiz commented on #523
Yes, we have not yet implemented the double data entry feature in the new data entry forms

[2019-07-22 14:39] Patowhiz opened #549 "Improve the Data Key Entry Forms Dialog"
Currently the data key entry form that contains links to the key entry forms is using data grid control as a means to for the user to access the key entry forms. This form can be improved to use a much better control. This was mentioned as part of the April code sprint.

![key entry forms](https://user-images.githubusercontent.com/21179007/61641379-b2c0b380-aca7-11e9-902a-e969c9e3f398.PNG)

[2019-07-22 14:46] mhabimana commented on #549
@Patowhiz - Yes,this was mentioned in Kitale. Good if you can come up with an alternative option. We will then discuss,compare and select the best option.

[2019-07-22 14:56] mhabimana commented on #523
@patowhiz - This is not double entry but it is the process of entering data for the same station  but different period of time using different Clients (PCs). We need to discuss further how to solve this issue as pointed out by @shadrackkibet

[2019-07-22 15:10] mhabimana commented on #548
@smachua - Can you advise on the best way to deal with wind parameters? and when one of the wind parameter( direction(dd) or speed(ff) is missing what should we have in the flag column?

[2019-07-22 15:24] Patowhiz commented on #523
Oh yes. I think this problem is related to the sequencer. We'll be testing the new implementation to see if this is solved.

[2019-07-22 15:29] Patowhiz commented on #548
@mhabimana  That's a good question and concern, Currently, for the hourly wind form which has this control, we have a way setting the digits for each parameters. The user must enter the exact number of digits as set in the database or in the text boxes shown on the form.

I think for the value flag period control the parameters would just be value and flag. In this case the value can be of any num

[2019-07-22 15:31] Patowhiz commented on #536
@mhabimana by basic charts/plots, you mean in relation to the data products?

[2019-07-22 15:46] Patowhiz opened #550 "Grid view Custom Control"
At the moment we don't have a custom control that can be used to view data entry values in a tabular format.  The current grid being used is a normal VB.NET data grid. This will have to be implemented so that we can reuse the control in the different data entry forms

[2019-07-22 15:49] Patowhiz commented on #535
We now have all the changes committed. The only thing remaining is on solving the conflicts, we should be able to do this quite quickly.

[2019-07-22 16:02] Patowhiz commented on #517
@mhabimana @smachua @isedwards  should this be implemented in in all the data entry forms? If yes, then I suggest we have this option inside what we discussed during the April workshop. An additional button to be introduced in the forms, this button could be label "More Options", then we can have it pop up a custom context menu or a sub-dialog in which it gives such an option and many more. And if

[2019-07-23 07:28] mhabimana commented on #536
@Patowhiz - Yes,Climsoft Version 4.1.4 can produce histograms or Time series charts  as part of the products,graphics (see below):
![image](https://user-images.githubusercontent.com/10340170/61691344-0547b180-ad34-11e9-9d82-289c2ff3926b.png)

![image](https://user-images.githubusercontent.com/10340170/61691367-10024680-ad34-11e9-9892-02e157af5d72.png)

![image](https://user-images.githubuserconten

[2019-07-23 07:33] mhabimana commented on #550
@Patowhiz - Sounds great,this will be done in the next release then.

[2019-07-23 07:35] mhabimana commented on #535
@patowhiz - Great,well noted.

[2019-07-23 07:42] mhabimana commented on #517
@Patowhiz - I leave this to @smachua to elaborate more on this.

[2019-07-23 12:15] Patowhiz commented on #536
Yep. That would be nice.

[2019-07-25 13:44] mhabimana commented on #451
@Patowhiz - Have you looked at this? I can see this problem is still there.

[2019-07-25 14:05] mhabimana commented on #452
This has been fixed  in the latest released V4.1.4 under product category(Data-Product Name;Means).
I have agreed with @smachua to edit this and add the Word **Normal**  in bracket i.e. ** Long Term Means ( Normal)** so that users who are used to this word will also know that Long Term Means is the same as Normal. Of course for the Temperature it will do the average  for the years  but for precipi

[2019-08-07 15:13] #498 closed

[2019-08-09 09:41] mublandy opened #553 "QC for AWS Data"
I am unable to QC AWS data being at the client PC , I am getting the error that the path is not right This operation is possible only on the server. Is it possible to set this operation to be done at the Client side since the server may be located in a different and inaccessible place?

[2019-08-09 11:19] murenziherve opened #554 "Backup on client PC"
Hello all, i am not able to perform backup of data using client PC. i got the error message below showing the issue of path.
![image](https://user-images.githubusercontent.com/53932131/62775560-4962e200-baa8-11e9-8cbf-03dd5a227bdb.png)

[2019-08-09 11:43] smachua commented on #553
@mublandy you can set the folder of your choice where the QC reports will be saved. From Welcome form follow;Tools -> General Settings.

[2019-08-09 11:49] smachua commented on #554
@murenziherve select a valid folder in the server where backup files will be saved.

[2019-08-09 12:31] murenziherve commented on #554
@smachua -Thanks,I want this to be on the Client PC(local machine) because I don't have access to the server.

[2019-08-09 12:46] Iyakaremyevedaste commented on #553
Thanks @smachua . It works. What about backup at the local machine instead of using server?

[2019-08-20 16:00] shadrackkibet commented on #550
This will be great, I am keen to see how the new one will work. I have been used the current grid here ar KMD and seems to be limited in the way it works. It will be good to have improvements in the next version.

[2019-08-20 18:00] shadrackkibet commented on #439
Good to see that this issue has been raised here and at least discussed. I am currently working on my project which involves homogenization of climate records here a KMD. I find metadata information that is available not very reliable especially when it comes to when the station opened or closed. For instance, for the year when the station closed/opened which sometimes do not correspond with the d

[2019-08-20 18:46] shadrackkibet opened #555 "Extracting data - Climate products"
From my experience here at KMD I find this form painful to use. I also discussed this with @mwaurahk . When extracting data for over 30 stations we have to manually type stations identifier on the combo box then select them from a list of many other stations one by one which is a tiresome process. The issue here is to think about how this can be made easy. I thought instead of having a combo box a

[2019-08-21 07:44] mhabimana commented on #555
@shadrackkibet -Thanks,yes,you are right. I suggest the dialog below implemented in the QC be used for product to save time spent in selecting one station and element at a time as you said:
![image](https://user-images.githubusercontent.com/10340170/63412411-5fee2f00-c400-11e9-910f-7d28cd65d963.png)

[2019-08-21 08:01] mhabimana opened #556 "Improvement required on Data entry Forms"
In the current implementation of Data entry forms,it is not possible to select specific stations,elements and period time range to upload into the observationinitial. I have a case of Meteo Rwanda,they are using Climsoft at the outstations and observers here are entering data directly into the  server at HQ since all the stations have got internet and are connected to the server,pointing to the se

[2019-08-21 18:17] smachua commented on #555
@shadrackkibet and @mhabimana thanks for your suggestions on the methods of selecting stations and elements for climate products.
Use of list views as you suggest was the method used in Climsoft Version 3.2. However, some users requested for a change to a way where one can easily view all the selected items put together. The list view had difficulties in viewing the selected items especially when

[2019-08-23 10:50] Patowhiz commented on #556
I can do this

[2019-08-23 10:51] Patowhiz commented on #554
@murenziherve did you create the directory(folder) as stated by @smachua ?

[2019-08-23 10:53] Patowhiz commented on #553
@mublandy did @smachua suggestion fix your issue?

[2019-08-23 10:54] Patowhiz commented on #547
@mhabimana did you test this particular feature? Is it working as expected?

[2019-08-23 10:57] Patowhiz commented on #545
@mhabimana @isedwards @smachua do you have any form design proposition to this?

[2019-08-23 11:02] Patowhiz commented on #540
I think as part of the next release we need to make sure that the other parts of CLIMSOFT use the same data connection object and data access layer that data entry forms use. This can easily be done since we already have a data access layer built in. It is able to return the datatables and possibly datasets that previous code uses. This will help fix the bug of too many connections. @smachua I'm h

[2019-08-23 11:04] Patowhiz commented on #543
@smachua @isedwards @dannyparsons  Now that we have the changes merged in, could we make the whole code repository use the same data access layer that we built as suggested in march code sprint.

[2019-08-23 11:11] Patowhiz commented on #548
@opencdms/climsoft-tag  Now that we have merged the latest changes to the master, I would like to do this design change as part of version 4.1.4. Any early feedback will help.

[2019-08-23 13:07] mhabimana commented on #554
@Patowhiz -Thanks, for the Server-Clients architecture, the current settings is that the **QC** be done at the Client level but the **data backup** at the server. However @smachua said that it is possible to do this operation at the Client level but since this is a sensible operation which can expose the entire data in the database to external users, it is good to leave this operation be done at t

[2019-08-23 13:12] mhabimana commented on #553
@Patowhiz -This was fixed.The issue can now be closed.The issue was due to the QC folder  at the Client PC which was not set properly.

[2019-08-23 13:12] #553 closed

[2019-08-23 13:15] mhabimana commented on #556
@Patowhiz 👍 that great.

[2019-08-23 13:28] mhabimana commented on #547
@Patowhiz -Thanks, It is not working as expected because,it is accepting other letters and yet it **should accept only** mentioned letters defined in the flag table below .
Flag letters define in Climsoft:
M (Missing), the data value is missing;
T (Trace), the data value has been recorded as zero but a small trace was observed;
E (Estimated), the data value is an estimated value rather than an obs

[2019-08-24 08:26] Patowhiz commented on #547
I probably missed something during the merging. I'll create a new PR to solve this.

[2019-08-24 08:30] Patowhiz commented on #554
That's reasonable. So currently the backup happens on the same server but in a different chosen directory? From which the user can manually copy to an external device?

[2019-08-26 12:42] mhabimana opened #557 "A module to keep records of Customers/Stakeholders/Users of Climate data in Climsoft"
Climate data from Climsoft, Climate Data Management System (CDMS) are used by different stakeholders (Researchers, Students, Government and Non-Government institutions, etc.) for different purposes (e.g. Construction (roads, buildings, and bridges), agriculture, tourism and recreation, economic planning, etc.).
Most of the time, NMHSs does not keep records of such important information in a profes

[2019-08-28 09:52] Patowhiz commented on #547
@mhabimana I think we are running different kind of versions. I merged my master with the current open cdms master changes. And the unKnown flags are not allowed by the control.

Can you please check that you have the latest changes merged.

![latest form](https://user-images.githubusercontent.com/21179007/63843367-f8e7f180-c98e-11e9-9dc7-241a4cc5f98f.JPG)

[2019-08-28 11:51] Patowhiz opened #558 "Edit and View Mode For Data Entry Forms"
As mentioned in the April's 2019 workshop, there is a need to have a feature that helps the user know if he is editing an existing record or creating a new one.

Currently when a user selects a new value in the key controls, the form changes the records or navigates to a new record if the record does not exist. This inhibits a user from updating values of the fields that form the composite keys.

[2019-08-28 15:38] shadrackkibet commented on #557
I think this is also related to the recent request by some Kenya Met staff at CLIMAT section. I think this can also help Rainfall section here at KMD where they keep rainfall cards for all stations. Initially, they suggested a separated system which could manage issuing, receiving and keeping of cards in boxes or shelves. Currently, they use Excel sheets to record such information and this can bec

[2019-08-29 09:33] mhabimana commented on #547
@Patowhiz : Thanks,Yes,I can see.I have the latest version of the master and will give you my feedback soon.

[2019-08-29 12:42] mhabimana commented on #547
@Patowhiz : Thanks-This is now working well and can now be closed.

[2019-08-29 12:42] #547 closed

[2019-08-29 13:05] mhabimana commented on #558
@Patowhiz : I am trying to understand this.Yes,you are right,it is not possible to edit elements which form composite keys at the form,it is possible to edit and then click the update to update the existing records by the new records,in the current setting to change the composite keys element,you need to select the view button and change the composite keys in the edit mode.

[2019-08-29 14:36] Patowhiz commented on #558
Yes, currently you can only change the key field in the datagrid view, which you access when you click the View button.
I'm thinking a user might want to just edit it in the form itself. Assuming I have enter records for the form2daily then I realise I selected the wrong station, as a user I would want to change the station . In this case if I'm on edit mode then changes to the station control won

[2019-08-29 14:43] mhabimana commented on #558
@Patowhiz :Sounds like a good idea.

[2019-09-02 10:42] maxwellfundi commented on #558
I agree it is easier to have the user edit everything on the form and saves a bit of time  for the user. Additionally, there is a huge chance of error whilst typing on the datagrid- its possible that a station ID like - 61008906 could be 61O08906 which could actually cause a bug.

However we need the user to be able to know the different modes here. I wonder if we have a switch on the forms, say a

[2019-09-02 12:23] Patowhiz commented on #549
@smachua you changed control used in formDataForms from grid to listview? I was not aware of this change and the issue related to it

[2019-09-02 14:18] smachua commented on #549
@Patowhiz it has always been a listview. May be you have never opened it before.

[2019-09-02 14:48] mhabimana commented on #558
@Patowhiz @maxwellfundi : Sounds very interesting.

[2019-09-02 15:51] Patowhiz opened #559 "Data Call Enhancement"
Currently the DataCall class which we use for accessing the database cannot pick the columns of type TEXT from mysql.

This makes it throw a bug of wrong input string format when you try to update the database through the data adapter

[2019-09-02 15:59] Patowhiz opened #560 "Data Entry Forms Settings Activation"
The current form for selecting the forms which should be active in data entry is reading and writing to the database directly instead of using the DAO which we have built. This could lead to future bug s when direct access to the database connections is restricted.

<img width="634" alt="dataforms" src="https://user-images.githubusercontent.com/21179007/64125867-419b1280-cdb4-11e9-9974-0163123c8a1

[2019-09-03 07:57] #559 closed

[2019-09-03 08:05] #560 closed

[2019-09-03 08:06] #549 closed

[2019-09-03 08:09] Patowhiz commented on #548
@mhabimana what are your thoughts on this?

[2019-09-03 09:59] mhabimana commented on #548
@Patowhiz : thanks, not sure if @smachua got the chance to look at this issue. We will need his advice on this.

[2019-09-03 11:14] maxwellfundi commented on #548
@Patowhiz  I think I understand your concern here. However from my experience, I dont see why we need to add that on our ucrVFP. However, if we were to have proper consistency across the forms, then i see a valid reason why we might need to edit the controls. @smachua  What do you think about this?

[2019-09-05 12:05] mhabimana opened #565 "Duplication of Data entry Forms"
@Patowhiz : Please can you check why duplication of the data entry forms during data form selection (Administration-Data forms) is taking effect? The system should be able to check if the data entry form is already selected and skip this instead of duplicating(see below):
![image](https://user-images.githubusercontent.com/10340170/64340321-8ad6a680-cfee-11e9-82c2-286f816615ff.png)

[2019-09-05 17:01] smachua commented on #548
@Patowhiz and @mhabimana I have been trying to understand the concerns here. I will try discussing it with Marcellin when we meet. But note that we have always treated this form differently from others because:
(i) It captures data where the 2 fields are recorded asa  single string in the METAR book
(ii) It's a key entry for wind data only where accumulated values are not possible hence no Period

[2019-09-08 17:16] Iyakaremyevedaste commented on #556
@Patowhiz how far ? We are currently receiving huge data in forms on daily basis. That option is highly needed for us to easily load data in obsinitial and perform QC as well.  Please we urgently need that option.  Thank you

[2019-09-08 17:27] Iyakaremyevedaste opened #566 "Add inventory statistics in Climsoft V4.1.4"
Climsoft V3 used to have an option of data inventory statistics. Is it possible to add this option in V4? Inventory is needed for the purpose of reporting e.g data digitized every month, year by station and by parameter/element.

[2019-09-09 07:48] smachua commented on #566
@Iyakaremyevedaste the current inventory products is likely to answer all those questions you have raised. Otherwise describe exactly what it lacks and we shall how to improve on it.

[2019-09-09 08:43] Iyakaremyevedaste commented on #566
@smachua in the current inventory products there is only inventory gap and it needs small improvement because it considers each month to have 31 days. The inventory statistics I am talking about is to obtain summary of existing data and data expected to be in database since the station started for each station and element.

[2019-09-09 08:50] smachua commented on #566
@Iyakaremyevedaste but do you mean summary in terms of percentages or number of records (observations)?

[2019-09-09 09:03] Iyakaremyevedaste commented on #566
summary in terms of number of observations.
Existing summary shows total missing records per station per element. Just on those graph add one bar chart showing summary of missing and existing observations in DB.

![inv](https://user-images.githubusercontent.com/44503727/64517482-b7413a00-d2f0-11e9-841c-9b4a15a9d1ee.JPG)

[2019-09-09 09:15] smachua commented on #566
@Iyakaremyevedaste ok we're going to see how those existing graphical outputs can be improved without making them look ambiguous and then discuss with the team. But thanks for your continuous contributions.

[2019-09-09 09:26] Patowhiz commented on #548
@smachua I'm talking about the form2Daily. Not the hourly wind.

[2019-09-09 09:29] Patowhiz commented on #548
The hourlywind control is well designed. I have no issue with it. It's the other forms that I have an issue with cause they are somehow not consistent with the hourly wind. I'm happy to discuss this over skype. Basically I'm thinking of adding a textbox that will take in the value and the flag. Then on press enter, the value is picked and the flag, they are then put into their respective textboxes

[2019-09-09 09:41] mhabimana commented on #548
@Patowhiz :There is still a problem on Form Hourlywind,flag values( e.g.missing(M) are saved in the wrong place in the database table for this form and yet they should be saved under the space reserved for flags. Check this please.

[2019-09-09 09:51] #565 closed

[2019-09-09 10:18] Patowhiz commented on #548
I'll check and create another issue on that. It's entirely different from this issue.

[2019-09-09 10:21] mhabimana opened #569 "Capturing Future date data"
@Patowhiz : All data entry forms were set to not allow entering data for future dates sometimes back but it seems this is not working at the moment. Can you please check this?

[2019-09-09 10:22] mhabimana commented on #548
@Patowhiz :Noted.

[2019-09-09 11:37] Patowhiz commented on #556
This will be available in the next release.
@mhabimana what's your suggestion on the new form design? I think we will have to bring on board @smachua

[2019-09-09 12:22] mhabimana commented on #556
@Patowhiz : I don't think the design will change but my view is when the **upload** button is clicked it will open a dialog like the one below where user specify the stations,elements and the range  of data to be uploaded into observationinitial instead of upload all the data in the form including what were already existing in the observationinitial:
![image](https://user-images.githubusercontent.

[2019-09-09 13:31] mhabimana commented on #548
@Patowhiz : I think,I get now what you mean. Now what would be the benefit of the implementation you are suggesting here ''_Basically I'm thinking of adding a textbox that will take in the value and the flag. Then on press enter, the value is picked and the flag, they are then put into their respective textboxes just like the way it's done in the hourly wind_''  I think it will be the same because

[2019-09-09 13:51] mhabimana opened #570 "Mixed up wind data and flag- Form hourlywind"
@Patowhiz : as I mentioned earlier, data and flags are mixed up in the database table for this form hourlywind (see below): The first text box (ddff) column is how I have entered data in the form and the red color is how data were stored in the database:As you can see,some values for ff are stored in flag and vice-versa
![image](https://user-images.githubusercontent.com/10340170/64536615-123f5500-

[2019-09-09 14:25] Patowhiz commented on #548
The main advantage is the consistency that comes with it. The user gets to see how he/she exactly entered the values. And also the user gets instant feedback as to how the software picked the respective values.

And we can explicitly label the new textbox as VF , meaning it takes in value and flag. Then reserve the other 2 explicitly for value and flag.

Then when we load values from the database,

[2019-09-09 14:28] Patowhiz commented on #548
@mhabimana yes, at the moment, to enter the flag, we type it together with the value in the value textbox. Then it gets separated once detected. I'm proposing to retain the same functionality by adding a new textbox besides it which does this. Then values will be picked and assigned to the value and flag textboxes appropriately. The main difference being the user still gets to see the concatenated

[2019-09-09 14:33] mhabimana commented on #548
@Patowhiz : sound good  to me.

[2019-09-09 16:39] smachua commented on #548
@Patowhiz if I got you well this time I understand you mean to add an extra column of text boxes for flags in addition to the existing one. If that is the case then the form won't appear good. Note that unlike in the form for hourly wind where there is always 2 concatenated values, the occurrence of a flag isn't frequent hence the added text boxes will be empty most of time.
Do you intend to have

[2019-09-09 16:51] smachua commented on #556
I agree with @mhabimana but the dialog to use for selecting stations, elements and period should be designed like this:

![image](https://user-images.githubusercontent.com/12034121/64550031-ad442900-d33a-11e9-8783-e7e96ea2454f.png)

[2019-09-10 07:09] mhabimana opened #571 "@smachua - do you have the same problem with the `config.inf` file? The file can usually only be editted by a Winsows administrator because it is in the Program Files folder. What would you do in that situation?"
Good you mentioned this because this is also an other tricky part during the installation  of climsoft because, during the installation,you have to go to C:\Program Files (x86)\ClimsoftV4 and right click,security and give permission to the current user,otherwise,this user will not have access to resources in this path.

[2019-09-10 07:12] #571 closed

[2019-09-10 08:59] #554 closed

[2019-09-10 09:03] mhabimana commented on #544
@rdstern: This can now be closed since western Kenya data were added to the test database.Unless you are not yet happy with the content of the test database.

[2019-09-10 13:10] mhabimana commented on #538
@maxwellfundi :This has been fixed and can now be closed.

[2019-09-10 13:15] Patowhiz commented on #538
@mhabimana do we have a PR that fixed this issue? Or how was the bug fixed? I'm interested what might have caused this cause I did not get this bug when I was testing...

[2019-09-10 13:20] mhabimana commented on #538
@Patowhiz :This bug was raised by @maxwellfundi while on mission in Malawi and was addressed by @smachua sometimes back.

[2019-09-10 13:23] isedwards commented on #538
Do we know which PR solved the issue?  Usually we would add a reference before closing so that anyone (even people outside the team) can satisfy themselves with the full story of what has happened.

[2019-09-10 13:29] mhabimana commented on #538
@isedwards: I don't remember which PR solved this but I am sure the bug was fixed in one of the PR @smachua issued. May be we need to investigate which PR was this.

[2019-09-10 13:37] isedwards commented on #538
@maxwellfundi are you happy that this is fixed?

In future we should try to always get PRs to name the issue(s) that they fix so that rhe issues close automatically and have a reference.

[2019-09-10 13:43] mhabimana commented on #569
@Patowhiz :I think the data forms in the dev branch merged recently were behind the fdata entry forms in the master because some of the features like the function to prevent capturing future date data got lost but if you look at the released v4.1.4 this is working well. I don't really understand what went wrong.

[2019-09-10 17:09] smachua commented on #538
It was fixed through PR #542. There was a recordset that was not refreshing.

[2019-09-11 04:31] rdstern commented on #544
@mhabimana it is great that this is now added.  There are further actions, particularly James Musyoka is instigating steps to update the data as the most recent records are to 2013.  And the documentation for Climsoft could well (later) include mention of these data, and perhaps (like Clicom before it) have a special tutorial guide.

You may wish to discuss what's next in the forthcoming Climsoft

[2019-09-11 08:26] maxwellfundi commented on #544
great, closing this now

[2019-09-11 10:52] Patowhiz commented on #538
Thank you that was helpful

[2019-09-12 11:34] smachua opened #574 "Issues on the revised key entry forms"
@Patowhiz and @maxwellfundi thanks for the work done on revising the key entry forms. However, they have issues that are making them unusable. See the list below and have those issues addressed.

1. Key Entry Forms List
    a.	Display adjustment removed from previous code. Had been designed to have the dialog
        height adjust according to the number of forms selected without any empty row sho

[2019-09-13 08:58] smachua commented on #574
@Patowhiz what I meant by 'empty rows' is in the view of Climsoft operators but not in terms of data.

In many cases this dialog is used by data operators who have been hired for key entry only. They may not get trained on any other Climsoft operations because they are casuals. To ensure they always select the right form a design that avoids scrolling was adopted in case the listed forms are many.

[2019-09-14 14:52] Patowhiz commented on #574
@smachua the changes I made were reviewed and merged by @mhabimana, I wasn't aware of the feature that you have stated above.

For clarity, so the form changes it's height based on the number of items in the listview? If they are 20, it adjusts to show all the 20 instead of the user scrolling to see the 20th item? If they are say, 3, it reduces its height to accommodate the 3?

I changed the desig

[2019-09-16 16:14] isedwards opened #576 "Version 5 - data model changes and roadmap"
Climsoft version 5 is intended to have a modified data model in order to support more features of the [CDMS Specifications](https://library.wmo.int/index.php?lvl=notice_display&id=16300). However, currently we don't have funding for the team to work on this.

I'm intending to modify the [Climsoft roadmap](https://github.com/opencdms/Climsoft/wiki/Climsoft-Roadmap) so that:
- Version 4.2 is release

[2019-09-20 09:15] isedwards opened #580 "frmAction and frmDataOutpt"
When I come across things that look like they are no longer being used I'll raise an issue to discuss before removing...

I don't think either `frmAction` or `frmDataOutpt` are being used. Can they be deleted?

[2019-09-30 13:39] mhabimana opened #581 "Updade QC Progress Bar"
A progress bar is needed during the QC update process to show the progress of this operation.

[2019-10-02 06:07] smachua commented on #574
@Patowhiz and @maxwellfundi we hope the issues listed above will be resolved soon. Some key entry forms could not be used after the changes were merged. At the same time we want to compile a new setup so that users can benefit from improvements made in other areas. May be that particular merging can be reverted so that the forms can be used in the earlier state while you are working on those issue

[2019-10-04 09:56] mhabimana commented on #574
@Patrick - Remember to address as well the issue of future dates on all the data entry forms. In case a future date is typed in the form,the form become inactive,this is how it used to work.

[2019-10-21 06:50] mhabimana commented on #574
@Patowhiz - Any progress in addressing above mentioned issues( issue#574). We are waiting for you to address these issues to be able to release a new setup addressing some of the bugs and improvement made so far on Climsoft. Note that most of the data entry forms which are in the master now are not stable and cannot be used in operation. If you are not ready to address these, kindly let me know so

[2019-10-22 10:57] isedwards opened #582 "New Home 🎉"
@opencdms/climsoft
@bruban

When the Climsoft code was first added to GitHub.com in 2015, the `climsoft` name was not available to register.

Therefore we added the repository to the `github.com/opencdms` organisation instead.

Last week, GitHub released the `climsoft` name because it had never been used. We have now registered it for the project.

We're intending to move Climsoft to this new home

[2019-10-25 12:57] Patowhiz opened #583 "Key Entry Forms List Automatic Height Adjustment"
As stated in issue #574  and in [comment ](https://github.com/opencdms/Climsoft/issues/574#issuecomment-531159093) by @smachua

The form responsible for showing data entry forms has to be enhanced to have this functionality.

[2019-10-25 14:18] Patowhiz opened #585 "Hourly Data Form Entry"
This issue relates to issue #574
Based on @smachua observations

These bugs need to be fixed.

[2019-10-25 19:42] isedwards commented on #582
Climsoft has now moved from `opencdms/Climsoft` to `climsoft/Climsoft` on GitHub.

Everything should continue to work, with all links being forwarded, but let me know if you notice any problems.

[2019-10-26 10:12] Patowhiz commented on #582
@isedwards I think the climsoft teams didn't move. I can't tag the climsoft teams in the pull requests, I can only tag individuals

[2019-10-26 10:15] Patowhiz commented on #582
What I mean is the following tags don't work
@opencdms/climsoft-developers
@climsoft/climsoft-developers
@Climsoft/climsoft-developers

[2019-10-26 14:29] mulamalutta opened #588 "Is it possible in new climsoft at form entry also display paper record image"

[2019-10-26 14:29] #588 closed

[2019-10-27 12:57] isedwards commented on #582
[code]
When Climsoft moved to it's new home at https://github.com/climsoft/Climsoft, GitHub did not automatically enroll people as members of the new `climsoft` organisation.

You should receive an email from GitHub inviting you to join the new organisation.

Could you please check with other developers that they have managed to join and let us know if there are any problems.

[2019-10-29 09:07] Patowhiz commented on #582
I got the invite from you. I managed to join.

[2019-10-29 11:41] Patowhiz opened #589 "Hourly Wind Date Entry Form"
As mentioned in issue #574.

This form needs the bugs to be  fixed

[2019-10-29 12:46] mhabimana commented on #589
@Patowhiz - There is still some issues here because: wind Direction(dd) correspond to 112 in the underlying table and wind speed(ff) correspond to 111. Can you please adjust accordingly? Missing values are suppose to match with ddFlag.

[2019-10-29 13:42] mhabimana commented on #574
@Patowhiz - I am not sure if you have address Point 3 at the above regarding QC check at the key entry form: e.g when you type the value,higher or lower than the limit,what will be the response?Currently,there is no response,unless the change of the color,and you get stack at the text box unless you move the cursor the the next text box is when the check is done. In real situation,when you type a

[2019-10-29 14:04] Patowhiz commented on #589
Thank you @mhabimana . That was indeed a serious bug in code

[2019-10-29 14:29] mhabimana commented on #589
@Patowhiz 👍 It is now working well

[2019-10-29 14:56] Patowhiz commented on #574
@mhabimana I have fixed that in my last commit. Check PR #586 . The changes made in that PR will be available to other forms once merged

[2019-10-29 15:08] mhabimana commented on #574
@Patowhiz 👍

[2019-10-31 13:20] mhabimana commented on #239
@rdstern - Just to follow up on this and mention that I have been working remotely with Ananda (Sri Lanka) and he managed to install the latest Climsoft version 4 and imported their data successfully  on his own from the previous version  of Climsoft (V3) to Climsoft version 4.

[2019-11-04 14:58] #585 closed

[2019-11-04 14:59] #496 closed

[2019-11-04 15:00] #589 closed

[2019-11-04 15:00] #500 closed

[2019-11-04 15:01] #583 closed

[2019-11-05 15:00] smachua commented on #574
@Patowhiz I looked at the merged code and found that the issues on the key entry forms have been well addressed albeit few areas. Below are my observations on the current status of the forms. See if you can address the few points I have raised and consider the recommendations I have made on forms modifications.

1.	Key Entry Forms List
The grid list adjusts according to the number of selected form

[2019-11-06 21:48] isedwards opened #595 "Station groups and aggregate/derived data"
WMO #1131 Section 4.5 is dedicated to derived climate data

4.2.1 Climate database: "More advanced CDMSs may manage the data in a series of related databases rather than in a single database."

4.5.2 Gridded spatial distribution of observations *(related to discussions on gridded data #458)* and 4.5.2 Numerical model outputs

5.3.3 Data monitoring - "This component monitors ingested and derived ob

[2019-11-07 09:56] mhabimana commented on #574
@Patowhiz :This issue raised by @smachua is still there:
2d. Form_hourly
• It doesn’t upload records with” M” Flag (i.e. Missing)

[2019-11-19 13:49] mhabimana commented on #417
@Patowhiz :The default observation hour is set in the general settings (under the Tool menu),this value appeared when the form Daily2 is loading and may differ from country to country (e.g Mozambique Met the default is set to 9, Rwanda,Kenya,etc.:06. It looks like this is not done within the codes which does not give users flexibility to change this. It is good to set this in the general settings

[2019-11-19 16:09] Patowhiz commented on #417
Okay I will have the control read form the settings I didn't know about this

[2019-11-20 06:11] mhabimana commented on #417
@Patowhiz :Thanks,How is the progress with #574 ?

[2019-12-03 07:36] Patowhiz commented on #570
@mhabimana was this solved?

[2019-12-03 09:36] mhabimana commented on #570
@Patowhiz -Thanks, This was solved partially because though missing values(M) are present in the form hourly wind table,they are not being transferred into the observationinitial table during the upload process. I will close this issue once you solve this. On all the data entry forms,Missing value(M) should not be skipped during the upload process but should be transferred as well in the observati

[2019-12-05 17:24] smachua commented on #570
@mhabimana I can deal with this issue of uploading data from forms. I will work it out together with the pending issue #533 where you requested if uploading can be done on some selected records. Both issues are somehow related.

[2019-12-06 06:21] mhabimana commented on #570
@smachua 👍,noted.

[2019-12-17 07:20] Fortunata commented on #570
I am reporting on the issue of limits on the key entry form but I dont know its number. When lower and upper limits are set then during key entry  the value above the limit is encountered and then confirmed by the data entrants that it is a true value V4 Climsoft does not allow it to pass as it was in earlier version. This slows down the work practically because the data manager has to sstop the p

[2019-12-17 07:50] smachua commented on #570
@Fortunata you're right. The values that exceeds the limits on key entry are not always wrong and should not stop any operation including uploading the data from the form. That has always been the practice.

@Patowhiz note that all that is required is a message and flagging them with a different color for attention. NOT stopping anything.

[2019-12-17 09:08] mhabimana opened #596 "Upper and Lower Limits problem"
Discussions on the Limits raised by @Fortunata under issue #570 can continue here.

[2019-12-18 06:36] Patowhiz commented on #569
This has been fixed with the last changes. Could you kindly test the mergings we made

[2019-12-18 06:46] Patowhiz commented on #570
@Fortunata @mhabimana I wasn't aware of this. We intentionally disabled data that does not pass all the validations. So basically what you are saying is, data that is beyond it's upper or lower limit is not necessarily wrong data? If that's the case then it's understandable. We will have to change the validation process to counter this

[2019-12-18 06:49] Patowhiz commented on #533
That is what it's currently doing except that, It check if it exists and if it does, calls an update operation. Every record is checked if it exists, then an update or an insert is done based on the results. This helps with data integrity. Before, what was happening, the upload was doing an INSERT IGNORE, which basically ignores the cimmiting of existing records into the database.

Though I agree

[2019-12-18 07:21] mhabimana commented on #570
@Patowhiz - You are right. But the message and the flag colours should be there to prompt data clerks to re-check again this value and correct if possible before validation.

[2019-12-18 07:45] smachua commented on #569
@Patowhiz thanks. We're going to test it then update you. But you may consider uploading of 'Period' values in form_daily2 if you haven't.

[2019-12-18 09:12] mhabimana commented on #569
@Patowhiz - saving period values is not yet done on Daily2 form

[2019-12-19 06:48] mhabimana commented on #556
It was noted in yesterday's meeting that further discussion on the implementation of this option need to  continue until the final decision. Therefore,I call upon all of you to continue further discussion on this issue here instead of creating a new issue.

[2020-01-16 12:15] mhabimana commented on #596
@smachua : was this issue solved? you mentioned in #570 that you will address it.

[2020-01-16 20:09] smachua commented on #596
@mhabimana the #533 was being addressed by @Patowhiz unless you want to take it up. #570  has been resolved.

[2020-01-20 19:41] smachua commented on #556
I intend to resolve this issue by improving the upload dialog to enable users select records they wish to upload. In particular INAM expressed great need for such functionality in their current data digitization project.

[2020-01-21 08:39] dannyparsons commented on #475
We have been working on a proposal version 5 database model that builds on these ideas, first discussed in the Climsoft meeting in March 2019 as a way to work towards compliance with the WMO CDMS specifications.
The proposal is now documented on [the wiki](https://github.com/climsoft/Climsoft/wiki/Climsoft-Version-5-database-model-proposal). (Please let me know if there is a more appropriate place

[2020-01-23 13:55] mhabimana commented on #596
@smachua, - Any progress on this issue of allowing reasonable values above or below the limits to sail in?

[2020-01-23 13:58] mhabimana commented on #596
@Patowhiz - Are you doing something on the Data entry forms? or you have exhausted all the issues raised.

[2020-01-23 14:33] mhabimana commented on #574
@Patowhiz - The form_synoptic_RA1 need further review.
E.g: Enabling or disabling some text boxes for some hours (E.g:Grass Min Temp and Precip-24Hr text boxes should be enabled for 06 Hour,TMax enabled at 06 and 18 Hour and TMin enabled at 06 Hour,TMin disabled at 18 Hours, disable both TMax and TMin at 0 Hour).

[2020-01-23 15:19] mhabimana commented on #574
@Patowhiz -Ignore my previous msg on the synoptic form.

[2020-01-23 15:44] mhabimana commented on #574
@Patowhiz -The issue which need to be revised on the synoptic from_2_ra1 is the the transfer of Flags values (e.g.M) in the observationinitial table. These are not being transferred when the upload button is clicked and yet they should be.

[2020-01-23 17:03] smachua commented on #581
@mhabimana I will work on it.

[2020-01-24 07:29] mhabimana commented on #581
@smachua -Noted.

[2020-01-24 11:18] mhabimana commented on #574
@Patowhiz : Form Hourlywind does not transfer flag values as well into obsinitial table.

[2020-01-24 20:14] smachua opened #607 "Climsoft version 4.1.5"
Due to the changes done on version 4.1.4 and a number of reported bugs having been addressed I find it necessary to upgrade to version 4.1.5. When the language translation gets included then we shall upgrade to version 4.2.

[2020-02-17 13:04] mhabimana commented on #596
This issue need more attention to make sure,data entry operators are not restricted to enter data which are acceptable. I am suggesting that a warning message and the colour should be clear enough to attract the attention  of the data entry operators that the value being entered is above or below the limit set by the administrator before accepting this and if he/she is sure that particular data is

[2020-02-17 13:55] Steve-Palmer commented on #596
Perhaps I am being cynical about the dedication of data entry operators, but I suggest that entries outside the limits set by the administrator must at least require a second click - e.g. a dialogue which says "The form you are entering contains values outside the range set by the metadata manager. Are you sure the values you have entered are correct?"
Also ideally keying YES should generate a mes

[2020-02-24 10:15] fmucyo opened #610 "Daily data duplication"
Dear Team,

We are facing an issue with daily rainfall data. The observed data seems to be doubling and I was wondering whether when different users upload the same data from observationinitial to observationfinal, can they be duplicated or doubling?. What could be the reason? This is also making monthly values to double compared to the observed data. kindly see the attached file for your consider

[2020-02-24 10:53] mhabimana commented on #610
@fmucyo - Thanks for your post.We are going to investigate and come back to you very soon.

[2020-02-24 10:54] smachua commented on #610
@mhabimana an had found that you are using the same element code for daily total rainfall and hourly total rainfall hence the d

[2020-02-24 11:43] fmucyo commented on #610
@smachua this has been solved. we managed to separate them but the issue is on daily data that seem to be doubling when extracted. that is where we need assistance

[2020-02-24 11:53] smachua commented on #610
@mhabimana is going to organize an online discussion so that the issue can be fully resolved.

[2020-02-24 11:58] fmucyo commented on #610
Thank you!

[2020-02-29 14:07] #582 closed

[2020-03-13 07:28] mhabimana opened #611 "Upgrade from Climsoft Version 4.1.4 to Climsoft Version 4.1.5 Issue"
Currently there is a problem being faced by our users(case of Rwanda and Uganda Met Services) when upgrading to Climsoft v4.1.5 from the previous version 4.1.4,  I am not sure why this is happing. I am suspecting that this may be due to revised Data entry forms or the move from Entity Framework  to non entity Framework in V4.1.5.  Apparently,for a fresh installation, V4.1.5 is working well ,the is

[2020-03-13 08:06] smachua commented on #611
@mhabimana to put it correctly the problem is at the opening of key entry forms after the last revision by Patrick. They fail to connect to the tables hence can't populate. All other functions in V4.1.5 are working ok. But surprisingly not all users are experiencing that problem. Mozambique, ICPAC and and my machine are opening the forms perfectly. I have been trying to find out if the problem is

[2020-03-13 08:43] isedwards commented on #611
It's possible that this may be a database-specific problem rather than a machine-specific problem.

Some people may still be connecting to an older version 4.1 database, whilst others have ran the SQL update script, or installed a later version of Climsoft and therefore have the latest version.

For testing:
- Version 4.1 SQL can be found [here](https://github.com/climsoft/climsoft-database/releas

[2020-03-16 03:26] isedwards commented on #611
@Patowhiz @maxwellfundi - Does anyone have any time to look at this over the next few days?

We were discussing making a v4.2 release to include the French language translation work for Marcellin's visit to Haiti this week.

[2020-03-24 10:05] Patowhiz commented on #611
I'm looking into this

[2020-04-27 08:51] mhabimana commented on #611
@Patowhiz : Have you found something?, @smachua : Have you checked if the database for Rwanda and Uganda is updated and contains all the latest database features (V4.1.1)?

[2020-04-27 10:18] mhabimana commented on #596
@Patowhiz :This issue is still pending and need your attention.
The current situation is that once a value entered via the data entry forms is above or below the limit set in the system by the system administrator or database manager (under metadata element), this can not be accepted  by the system and the person entering data get stuck and can not move forward unless the limits are changed first

[2020-04-28 09:36] smachua commented on #611
@mhabimana, in Rwanda they reverted back to V4.1.1. Uganda wanted to do the same but the country lock down caught with them before doing it. I may revert to the earlier version of the forms since there were other improvements in V4.2 that will benefit the users.

[2020-04-28 13:06] mhabimana opened #613 "Enhancement of data selection dialog under Climate Products"
![image](https://user-images.githubusercontent.com/10340170/80488414-f64afb00-8966-11ea-9819-cdcd71ab93d1.png)
The above dialog need enhancement to enable users to query data very quickly using this dialog. Currently the drop down list is used to select stations and elements one at time, the proposed change is to enable as well selection of station and element using their code, alternatively, list

[2020-04-28 16:31] smachua commented on #529
@mhabimana, I will work on it.

[2020-04-28 16:37] smachua commented on #613
@mhabimana, I will work on it to allow selection of stations and elements by typing station ID and element ID respectively.

[2020-04-29 10:36] smachua commented on #613
@mhabimana I will implement it in a way that Stations and Elements will be selected without doing so much scrolling.

[2020-04-29 10:43] mhabimana commented on #613
@smachua 👍 Sounds great.

[2020-04-29 13:22] Iyakaremyevedaste commented on #613
@smachua that's great! It will save our time.

[2020-04-30 20:14] Patowhiz commented on #611
@mhabimana @smachua I checked this. It works fine. All the connections work fine too. Can you share their database script file? That could be the  reason I think, because we reviewed the forms before merging.  It can't be the entity framework migration because it's no longer used anywhere in the code. I think there could be an issue when running the migration script files, again I can only check t

[2020-05-01 10:12] smachua commented on #611
@Patowhiz thanks for your suggestions. I will further investigate whether Rwanda and Uganda updated their databases with the upgrade script. It was made available to them as soon as it was created. When they resume work we shall do it together then report any issues that may arise.

Meanwhile I suggest that you implement error handling exceptions in most functions and with appropriate error messag

[2020-05-02 06:38] mwaurahk commented on #613
@mhabimana ,@smachua...this will greatly ease our operations.There's also the inability to calculate rainny days..otherwise thank you for your continued efforts to improve climsoft. Asante.

[2020-05-05 11:27] smachua commented on #613
@mhabimana, resolved through PR #614.

[2020-05-05 11:32] smachua commented on #529
@mhabimana, resolved through PR #613

[2020-05-07 10:05] isedwards commented on #611
@mhabimana - do you know whether it may be possible to get a copy of the current Rwanda database schema by connecting remotely from outside the office?

They can do a database dump with the `-d` or `--no-data` option to return just the table definitions without any data, this would be ideal for investigating.

[code]

[2020-05-07 10:29] mhabimana commented on #611
@isedwards - Thanks, Yesterday myself and @smachua had a Skype +Teamviewer with
Meteo Rwanda and they managed to upgrade to V4.1.6 without any problem. So,I don't understand what went wrong last time. Since this issue has been resolved,is it still important to get the DB schema?

[2020-05-07 10:41] isedwards commented on #611
Well done. Good to hear that it went well.

Did you run the update scripts on the database?  If yes, we think this may be what was missing (which would explain why it is working now without problems).

I think now that it is working there is no need to get a copy of their schema.

[2020-05-07 10:45] mhabimana commented on #611
@isedwards - Thanks and noted. We did not touched on the DB,We only installed V4.1.6 upgrade and all worked well.

[2020-05-07 11:57] Patowhiz commented on #611
In addition,  it will be much helpful in future to have the update script files done through github as an issue and PR. So that the team can test before merging. That makes it easier to trace the bugs.
@isedwards @mhabimana @smachua  in regards to the database schema,  I'm assuming the Rwanda schema is the same as the ones we have on github? If that's so then there's is no need to have, if not we

[2020-05-07 12:12] mhabimana commented on #611
@Patowhiz -Thanks,sounds like a good idea to have the script done through GitHub in future.
The schema in Rwanda is the same as the one on Github,i.e: two scripts (mariadb_climsoft_db_v4_all.sql and mariadb_climsoft_db_v4_upgrade.sql).

[2020-05-07 12:15] mhabimana commented on #596
@Patowhiz - Have you got the chance to look at this.

[2020-05-07 12:19] mhabimana commented on #517
@smachua - This needs your attention.

[2020-05-07 12:22] mhabimana commented on #529
This can now be closed.

[2020-05-07 12:22] #529 closed

[2020-05-07 12:23] mhabimana commented on #613
This can now be closed.

[2020-05-07 12:23] #613 closed

[2020-05-07 14:41] smachua commented on #611
@Patowhiz whenever I update the database schema I merge it into the GitHub. Also whenever I compile the Climsoft upgrade setup I do include the upgrade database script file for users to run it. I am on the opinion that future database updates be done through the code so that we eliminate the chance of being skipped or done wrongly by the users.

I am still investigating what could have happened in

[2020-05-09 19:02] Iyakaremyevedaste commented on #529
@smachua thanks for adding rainy days as part of the data products. I still need some clarification on how the algorithm works. For example, climatologically, we define a rainy day as any day recorded >=1mm. The threshold we define there takes what sign (>=, >, etc.)? If it's possible, a sign option can be added. Thanks for the improvements being done in our DB

[2020-05-09 19:27] Iyakaremyevedaste commented on #531
@smachua @Patowhiz @mhabimana how far with this issue? This issue needs more attention because now it is crucial. Our DB is being used by our staff at upcountry offices and data rescue team. You can imagine how key entry forms are busy! The moment you finish data entry for one station on a particular month, you find the station name has changed because another person is doing a key entry for that

[2020-05-11 08:11] smachua commented on #531
@Iyakaremyevedaste using Climsoft V4.1.5 and V4.1.6 you can avoid that problem. Data entry can be done at the local server at the stations then get exported to HQ where it will be imported into the same key entry form in the central server. These operations are achieved through the View button in any of the key entry form. It has been tried in Mozambique and @mhabimana can take you through that pr

[2020-05-11 10:51] mhabimana commented on #417
@Patowhiz - This has not yet been addressed.

[2020-05-11 11:10] mhabimana opened #615 "Sequencer Daily Form is not looping"
@Patowhiz : In this data entry form, the sequencer is stopping at the last element set in the sequencer list table (in my case at element 17) i.e; when the Add New command is clicked,the next element is called until it reaches at the last element set in the table where it stop completely. This should not suppose to stop but should continue to the first element set in the sequencer table (in my cas

[2020-05-13 11:21] Patowhiz commented on #596
@mhabimana this has been solved in PR #616

[2020-05-13 11:23] Patowhiz commented on #570
@mhabimana this has been solved in PR #616

[2020-05-13 11:26] smachua commented on #570
@mhabimana will review and give an update.

[2020-05-13 11:33] Patowhiz commented on #417
@mhabimana this default setting does it only apply to the tmax, tmin and precip elements ? The description appears to suggest so.

If that's so I may have to hardcode these values, cause at the moment we have no way of linking the settings values with elements in the database. Hardcoding them will only work when the database installed explicitly has element codes that are hardcoded in the software

[2020-05-13 11:35] mhabimana commented on #596
@Patowhiz -Thanks for addressing this issue,I can see the values higher/lower that the limit being coloured,this is great but there is no warning message ( this can be a message box) which is also very important to attract the attention of the key entry operator.

[2020-05-13 11:40] mhabimana commented on #417
@Patowhiz - Thanks,is it possible to link this to the general settings ,were other settings in Climsoft are made?.In this case,the administrator may decide to set the default observation hour to whether 06 or 09 or another hour of preference depending with the country. This is under Tools-General settings.

[2020-05-13 11:45] mhabimana commented on #417
@Patowhiz -You are right,tmax, tmin and precip elements  are observed at 06 UTC?,For the case of Mozambique,they prefer to use local time,they have set 09 local time,so flexibility in setting the default observation time is required.

[2020-05-13 14:21] Patowhiz commented on #574
Fixed that in the validation changes PR

[2020-05-13 14:21] Patowhiz commented on #615
Looking into this

[2020-05-13 14:25] Patowhiz commented on #596
Pushed new changes in regards to this

[2020-05-13 14:37] mhabimana commented on #596
@Patowhiz -Thanks,I have seen the message box but when clicked at the **OK** button (message box, with the enter Key, the cursor should move to the next text box because most of the data entry don't use the mouse,only the enter key to move faster from a text box to anther.

[2020-05-13 14:41] mhabimana commented on #615
@Patowhiz - OK

[2020-05-18 16:37] Steve-Palmer commented on #417
It looks as though there are two issues here. One is the use of local time or UTC in forms (and how that is displayed to avoid confusion). The other is setting a default time of observation - and this should be documented in the observation schedule table. We probably need to log this issue as part of the debate on the V5 data model.

[2020-05-19 11:55] mhabimana commented on #574
@Patowhiz - Have you had the chance to look at  this form synoptic from_2_ra1, the transfer of Flags values (e.g.: M) is still not effected in the observationinitial table.

[2020-05-19 21:09] Patowhiz commented on #574
@mhabimana please go ahead and test this upload in my PR. It's now working from my end.

[2020-05-19 21:20] Patowhiz commented on #596
@mhabimana that's now fixed in my last commit. The message will pop up explaining the limits violations and the cursor will move to the control. Please test this on your side

[2020-05-20 05:14] Patowhiz commented on #615
@mhabimana looking at this closely, I think in our previous discussions we said, when the sequencer reaches the end, it should increment the date. That's what all forms are doing right now. They check if the sequencer has reached the end then they increment the dates if that's so, if not they go to the next element.

What are your thoughts on this? Do you still suggest this to be changed? Is it pa

[2020-05-20 05:19] Patowhiz commented on #517
@mhabimana if it's agreed that this setting should come from the database, I think it's much better to have it in version 5 model. I can try to have added in the prototype as part of the demonstration of version 5 model.

[2020-05-20 07:14] mhabimana commented on #615
@Patowhiz -Thank you for looking at this,You are right but you are missing a small point "The system check if the sequencer has reached the end then they go to the next element and increment the dates". For your case,the system increment starting from the end but for my case,the system go to the first element and increment the date,and so on.

[2020-05-20 09:56] isedwards commented on #517
Should this be an organisation-wide setting in the central database that applies to all users? If yes,
a) only an administrator should be able to change the default setting for everyone
b) we should probably continue to allow users to _temporarily_ change their setting, as they do now, if they need to (in case it is ever set incorrectly and they need to switch the sequencer on manually).

I think

[2020-05-20 11:54] smachua commented on #517
I agree with @isedwards on (a), (b) and that these changes be implemented in V4 data model. The existing table 'data_forms' is the most suitable for this purpose since it contains details of all forms. An attribute can be added to hold information on forms sequencer status. The modification may be implemented through a code rather than SQL script.

[2020-05-20 13:31] isedwards commented on #517
For changes like this, it makes sense to use "progressive enhancement" in the code.

If the database schema contains the new attribute then the code uses it, otherwise the error is caught and we fall back to just using the current hard coded default.

[2020-05-22 04:50] Patowhiz commented on #615
@mhabimana thanks for the clarification. This has now been fixed. Please test this and let me know

[2020-05-22 04:53] Patowhiz commented on #615
When testing this. Please do the same in the other entry forms. Cause the sequencer affects them too.

[2020-05-26 21:09] Patowhiz commented on #581
@mhabimana @smachua was this worked on. I can spend time on this if it's not been worked on.

[2020-05-26 21:37] Patowhiz commented on #574
Now working on the null element codes. Though I noticed that the current database doesn't accept null element code (looking at the database schema). When do the null get input in the database? I expect these nulls to be flagged during the migration.

[2020-05-26 21:51] Patowhiz commented on #580
@isedwards I'm not sure about frmAction and frmDataOutput but for the clsDataCall I have removed the 2 imports line statements, they were being used by the Entity Framework functions.

@mhabimana @smachua do we still need the 2 forms?

[2020-05-26 22:20] Patowhiz commented on #453
@mhabimana @smachua was this resolved in my last PR?

[2020-05-27 07:15] smachua commented on #581
@mhabimana and @Patowhiz let me look at it first. It's a very fast process and the most frequently used operation. That's why I didn't give it a priority since there isn't much to wait.

[2020-05-27 07:26] smachua commented on #574
@Patowhiz I hope I got your point. The elements (i.e. observation parameters) are identified by their codes. Am not sure how an observation can be used if it can't be identified. That's why null element codes and null station ids are not allowed in the database.

[2020-05-27 07:32] smachua commented on #580
@Patowhiz it's likely those 2 forms and probably few others are not being used. I will go through the forms and find out all those not being used so that they can be removed.

[2020-05-27 07:35] smachua commented on #453
@mhabimana is testing the Sequencing and will give a report soon.

[2020-06-03 11:40] Patowhiz commented on #453
Okay. @mhabimana looking forward to your feedback.

[2020-06-03 11:40] Patowhiz commented on #580
Okay.

[2020-06-03 11:41] Patowhiz commented on #581
Okay

[2020-06-05 10:31] mhabimana commented on #615
@Patowhiz - This is working well and can now be closed.

[2020-06-05 10:32] mhabimana commented on #611
This issue can now be closed.

[2020-06-05 10:34] #615 closed

[2020-06-05 10:35] #610 closed

[2020-06-05 10:35] #607 closed

[2020-06-05 10:36] mhabimana commented on #596
@Patowhiz -Thanks,this is now working well.

[2020-06-05 10:36] #596 closed

[2020-06-05 10:40] mhabimana commented on #570
@Patowhiz -This is working well and can now be closed.

[2020-06-05 10:40] #570 closed

[2020-06-05 10:51] mhabimana commented on #569
@Patowhiz -This need your attention and review. saving period values is not yet done on Daily2 form. and Hourly form.  After typing and saving this, when view in the table (table view) ,you find the period cell is empty.

[2020-06-05 11:03] mhabimana commented on #556
This has been implemented successfully and currently working well.

[2020-06-05 11:03] #556 closed

[2020-06-09 12:50] mhabimana commented on #260
@smachua - There is an issue of permission when exporting metadata and data from the Data entry forms  via the export command button as an csv file output (see below):
![IMG-20200608-WA0001](https://user-images.githubusercontent.com/10340170/84149326-f6abdb00-aa68-11ea-9a1a-eb5dafcb92f7.jpg)

[2020-06-09 14:53] smachua commented on #260
@mhabimana I will resolve it.

[2020-06-10 07:52] smachua commented on #260
Resolved through PR #622

[2020-06-12 06:52] Patowhiz commented on #569
@mhabimana it was an event that was not being raised. I have fixed this

[2020-06-12 08:47] mhabimana commented on #569
@Patowhiz - Thanks, period values are now being saved,so this can now be closed.

[2020-06-12 08:47] #569 closed

[2020-06-17 11:19] smachua commented on #611
@mhabimana and @Patowhiz I wish to reopen this issue because it has not worked for all users. Now that Uganda Met has resumed data operations they tried to update the database with the upgrade script but the problem still persisted. Through Teamviewer I tried and confirmed that forms can't open but show the same errors described above. I exported their database schema as attached here below. Surpr

[2020-06-17 11:27] mhabimana commented on #611
@smachua -Thanks. Very interesting.

[2020-06-17 11:49] mhabimana commented on #611
@smachua- I am trying to understand this problem and wonder if you can you give us more details on their server? (which Operating System (Windows or Linux) and version?).e.g: Windows server 2012.

[2020-06-17 11:58] smachua commented on #611
@mhabimana it's Windows but not sure of version. Why do you look at from that angle? I know it has been used on the Climsoft database for a couple of years.

[2020-06-17 12:24] mhabimana commented on #611
@smachua - Thanks,but the script you have shared does not have any data entry form. Can you share a complete one?

[2020-06-17 12:31] mhabimana commented on #611
I am looking at this angle because, the same software is working on some system and doesn't to others.

[2020-06-19 09:49] mhabimana opened #625 "Problem of permission when adding a new database connection"
There is a problem of permission when adding a new database connection,see below screenshot of the error message. The only way to add a new database connection is to add this manually in the configuration file,which is not a good practice.
![image](https://user-images.githubusercontent.com/10340170/85119834-09719d00-b22b-11ea-8d32-9da7d3894dd0.png)

[2020-06-19 10:14] isedwards commented on #625
The database connection details are now stored in the windows registry.

However, the software still checks for the `config.inf` file incase there are settings there that need to be remembered from an old version of Climsoft (but it doesn't update/write to the `config.inf` file anymore).

I'll take a look at the code and see what might be happening.

[2020-06-19 11:54] mhabimana commented on #625
@iedwards - It is working  well. Apparently,it was my installation,I had to uninstall Climsoft and re-install it again on my PC. Thought under "Connection name; it is not accepting a space when naming a connection("e.g: it will not accept something like this: "Default Database" but rather "DefaultDatabase" or "DefaultDatabase",so one word or if two,put an underscore between the two words.

[2020-06-19 12:43] smachua commented on #625
@isedwards the default name (i.e. Default database) need to be initially joined. It won't adding another database if it isn't.

[2020-06-22 12:38] mhabimana commented on #374
@Patowhiz @smachua - There is still a problem of sequencing on the form Monthly; it is not sequencing automatically to the following year but rather stopping on the next element. If for example one element is set in the sequencer(e.g: element 208),logically,after entering for example monthly data for the year 2000 and save,the **AddNew** should call a blank form with the following year 2001 and so

[2020-06-23 09:29] mhabimana commented on #374
@Patowhiz : This is happening on the form Monthly only,other forms are working well.

[2020-06-25 11:50] sawadogolazare opened #626 "Some elements for one day (form daily1)"
Hi,

I am Sawadogo Lazare, from Burkina Faso National Meteorological Agency.

In my office, for doing decade bulletin, we have to get data everyday for some elements.
To save data, we are still using Climbase database system.
But Climbase work only in WINDOWS XP, which has become obsolete.
It is why I would like Form_Daily1 (Data for some elements for one day) become active.

Thank you very much.

[2020-06-25 13:02] mhabimana commented on #626
@sawadogolazare -Thanks for your request.It is true that though there is a provision for this form (**Form Daily1**) in Climsoft version 4, this has not yet been done but your request is well received and will be put among urgent tasks to be done by  Climsoft development team members. Form_daily1 looks like this in Climsoft version 3 (see below):
![image](https://user-images.githubusercontent.com/

[2020-06-30 06:27] mhabimana commented on #374
@Patowhiz - This form is also accepting data for future date,which is not good.

[2020-07-01 07:44] mhabimana commented on #374
@Patowhiz - I am happy with the sequencer and future dates behaviour,however,I am getting this error when Uploading;
![image](https://user-images.githubusercontent.com/10340170/86217199-ccd96600-bb87-11ea-9eb6-60fc10f3e69a.png)

[2020-07-01 13:48] Patowhiz commented on #374
Thanks @mhabimana . I have fixed that bug.

[2020-07-01 15:25] mhabimana commented on #374
@Patowhiz -Thanks,this is now working well and the issue can be closed.

[2020-07-02 07:28] mhabimana commented on #374
@Patowhiz - I reopen this because,we are still missing the period of data in the database. Monthly data is a cumulative or average of  the whole month and it was agreed that the period should be the last date to differentiate such data with the rest in the database (e.g.:Hourly,Daily,etc). I think when keying in data in the form,the system should check the year and the month and fill the period bo

[2020-07-03 08:43] Patowhiz commented on #374
@mhabimana thanks. I have fixed that feature

[2020-07-03 08:59] #374 closed

[2020-07-27 11:49] Patowhiz opened #632 "Data Entry Forms Not Working In some computers"
As mentioned by @smachua and @mhabimana some computers are unable to to open the data entry forms. Upon investigating this in the Ugandan server, we have noticed that there is a bug in the code due to reading from a static constant which gives the wrong database name that causes the data access object to read the wrong database schema.

[2020-07-27 17:26] #632 closed

[2020-08-03 10:43] Steve-Palmer commented on #477
In the early Microsoft Access version of Climsoft, there was a single-column primary key for each entry in the Observation table, because this was a design default of Access, and the composite key was not implemented, though all the entities were present. This led to significant problems with referential integrity, because developers could easily bypass the metadata tables and directly address the

[2020-08-04 12:59] mhabimana commented on #626
@Patowhiz @smachua here is the issue on Form_daily1(data for some elements for one day).

[2020-08-07 09:55] mhabimana commented on #480
Colleagues,
I want to get your view on the inventory output. @smachua is improving on the **inventory for available and missing data** and your views on the inventory output format are desirable. I attached a sample output file for your reference. As you can see in the attached inventory file output (csv), available data are represented by an **X** and missing data by **M**.
Below is my selection

[2020-08-07 11:05] rdstern commented on #480
Hi Marcellin,

I just report that Samuel sent me an example of his inventory output for missing data from various stations in Mozambique.  The same format you mention.

I was easily able to read his file into R-Instat and then look at different summaries.

I attach the results after an example of one summary – again back in Excel.

We are also in the process of examining different tabular and grap

[2020-08-07 11:16] mhabimana commented on #480
@rdstern -Thanks.
Can you please,attach the file you mentioned again?

[2020-08-10 09:03] mwaurahk commented on #480
Hi Marcellin,
I think it's Ok..with none existing days staying blank.

[2020-08-10 10:36] Iyakaremyevedaste commented on #480
Hi Marcellin & the team. Thank you so much for your efforts to improve on Climsoft.
The existing inventory is okay, but it needs more improvements on graphical outputs. Having M and X as the representation of missing and available data in tabular form is not enough to have a quick summary of inventory. I suggest you add some summary statistics like the number of missing data per station per elemen

[2020-08-10 10:46] mhabimana commented on #480
@Iyakaremyevedaste - Thanks for your contribution on this.

[2020-08-10 11:23] smachua commented on #480
Thank you @Iyakaremyevedaste for your good feedback. I will try and incorporate most of your suggestions. But we cannot just output the summary without showing from which day data is missing.

[2020-08-10 13:21] mwaurahk opened #635 "Extreme values"
Hi,
 I would like to be able to pull out extreme values for short periods - e.g an hour, day, month, year in tabular form.
For instance a common request is highest 24hr rainfall for station X per month or year...the current configuration only allows for a single value and date(long-term).

[2020-08-10 13:46] mhabimana commented on #635
@mwaurahk - You are right,this is missing at the moment and need to be considered as we are improving on version 4.

[2020-08-14 17:35] smachua commented on #480
Inventory output with summary of days for missing and available data is now tabulated as shown in the attached file.  Soon I will work on graphic charts based on that summary.

![inventory](https://user-images.githubusercontent.com/12034121/90276823-362de380-de6d-11ea-8cac-1c93f7b102f5.jpg)

[2020-09-15 11:32] mhabimana opened #638 "Areas of Improvement on Climsoft Version4 - Users Feedback received via Climsoft Version 4 Performance Evaluation Questionnaire."
Below is the wish list of Climsoft Users collected via Climsoft Version 4 Performance Evaluation Questionnaire. @karenmccourt has suggested we have an issue on this via the GitHub for reference and consideration as we are improving Climsoft further:
_-	Make the Automatic Weather Station (AWS) ingestion an independent program that needs no manual intervention when power goes on and off in a way mak

[2020-10-13 09:34] mhabimana commented on #626
@Patowhiz - Any progress on this form?

[2020-10-19 10:29] fmucyo opened #642 "Derived parameters like RH, Dew point etc to be stored immediately"
Hi Team,

Recently,  We had training with our climsoft operators and they said it could be much better if the derived parameters like RH, dew point temp to be derived, and stored in let say hourly form while the climsoft operator is keying the data without going back and re-enter the data again.

Would it be possible to add some simple products (Like graphs) in any entry form interface that could

[2020-10-25 11:52] mhabimana commented on #544
Colleagues,
I reopen this issue to add a link to the SQL file to update **climsoft test database** with metadata and data for 3 stations from Niger as requested by @rdstern. I could not upload the file directly here ,it is a bit large, around 534 MB.Below is the link:
https://u.pcloud.link/publink/show?code=XZlfApXZx957Bpg2hBQStC1i6GEOcVUqpnj7

[2020-10-27 11:14] Steve-Palmer opened #643 "Replace Element_id with Element_Name in user-accessible forms eg Sequencer for Daily Data"
The form "Sequencer for Daily Data" enables the user to choose which elements are showed on a key-entry form. Currently this shows Element_id (an anonymous number) rather than the Element name. This implies that the user remembers the Element_id codes and types them in manually. Can this be changed to display/choose the Element_Name names? As a general rule, any attribute with "_id" as a suffix is

[2021-01-28 11:49] berenger07 commented on #549
Bonjour,

j'utilise ClimSoft depuis peut et j'aimerais recevoir une aide pour créer et personnaliser des formulaires. En effet on souhaiterait sur ClimSoft disposer de formulaires correspondant aux carnets d'observations de nos stations synoptiques.
De plus j'aimerais aussi pouvoir créer dans ces formulaires des champs calculés automatiquement en y insérant des formules pour calculer automatiqueme

[2021-01-31 12:42] mhabimana commented on #549
@berenge07- Merci bcp pour votre email. Il serait mieux d'utiliser les formulaires de saisie actuellement existant dans climsoft pour faire la saisie de vos données climatiques. Le carnet d'observation contient les données journalières et horaires et les formulaires pour saisir ces types de données existent déjà dans Climsoft. cordialement.

[2021-02-26 14:58] berenger07 commented on #549
Bonjour,
merci pour vos directives. 
J'ai fais comme vous avez dit et j'ai réussi à utiliser les formulaires journaliers et horaires déjà existant dans Climsoft pour entrer des données correspondant aux paramètres relevés dans les carnets d'observations. 
De plus j'ai ajouté des données historiques contenu dans des fichiers CSV à Climsoft en faisant correspondre les entêtes des colonnes dans le me

[2021-03-02 14:22] mhabimana commented on #549
@berenger07 - Merci bcp de nous faire part de ton évolution. C’est gentil.
Concernant le transfert de données (importation) en utilisant le fichier de données, je te recommande à visiter le lien pour plus de détails pour visualiser les données après importation (vidéo démo) : vidéo sur le transfert des données horaire (English).
Toutefois, pour répondre à ta question concernant l’importation: Clim

[2021-03-05 07:32] mhabimana opened #645 "Computation of Minimum,Mean and Maximum from hourly data"
A feature for computation of Minimum,Mean (average) and Maximum from hourly data has been requested by both @fmucyo (Rwanda) and @berenger07 (Cote d'Ivoire).

[2021-03-05 07:53] isedwards commented on #645
@dannyparsons - can we get your thoughts on doing this in Climsoft 4 using R (possibly without having to install the whole of R-Instat)?

[2021-03-05 08:15] mhabimana commented on #645
@isedwards - Thanks
I am thinking some more radio button may be added under **Summary Type** to select **Maximum** or **Minimum** computation or calculation.
![image](https://user-images.githubusercontent.com/10340170/110086901-02cc8b00-7da4-11eb-926c-3608ddaf515f.png)

[2021-03-05 08:39] smachua commented on #645
@mhabimana Climsoft V4 can provide these products although not in one go.

(i) The Mean of Hourly data will be produced when you select products for Daily, Monthly or Annual. Usually those elements that are observed several times in a day will be averaged according to the selected duration (i.e. daily, monthly or annual). Even the minutes observations say from AWS can be averaged through the produ

[2021-03-05 09:15] mhabimana commented on #645
@smachua - Thanks,This is noted.
@fmucyo and @berenger07 : can you try this and give us your feedback?

[2021-03-05 09:21] berenger07 commented on #645
OK I'll get back to you shortly.

KOUACOU Adou Kouassi Doré BerengerIngénieur en Télédétection, SIG et Bases de Données Direction de la météorologie Nationale (SODEXAM)Contact: +225 0708736793/+225 0505655191Boîte Postale: 10 BP 3310 Abidjan 10

    Le vendredi 5 mars 2021, 09:15:48 UTC, Marcellin <notifications@github.com> a écrit :

@smachua - Thanks,This is noted.
@fmucyo and @berenger07 : can

[2021-03-05 12:10] mhabimana commented on #645
@berenger07,@fmucyo: Daily extremes feature will in Climsoft will be able to compute fro you daily Min and Max from Hourly data if you select the right element for hourly data (e.g: Dry bulb(code:101),see below:
![image](https://user-images.githubusercontent.com/10340170/110113937-eb51ca00-7dc4-11eb-9a49-b517d9080ce3.png)

![image](https://user-images.githubusercontent.com/10340170/110113957-f3aa0

[2021-03-19 08:06] SimonDirkse opened #648 "Testing please ignore"
This message is simply to test from a newb........

[2021-03-19 08:08] smachua commented on #648
It's ok @SimonDirkse. You're most welcome.

[2021-03-25 09:32] mhabimana commented on #626
@sawadogolazare - Hope you are well. is to inform you that form daily1( a customised data entry form for entering elements for one day) is now working well in our latest release [V4.1.9](https://github.com/climsoft/Climsoft/releases/tag/V4.1.9). Great if you can upgrade version your version,test this and then give us your feedback.

[2021-03-25 09:38] mhabimana commented on #648
This can be closed. Thanks @SimonDirkse  for joining and testing this platform,feel free to go through existing issues and contribute to existing ones or raise new ones.

[2021-03-25 09:38] #648 closed

[2021-03-25 10:12] mhabimana commented on #635
This has been implemented already and working well under(Daily,Monthly and Annual extremes. @mwaurahk if you are happy now ,we can close this issue.

[2021-04-27 14:14] berenger07 commented on #645
Bonjour ,
I get this message when I run an update after correcting and saving the file by appending updated to the lower and upper limit file name

cannot add or update a child row a foreign key constraint fails (mariadb climsoft_db_v4, observation initial , CONSTRAINT 'FK_maria_climsoft_db_v4_station_observationinitial' FOREIGN KEY (recorderForm) REFERENCES 'stations' ('stationId))

ci-joint l'im

[2021-04-27 14:25] mhabimana commented on #645
@berenger07 - I can not see the screenshot,please,attached this. Are you trying to do Quality Control(QC) of data?

[2021-04-27 14:33] berenger07 commented on #645
 Yes I try to do the quality control. But I get an error message. 
I am attaching the message to you in a document.
and another concern. Is it possible to put the interface in French.
Thank you
KOUACOU Adou Kouassi Doré BerengerIngénieur en Télédétection, SIG et Bases de Données Direction de la météorologie Nationale (SODEXAM)Contact: +225 0708736793/+225 0505655191Boîte Postale: 10 BP 3310 Abidja

[2021-04-27 14:40] mhabimana commented on #645
@berenger07 - Noted but still I am not seeing any attachment. Can you respond via GitHub and use the GitHub facility at the bottom of the page to attach the screenshot.
Regarding the French interface,this is not yet available at the moment but we have the plan to translate the software in other languages,including French.

[2021-04-27 14:50] berenger07 commented on #645
attached the capture of the error message
![egb](https://user-images.githubusercontent.com/36269507/116262311-f2171080-a767-11eb-895f-f43dd5121a81.jpg)

[2021-04-27 15:15] berenger07 commented on #645
no, I haven't changed anything, I just correct the values ​​below and above the limits I had defined and I rename the file by adding updated. I enclose the files of the HQ
[qc_report_lowerlimit_202101_202101.csv](https://github.com/climsoft/Climsoft/files/6385622/qc_report_lowerlimit_202101_202101.csv)
[qc_report_lowerlimit_202101_202101_updated.csv](https://github.com/climsoft/Climsoft/files/6385

[2021-04-28 07:29] mhabimana commented on #645
@berenger07 -Thanks for sharing the QC files report,will look at it and come back to you.

[2021-04-28 07:47] berenger07 commented on #645
Ok thank you I am waiting.

KOUACOU Adou Kouassi Doré BerengerIngénieur en Télédétection, SIG et Bases de Données Direction de la météorologie Nationale (SODEXAM)Contact: +225 0708736793/+225 0505655191Boîte Postale: 10 BP 3310 Abidjan 10

    Le mercredi 28 avril 2021, 07:29:53 UTC, Marcellin ***@***.***> a écrit :

@berenger07 -Thanks for sharing the QC files report,will look at it and come back

[2021-04-28 07:50] mhabimana commented on #645
@berenger07 - I am trying to reach you via what'sup but it seems you are not connected.

[2021-04-28 07:57] berenger07 commented on #645
Ok I am connected now.

[2021-04-28 07:59] mhabimana commented on #645
@berenger07 -I am using your number ending with 93. Is it the one connected to what's up?

[2021-04-28 08:23] berenger07 commented on #645
Yes it's the number that passes

[2021-05-18 08:36] mhabimana opened #652 "Request for improvement from Cote d'Ivoire NMS"
I had a virtual meeting with @berenger07 from Cote d'Ivoire NMS yesterday,17/05/2021 and was pleased to see that they managed to install and customised Climsoft version4 to suit their needs on their own following online resource material on Climsoft. Following areas of improvement on the software were requested:
1. Translation of the software in French to have dialogues in French;
2. Enhanced the

[2021-05-18 16:00] rdstern commented on #652
@mhabimana this is very timely as we have our meeting together with Karen McCourt on Thursday to plan the activities for this year.
So, this is also a good time to look through the issues for Climsoft and for @berenger07 and others to make any more suggestions for our consideration.

I can also comment that we have been struggling mightily to include the first item (French version) in R-Instat.  I

[2021-05-19 10:40] berenger07 commented on #652
yes I think it's all there. Thank you for this zoom meeting which allowed me to remove several doubts. And concerning the French version it would be welcome. Even if with this one we manage to make our entries correctly. The areas for improvement proposed once integrated, we will make it fully operational on Climsoft.
Thank you

KOUACOU Adou Kouassi Doré BerengerIngénieur en Télédétection, SIG et

[2021-08-23 14:02] mhabimana commented on #544
@iedwards :Here is the link containing the test database with data from Zimbabwe,Western Kenya and Niger: https://my.pcloud.com/#page=filemanager&folder=7482481473&tpl=folderlist

[2021-09-08 07:36] mhabimana opened #657 "Data Entry Issue Eswatini"
Please,can any one have a look at this and advise:
![image](https://user-images.githubusercontent.com/10340170/132466469-96935924-ff2d-4930-870a-f25600fcf52d.png)

[2021-09-08 07:37] mhabimana commented on #657
@menzi: Thank you sharing.I will come back with a fix shortly

[2021-11-25 14:32] mhabimana opened #669 "Provision of button to convert Inches to mm"
Currently there is provision to enter rainfall data with inches as unit on form daily2 data entry form but there is need to provide a conversion button to allow conversion from inches to mm before data are uploaded into observationinitial and observation final tables to make sure rainfall data is stored in the same units. This is very important,especially during computation of summarized data from

[2021-12-03 12:54] mhabimana opened #670 "New feature required"
GIS and mapping

[2021-12-06 16:21] Steve-Palmer commented on #670
Agreed that a GIS and mapping capability is needed; the question is about what package to interface to. There are some risks - in particular, rainfall is a highly skewed distribution, especially as one works with shorter timescales, and also the rain/no rain boundary is important. These may not be handled adequately by the point-to-area conversion built into GIS packages.

[2022-01-03 06:39] Patowhiz opened #671 "Improving the user password change dialog interface and code"
Currently the dialog uses the `frmLogin` textbox connection string to connect to the database. This textbox will eventually be removed because we now store the connection string in  `clsDataConnection` class.

Current user feedbacks are through message boxes.

I suggest using `clsDataConnection` class for database connection and also using labels and message boxes to give users feedback in regards

[2022-01-03 07:57] Patowhiz commented on #671
I would also suggest to add a "Current Password" input text box for extra security reasons, just to ascertain that indeed the user changing the password knows the current password.

[2022-01-03 08:52] Patowhiz opened #672 "Improve o n the user management dialog interface, experience and code"
Currently the addition, updating and deleting of users can be confusing on this dialog.
For instance its not clear that the climsoft user selected is the one being deleted, and the user flow is at times from right to left and left to right. I observed this confusion in Namibia when the user admin was trying to update the climsoft users.

I suggest having a 1 user flow design that is easier and cle

[2022-01-03 08:59] Patowhiz opened #673 "Improve on the text files import dialog interface, experience and implementation"
Currently the import dialog has 'fixed' controls used for setting importing configurations of different text files. This can be confusing to the user. Other important settings like date formats are also not clearer to the user.

I suggest improving this dialog and making it dynamic in regards to the import settings. Also refactor its current import code.

[2022-01-03 09:03] Patowhiz opened #674 "Supporting common file formats for importing to climsoft"
Currently climsoft only supports csv and fixed tab files for imports.

I suggest supporting excel and variable fixed tab files for imports too. These files are commonly used in Met institutions.

[2022-01-13 08:10] mhabimana opened #676 "Data Entry Form for Dekadal data input"
This data entry form is required for entering dekadal data (3 values per month) and was requested by @sawadogolazare .

[2022-01-17 21:28] Steve-Palmer opened #677 "Bugs in import of NOAA GTS data"
The dialogue for importing files downloaded from NOAA NCEI (Note the Help refers to NOAA-NCDC, but the hourly and daily synoptic data archives are now accessed through NCEI) has at least two bugs. The first is that the files downloaded from NOA NCEI are type .csv but the dialogue demands type .txt. Renaming the file from type .csv to .txt gets round this. Selecting this file in the Browse dialogue

[2022-01-18 07:38] smachua commented on #677
@Steve-Palmer I had noted that bug and was planning to have NOAA NCEI files be imported through other text files import dialogs. However, I noted that these files have temperatures in degree Fahrenheit thus making them a bit special. I am therefore addressing that bug and have the NOAA NCEI files imported without issues using the same dialog. I will be through in a day or two.

[2022-01-31 10:05] Patowhiz opened #679 "GeoCLIM dekad & daily data products"
Currently we have 3 GeoCLIM data products listed in the products selection form. Only the monthly one is implemented.

I suggest implementing the 2; dekad and daily, or removing them from the list.

[2022-02-01 09:11] mhabimana commented on #679
@Patowhiz : Thanks for raising this issue, @smachua has implemented the GeoCLIM monthly and can tell us if he is still happy to finalise with the 2 remaining GeoCLIM products (dekadal and daily) ,otherwise this can be assigned to someone else in the team.

[2022-02-01 15:04] smachua commented on #679
@mhabimana it's ok I will do it.

[2022-02-02 08:28] mhabimana commented on #679
@smachua :Thanks,noted.

[2022-02-09 14:25] ibou67 commented on #670
Bonjour à la communauté climsoft
Juste pour demander s'il existe un tutoriel sur youtube concernant la gestion des archives papier.
Merci

[2022-02-09 15:25] mhabimana commented on #670
@ibou67 :Merci de nous contacter,le guide video n'est pas encore disponible,toutefois, le guide manuel est disponible et tres simple pour vous guider: https://www.met-elearning.org/pluginfile.php/15873/mod_label/intro/Guide_CLIMSOFTV4_Paper%20Image%20Archiving.pdf

[2022-02-10 09:51] ibou67 commented on #670
Merci bien noté

________________________________
De : Marcellin ***@***.***>
Envoyé : mercredi 9 février 2022 15:26:16
À : climsoft/Climsoft
Cc : ibou ndiaye; Mention
Objet : Re: [climsoft/Climsoft] GIS and mapping feature required (Issue #670)

@ibou67<https://github.com/ibou67> :Merci de nous contacter,le guide video n'est pas encore disponible,toutefois, le guide manuel est disponible et tres

[2022-02-10 13:27] Patowhiz opened #680 "Error when I try to produce inventory product"
@smachua @mhabimana I'm getting an error when @dannyparsons and I try to produce the inventory product (Details of Data Records). See screenshot below.

A quick search on this bug in [stack overflow](https://stackoverflow.com/questions/59993844/error-loading-local-data-is-disabled-this-must-be-enabled-on-both-the-client) entails that I need to run `sql` code to get security rights on mysql server.

[2022-02-10 14:06] Patowhiz opened #681 "Error when I try to produce "Inventory of Missing Data" inventory product"
@smachua @mhabimana I'm getting an error when @dannyparsons and I try to produce the "Inventory of Missing Data" inventory product. See screenshot below.

Looking at the code I noticed that this product is supposed to be generated by a procedure in the database level? So I presume my database script didn't have this procedure and current users have it?  I wonder whether it would be useful to have

[2022-02-10 14:43] Patowhiz commented on #681
@mhabimana thanks for the response. Do you have a sample output that I can have a look at?

[2022-02-10 15:00] mhabimana commented on #681
@Patowhiz : Below are the procedures,you need to run each of them once to create required tables,

- [find_gaps.txt](https://github.com/climsoft/Climsoft/files/8041935/find_gaps.txt)
- [gather_stats.txt](https://github.com/climsoft/Climsoft/files/8041936/gather_stats.txt)
- [refresh_data.txt](https://github.com/climsoft/Climsoft/files/8041937/refresh_data.txt)
- [refresh_gaps.txt](https://github.c

[2022-02-10 15:07] smachua commented on #680
@Patowhiz the message indicates that your database is disabled for external data import(upload). The disabling must have been done through other methods outside Climsoft. Check if some settings have been done using some other database management tools. I have encountered such in a database at Madagascar where they were purposely disabling data uploads as a protective measure and enabling it when u

[2022-03-04 07:22] Patowhiz opened #683 "form_agro1 Key Entry Form Inconsistency?"
I noticed `form_agro1` design suggests that the elements are measured at specific time. However, when saving, the records are saved with the default hour 6 as part of the datetime. I wonder what the time labels **@ specifictimeGMT** stand for?

![formagromet](https://user-images.githubusercontent.com/21179007/156717768-8b3d695d-edfb-4645-8990-cc2e94b894bc.PNG)

[2022-03-04 10:01] smachua commented on #683
@Patowhiz this a key entry form used only in Kenya to capture data used in making agro-met products in a monthly bulletin. The text boxes grouping labels are meant to guide the key entry operators since that how the actual form is designed. See the attachment.
The elements have been observed daily but at different hours. For convenience of their use, in the metadata they are defined with different

[2022-03-07 11:04] Patowhiz commented on #683
@smachua thanks for your response. It now makes sense to me.

Just to make sure I understand you correctly, see my comments below;

So they have a paper form that has header labels with observation hour for specific elements (e.g 0500 GMT, 0900 GM, ), but they chose to archive the observations with hour 6 (based on the screenshot of the paper form sent you have provided above). So because of that

[2022-03-07 11:47] smachua commented on #683
@Patowhiz you are right with those comments. Unless Marcellin has anything to say the issue can be closed.

[2022-03-14 14:14] Patowhiz opened #684 "Climsoft support for .Net 6?"
Microsoft .Net team just released .Net 6. Compared to .Net framework 4, the new .Net 6 has more advanced features like simplified development, better performance and ultimate productivity. You can read more on the same in this [link](https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-6).

I suggest making plans for using the .Net 6 as it is the future of .Net.

Of course if we plan to m

[2022-03-22 08:14] mhabimana opened #685 "DAYCLI Message"
WMO is implementing a new message over the GTS, the DAYCLI message. This message will contain daily values for temperatures, precipitations and snow and will be send at a monthly frequency. It is foreseen that this message will include metadata and in particular the time slots used for the daily parameters  : T Max, T Min, T Average, Precipitations, Depth of Fresh snow and total depth of snow.

[2022-03-22 09:01] SimonDirkse commented on #685
Dear Marcellin

Thank you for this information. I will follow this up.

Best regards

On Tue, Mar 22, 2022 at 10:14 AM Marcellin ***@***.***> wrote:

--
Simon A Dirkse
Tel: +264-(0)61-2877012
Cell: +264 8125 99663
Windhoek
Namibia

[2022-04-13 06:17] Patowhiz opened #686 "R-Instat Output"
Currently we only have Instat output as part of the output for other applications.
As @rdstern suggested, we also need an output for the new R-Instat. This will particularly help Met service staff members that don't have direct access to the climsoft database.

[2022-04-13 06:21] Patowhiz opened #687 "Import files dialog - Texts, CLICOM, AWS, NOAA GTS, Dekadal"
The selection of the file type is currently hard coded into the title and label control of the import dialog. However this are currently translated string literals.
As discussed, the dialogs involved need to be refactored to not use these translated string literals

[2022-04-13 06:24] Patowhiz opened #688 "Form products selection"
The selection of the products is currently hard coded into controls and string literals that are translated during runtime.
As discussed, the dialogs involved need to be refactored to not use these translated string literals

[2022-04-13 06:26] Patowhiz opened #689 "Data entry forms activation and selection"
The selection and activation of the data entry forms is currently hard coded into controls and string literals that are translated during runtime.
As discussed, the dialogs involved need to be refactored to not use these translated string literals

[2022-04-13 06:54] Patowhiz opened #690 "French translations"
The current French translations are just auto translations from C.rowdIn
The approved French translations done by @mhabimana need to be added into the translations database.
Dialogs also need to be refactored to work well with the new French translations

[2022-04-13 06:55] Patowhiz commented on #690
Dynamic texts also need to be translated into French.

[2022-04-25 14:13] ephiri-king opened #692 "sequencer update"
sequencer not working properly in the old system version 4,0

[2022-04-28 16:45] mhabimana opened #693 "Users with root / admin right are not able to see records entered by operator users in the data entry forms"
@Patowhiz : Can you please investigate why the user with climsoft admin / root  privilege are not able to see data entered by operator users in the data entry form but when clicking on the **view** button on the form, data exist in the data view table?. In real operation,users with  admin / root privilege should be able to see data entered by all users in the forms and when selecting the view butt

[2022-04-28 18:26] Patowhiz commented on #693
Let me look into it and get back to you

[2022-05-19 17:33] berenger07 opened #694 "Proposition d'ajout d'options à ClimSoft"
Bjr,

j'aimerais suggérer quelques modifications que je trouve pertinentes dans les prochaine mise à jour de ClimSoft :

La première est une case à cocher qu'on appellera "Moyenne Required" qui sera à cocher pour les paramètres telle que la température. Elle servira comme l'option "Total Required" pour les paramètres qui nécessite un total. Elle permettra de vérifier aussi les valeurs de moyennes

[2022-05-19 19:46] mhabimana commented on #694
@berenger07 : Merci beaucoup pour tes bonnes suggestions, l'equipe charger du developement du systeme Climsoft va  discuter sur tes suggestions et prendre la decision. N'hesiter pas à soulever autres soucis necessitant l'ameliorition du systeme Climsoft.

[2022-05-19 20:31] sessoumaud commented on #694
Comme suggestion :
1- c'est de revoir les droits à donner au super user de Climsoft pour qu'il n'ai pas les même droit que le root de la base de données mysql.
2- pour la convivialité pour changer de user ds Climsoft prévoir un bouton "deconnexion" qui ramène sur la page de log. Au lieu d'être obligé à chaque fois de fermer complètement l'application avant de se reconnecter.

Je vous revient pour

[2022-05-19 20:38] mhabimana commented on #694
@sessoumaud : Bien recu.

[2022-05-20 11:18] berenger07 commented on #694
Petite erreur d'orthographe à corriger sur la fenêtre sites c'est data structure et non data strucure.
![IMGq](https://user-images.githubusercontent.com/36269507/169516978-853a577c-ded7-4011-89b5-c8ffef170a7f.png)

[2022-05-20 20:29] mhabimana commented on #694
@berenger07: Merci de découvrir et de signaler cette erreur de frappe, elle sera corrigée.

[2022-05-27 18:59] isedwards opened #695 "Keeping intermediary data entry tables"
I'd like to propose that all software that interacts with Climsoft 4 databases continue to use the intermediary data entry tables like `form_daily2`.

If we update the data entry form code to interact directly with `observationinitial` then we may be in a situation where some countries are still using intermediary tables and other are not...  Climsoft desktop and OpenCDMS would have to support bot

[2022-06-01 13:11] mhabimana commented on #690
@Patowhiz and @dannyparsons : Any progress on this? I need to review the project after the french translation has been applied in the software.

[2022-06-01 14:54] adomdesmond opened #696 "FAILURE EXITING WINDOW DIALOG"
I was uploading an external daily data file for precipitation and I forgot to specify the element code. When I clicked on the button to upload the file, it gave me an error message. Now my challenge is that the system does not exit to allow me to do the correction.
I have attached the screenshots for your reference.
This is a programming issue that must be addressed.
 I could not close Climsoft. I

[2022-06-01 15:53] adomdesmond opened #697 "FORMS RESIZING"
1. The Climsoft forms and windows should be responsive to maximization and minimization. Currently, it is not, which poses a great challenge to persons with vision problems.
2. Apart from station IDs, search should be possible by entering the station name.

[2022-06-02 06:51] smachua commented on #696
@adomdesmond I haven't seen any screenshot. Please send it again and we will resolve the issue or advise on how to go about it.

[2022-06-02 07:08] smachua commented on #697
1. Your comment on forms maximization and minimization is noted. It is not implemented yet.
2. You can use the station name to search for the desired station record. Use the "Search Station Name" list box to select  and click on the station name you're looking for. By typing the first few characters of the station name makes it appear on the list. The form  will then be populated with the details

[2022-06-02 10:17] adomdesmond commented on #696
The problem was that I kept clicking OK all the time without the dialog
exiting.
Thanks for your response.

On Thu, Jun 2, 2022 at 6:52 AM Samuel ***@***.***> wrote:

[2022-06-04 12:21] mhabimana commented on #696
@adomdesmond : Thank you so much for raising these issues that require the attention on the development team.
It is always good to support your argument with a screenshot of the dialog. I also suggest that you add the issues sent earlier in the word document to @smachua ( e.g something you raised relating to the improvement of the calculator of dew point and RH,etc. ). Feel free to create a new is

[2022-06-05 15:36] adomdesmond commented on #696
Thank you, I will do that.

On Sat, 4 Jun 2022, 12:21 Marcellin, ***@***.***> wrote:

[2022-06-06 11:58] adomdesmond commented on #696
I present the attached document of my suggestions and recommendations for your attention.
[Climsoft Review2022.docx](https://github.com/climsoft/Climsoft/files/8844208/Climsoft.Review2022.docx)
If you need clarity on anything, let me know. I am still learning about Climsoft and I hope to gather much information from this collaboration.

[2022-06-07 07:40] Patowhiz commented on #695
@isedwards thanks for your suggestion.

The concept of interaction of data entry form with `observationinitial` directly is still under discussions. It's still not clear to the team what challenges may arise. Being the one that suggested this, I'm still exploring how this can be done correctly.

Ideally, this approach means slightly restructuring the `observationinitial` table to accommodate such

[2022-06-07 19:59] smachua commented on #696
@adomdesmond the element codes 93 and 851 represent Past Weather (1) and Past Weather (2) respectively. In some rare cases there happen to be two types of past weather that require reporting in the SYNOP code. Hence the need to have two different codes accommodate those observations.

[2022-06-10 11:54] mwaurahk opened #698 "Image Archiving in Climsoftv4"
Image archiving in Climsoft is currently a lengthy process that I would suggest be shortened by doing the scanning directly from Climsoft. I have in a mind a situation where climsoft together with some imaging software can work together seamlessly to scan, rename and archive an image in one operation, other than the current setup. I would like challenge our developers to come up with a solution to

[2022-06-13 05:47] ruirie opened #699 "QC in CLIMSOFT"
Hello Team,

I would like to request more QC functionalities to be built-in in CLIMSOFT as found in R-Instat. This way, it will avoid the data transfers in and out of CLIMSOFT for QC, thereby reducing likelihood of errors.

Onesmus

[2022-06-13 07:34] mhabimana commented on #699
@ruirie -Thank you so much to raise this issue,well noted. @Patowhiz can you please discuss @R-Instat the possibility of integration of this feature into Climsoft and revert back to us?
@ruirie feel free to add more required functionality you would wish to see in Climsoft for potential consideration in future Climsoft development and release.

[2022-06-13 08:11] Patowhiz commented on #699
Thanks @mhabimana and @ruirie for raising this. I'll discuss with R-Instat team and revert back on best way to implement this.

[2022-06-13 08:38] smachua commented on #699
This issue requires more discussions between Climsoft team and R-Instat team to see which QC functionalities that can be added on Climsoft interface. The initial purpose of linking R-Instat with Climsoft was for the users to benefit from the power of R-Instat while their data is still in Climsoft database. If it becomes necessary to build the same functionalities on both systems as it is the case